.valueIcon {
  padding-left: 12px;

  img {
    width: 24px;
    height: 24px;
  }
}

.dropdownIndicator {
  margin-right: 12px;
  color: #a6a2a2;
  width: 10px;
}

.select {
  font-family: "Nunito ExtraBold";
}
