.card{:style => "width: 18rem;"}
  = link_to team_path(team) do
    %img.card-img-top{alt: "Logo", src: image_path("fanta.jpg")}/
  .card-body
    %h3.card-title.center
      = link_to team.name.humanize, team_path(team)
