.card.team-card
  = link_to team_path(team) do
    %img.card-img-top{alt: "Logo", src: image_path("fanta.jpg")}/
    .card-body.team-card-body
      .card-title.team-card-title.center
        = team.name.titleize
