.container
  .col-xs-2
    .alert.alert-primary
      .team-header
        .team-logo.inline-block
          %img{alt: "Logo", src: image_path(team.logo_path)}
        .team-title.inline-block
          = team.name.humanize

  %ul.nav.nav-tabs.nav-fill
    %li.nav-item
      %a{"data-toggle" => "tab", href: "#team-squad", class: 'nav-link active'} Squad
    %li.nav-item
      %a{"data-toggle" => "tab", href: "#team-lineups", class: 'nav-link'} Lineups
  .tab-content
    .tab-pane.pane.active#team-squad
      = render 'team_players', team: team
    .tab-pane.fade#team-lineups
      = render 'team_lineups', team: team
