.heading {
  margin-bottom: 24px;
}

.noSpace {
  margin-bottom: 0;
}

.title {
  font-family: "Nunito ExtraBold";
  margin-bottom: 0;
}

.titleIcon {
  margin-right: 16px;

  svg {
    vertical-align: top;
  }
}

.h3 {
  font-size: 32px;
  line-height: 1;
}

.h4 {
  font-size: 24px;
  line-height: 1.33;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 8px;
}
