.clubs {
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow-y: auto;
  padding-right: 16px;
}

.clubLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
