.switcher {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  margin-bottom: 0;
  font-family: "Nunito Medium";
  font-size: 14px;
  line-height: 16px;

  input {
    opacity: 0;
    position: absolute;
  }

  --icon-color: #181715;
  --icon-border: #cfd2cd;
  --icon-background: #fff;
  --icon-transform: none;

  &:hover {
    --icon-border: #181715;
  }
}

.isChecked {
  --icon-border: #261fff;
  --icon-background: #261fff;
  --icon-color: #fff;
  --icon-transform: translate(16px);

  &:hover {
    --icon-border: #040052;
    --icon-background: #040052;
  }
}

.switcherToggle {
  width: 40px;
  height: 24px;
  border: 1px solid var(--icon-border);
  background-color: var(--icon-background);
  border-radius: 20px;
  position: relative;
  display: inline-block;
  transition: 0.3s background-color, 0.3s border-color;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--icon-color);
    transform: var(--icon-transform);
    position: absolute;
    left: 3px;
    top: 3px;
    transition: 0.3s background-color, 0.3s transform;
  }
}
