.header {
  --year-select-width: 124px;
  --gap: 24px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
}

.yearSelect {
  width: var(--year-select-width);
}

.heading {
  flex: 0 0 calc(100% - var(--year-select-width) - var(--gap));
}

.search {
  max-width: 718px;
  flex: 1;
}

.tabs {
  margin-top: 28px;
  margin-bottom: 30px;
}
