.link {
  --border-style: solid;
  --border-color: #d8d6ff;

  color: #261fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  outline-offset: 2px;

  &:hover {
    color: #261fff;
    text-decoration: none;
    --border-color: #261fff;
  }
}

.name {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px var(--border-style) var(--border-color);
  }
}

.button {
  --border-style: dashed;

  border: 0;
  padding: 0;
  background: none;
}

.large {
  font-size: 16px;
  line-height: 1.5;

  --icon-size: 24px;
}

.small {
  font-size: 14px;
  line-height: 16px;

  --icon-size: 16px;
}

.icon {
  line-height: 1;
  width: var(--icon-size);
  height: var(--icon-size);

  svg {
    width: 100%;
    height: 100%;
  }
}
