.wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.avatar {
  flex: 0 0 72px;
  width: 72px;

  @media (max-width: 1300px) {
    flex-basis: 60px;
    width: 60px;
  }
}

.info {
  flex: 1;
  min-width: 0;
}

.lastName {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #181715;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 2px;
  font-family: "Nunito ExtraBold";
}

.lastNameText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}

.firstName {
  font-size: 14px;
  line-height: 16px;
  color: #847577;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.newbie {
  flex-shrink: 0;
  padding: 0 6px;
  font-family: "Nunito Bold";
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  background: #28a745;
  border-radius: 8px;
}

.lastNameSkeleton {
  max-width: 150px;
}

.firstNameSkeleton {
  max-width: 100px;
}
