$(document).on('click' ,'.modal-player-item' ,function(e) {
    e.stopPropagation();
    const modalList = $(this).parent().parent().parent().parent();

    const blockId = modalList.attr('id').replace('modal-players-list','');
    const playerId = $(this).attr('id').replace('player','');
    const playerRow = $('#modal-player-data'+blockId);
    const avatarContainer = $('#avatar-'+blockId);
    const kitContainer = $('#kit-'+blockId);
    const nameContainer = $('#name-'+blockId);
    const firstNameContainer = $('#first-name-'+blockId);
    const roundPlayerContainer = $('#round-player-'+blockId);
    const countryContainer = $('#country-'+blockId);
    const clubContainer = $('#club-'+blockId);
    const positionsContainer = $('#positions-'+blockId);
    const playerBidContainer = $('#player-bid-'+blockId);
    const italPosNaming = ($('#position-naming')[0].getAttribute('value') === 'true');

    let nationalTour = false;
    if ($('#national-tour').length > 0) { nationalTour = ($('#national-tour')[0].getAttribute('value') === 'true'); }

    let slotPosition = [];
    if ($('#real-position-'+blockId).length > 0) { slotPosition = $('#real-position-'+blockId).attr("value").split("/"); }

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/players/"+playerId,
        success: function(data){
            avatarContainer.attr("data", data.avatar_path);
            clubContainer.text(data.club_code);
            countryContainer.text(data.national_team_name);
            roundPlayerContainer.attr("value", playerId);
            playerBidContainer.attr("value", playerId);

            if (nationalTour) {
                kitContainer.attr("data", data.national_kit_path);
            } else {
                kitContainer.attr("data", data.kit_path);
            }

            if (data.first_name != null) {
                firstNameContainer.text(data.first_name);
            } else {
                firstNameContainer.text("");
            }

            positionsContainer.children(".team-player-position").remove();
            data.position_names.forEach((positionName, index) => {
                let posName = data.classic_positions[index];
                if (italPosNaming) { posName = positionName; }

                $('<div/>',{
                    text: posName,
                    class: "team-player-position slot-position slot-position-" + positionName
                }).appendTo(positionsContainer);
                positionsContainer.append(' ');
            })

            let malus = "";
            if (slotPosition.length > 0) {
                const intersection = slotPosition.filter(element => data.position_names.includes(element));
                if (intersection.length === 0) {
                    playerRow.css("border-bottom","1px solid #DB0A23");
                    malus = "⚠️ ";
                }
            }

            nameContainer.text(malus + data.name);
        }
    });

    $(modalList).hide();
});

$(".search-icon").on('click', function(e){
    e.stopPropagation();

    const slotId = $(this).attr('id').replace('search-icon','');
    const searchStr = $('#search-field'+slotId)[0].value;
    const tournamentId = $('#tournament')[0].getAttribute('value');
    const leagueId = $('#league')[0].getAttribute('value');
    const playersContainer = $('#modal-players-block-'+slotId);

    playersContainer.empty();

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/players?search="+searchStr+"&tournament="+tournamentId,
        success: function(data){
            data.forEach((playerData) => {
                renderPlayerItem(playerData, slotId, leagueId);
            })
        }
    });
});

$(".search-club-logo").on('click', function(e){
    e.stopPropagation();

    const slotId = $(this).attr('class').replace('search-club-logo search-club','');
    const clubId = $(this).attr('id').replace('search-club','');
    const tournamentId = $('#tournament')[0].getAttribute('value');
    const leagueId = $('#league')[0].getAttribute('value');
    const playersContainer = $('#modal-players-block-'+slotId);

    playersContainer.empty();

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/players?club="+clubId+"&tournament="+tournamentId,
        success: function(data){
            data.forEach((playerData) => {
                renderPlayerItem(playerData, slotId, leagueId);
            })
        }
    });
});

$(".search-position").on('click', function(e){
    e.stopPropagation();

    const slotId = $(this).attr('class').replace('search-position search-position','');
    const positionName = $(this).attr('id').replace('search-position','');
    const tournamentId = $('#tournament')[0].getAttribute('value');
    const leagueId = $('#league')[0].getAttribute('value');
    const playersContainer = $('#modal-players-block-'+slotId);

    playersContainer.empty();

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/players?position="+positionName+"&tournament="+tournamentId,
        success: function(data){
            data.forEach((playerData) => {
                renderPlayerItem(playerData, slotId, leagueId);
            })
        }
    });
});

function renderPlayerItem(data, slotId, leagueId) {
    const playersContainer = $('#modal-players-block-'+slotId);
    const avatarImgSrc = $('#avatar-'+slotId).children()[0].src;
    const italPosNaming = ($('#position-naming')[0].getAttribute('value') === 'true');
    const dumpedIds = $('#dumped')[0].getAttribute('value').split(',');

    let positionsContainer = '<div class="player-positions">';
    data.position_arr.forEach((positionName, index) => {
        let posName = data.position_classic_arr[index];
        if (italPosNaming) { posName = positionName; }

        positionsContainer += '<div class="position-item position-item-' + positionName + '">' + posName + '</div> ';
    })
    positionsContainer += '</div>';

    const leagues = data.leagues;
    let modalClass = "modal-player-item";
    let soldElement = "";

    if (leagues.includes(parseInt(leagueId))) {
        modalClass = "modal-player-item-sold";
        soldElement = '<div class="player-sold">SOLD</div>'
    }

    if (dumpedIds.includes(data.id.toString())) {
        modalClass = "modal-player-item-sold";
        soldElement = '<div class="player-sold player-dumped">DUMPED</div>'
    }

    const playerHtml =
        '<div class=' + modalClass + ' id="player' + data.id + '">' +
            '<div class="modal-player-images">' +
                '<div class="player-show-face">' +
                    '<object data=' + data.avatar_path + ' type="image/png">' +
                        '<img src=' + avatarImgSrc + '>' +
                    '</object>' +
                '</div>' +
                '<div class="player-show-kit">' +
                    '<object data=' + data.kit_path + ' type="image/png">' +
                    '</object>' +
                '</div>' +
                soldElement +
            '</div>' +
            '<div class="modal-player-data">' +
                positionsContainer +
            '</div>' +
            '<div class="modal-player-name">' +
                data.name +
            '</div>' +
            '<div class="modal-player-club">' +
                data.club_name +
            '</div>' +
        '</div>'

    playersContainer.append(playerHtml);
}

$(document).ready(function() {
    const modal = document.getElementById("modules-modal");
    const modal_btn = document.getElementById("modules-modal-btn");
    const span = document.getElementsByClassName("close")[0];

    if (modal_btn) {
        modal_btn.onclick = function() { modal.style.display = "block"; };
    }
    span.onclick = function() { modal.style.display = "none"; };

    $('.player-data').click(function() {
        const btn = $(this);
        const playersList = btn.children(".modal-players-list")

        playersList.css("display", "block");

        const playerIds = [];
        $('.round-player-input').each(function() { playerIds.push($(this).val()); });
        const pickedPlayers = playerIds.filter(Boolean);

        playersList.find(".modal-player-item").each(function(innerIndex, innerElement) {
            if (pickedPlayers.includes(innerElement.id.replace("player", ""))) {
                innerElement.style.backgroundColor = "rgb(230, 230, 230)";
            }
        });
    });

    window.onclick = function(event) {
        if (event.target == modal) { modal.style.display = "none"; }

        if (event.target.className == "modal-players-list") {
            $('#' + event.target.id).css("display", "none");
        }
    }
});
