.chart {
  overflow: auto;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
}

.canvasWrapper {
  height: 100%;
}

.skeletonContainer,
.skeleton {
  display: block;
  height: 100%;
}
