.nameDataCell {
  padding-top: 0;
  padding-bottom: 0;
}

.mobileTitle {
  display: none;
}

@media (max-width: 991px) {
  .desktopTitle {
    display: none;
  }

  .mobileTitle {
    display: inline;
  }
}

.totalScoreDataCell {
  font-family: "Nunito ExtraBold";
}

.totalTeamCount,
.totalApps {
  color: #a6a2a2;
}

.logo {
  width: 32px;
  height: 32px;

  @media (max-width: 1300px) {
    width: 24px;
    height: 24px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-size: 10px;
    line-height: 10px;
  }
}

/* Cell */
.nameCell {
  flex: 1;
  min-width: 200px;
}

.tournamentCell {
  flex: 0 0 88px;

  @media (min-width: 1500px) {
    flex: 0 0 110px;
  }

  @media (max-width: 1300px) {
    flex-basis: 56px;
  }

  @media (max-width: 991px) {
    flex-basis: 48px;
  }
}

.clubCell {
  flex: 0 0 86px;

  @media (min-width: 1500px) {
    flex: 0 0 110px;
  }

  @media (max-width: 1300px) {
    flex-basis: 56px;
  }

  @media (max-width: 991px) {
    flex-basis: 48px;
  }
}

.positionsCell {
  flex: 0 0 120px;

  @media (min-width: 1500px) {
    flex: 0 0 150px;
  }

  @media (max-width: 1300px) {
    flex-basis: 104px;
  }
}

.priceCell {
  flex: 0 0 88px;

  @media (min-width: 1500px) {
    flex-basis: 110px;
  }

  @media (max-width: 1300px) {
    flex-basis: 72px;
  }

  @media (max-width: 1100px) {
    display: none;
  }
}

.totalTeamsCell {
  flex: 0 0 125px;

  @media (max-width: 1300px) {
    flex-basis: 92px;
  }

  @media (max-width: 991px) {
    flex-basis: 64px;
  }
}

.appsCell {
  flex: 0 0 84px;

  @media (min-width: 1500px) {
    flex-basis: 125px;
  }

  @media (max-width: 1300px) {
    flex-basis: 80px;
  }

  @media (max-width: 991px) {
    flex-basis: 64px;
  }
}

.baseScoreCell,
.totalScoreCell {
  flex: 0 0 76px;

  @media (min-width: 1500px) {
    flex-basis: 100px;
  }

  @media (max-width: 1300px) {
    flex-basis: 68px;
  }

  @media (max-width: 991px) {
    flex-basis: 56px;
  }
}

.baseScoreCell {
  @media (max-width: 1100px) {
    display: none;
  }
}
