---
http_interactions:
- request:
    method: get
    uri: https://www.fotmob.com/matchDetails?matchId=3629471
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17af-K+Ji9UoXSgO4agFRrOqJm4kJAp8"
      Trackjs-Correlation-Id:
      - 841d31ea-1899-48a8-a920-072c400ad801
      X-Gg-Bundle-Version:
      - desktop
      X-Gg-Cache-Date:
      - Sun, 02 Jan 2022 16:22:55 GMT
      X-Gg-Cache-Key:
      - desktop/matchDetails?matchId=3629471Europe/Kiev
      X-Gg-Country:
      - UA
      X-Gg-Timezone:
      - Europe/Kiev
    body:
      encoding: ASCII-8BIT
      string: '{"general":{"matchId":"3629471","matchName":"Valencia-vs-Celta Vigo_Sun,
        May 22, 2022, 18:00 UTC","matchRound":"38","teamColors":{"home":"#000000","away":"#8AC3EE"},"leagueId":87,"leagueName":"LaLiga","leagueRoundName":"LaLiga
        Round 38","parentLeagueId":87,"parentLeagueName":"LaLiga","parentLeagueSeason":"2021/2022","homeTeam":{"name":"Valencia","id":10267},"awayTeam":{"name":"Celta
        Vigo","id":9910},"matchTimeUTC":"Sun, May 22, 2022, 18:00 UTC"},"header":{"teams":[{"name":"Valencia","id":10267,"score":0,"imageUrl":"https://images.fotmob.com/image_resources/logo/teamlogo/10267_small.png","pageUrl":"/teams/10267/overview/valencia","fifaRank":null},{"name":"Celta
        Vigo","id":9910,"score":0,"imageUrl":"https://images.fotmob.com/image_resources/logo/teamlogo/9910_small.png","pageUrl":"/teams/9910/overview/celta-vigo","fifaRank":null}],"status":{"started":false,"cancelled":false,"finished":false,"startTimeStr":"21:00","startDateStr":"May
        22, 2022","startDateStrShort":"22. May."},"events":null},"nav":["match facts","table"],"ongoing":false,"hasPendingVAR":false,"content":{"matchFacts":{"matchId":3629471,"highlights":null,"playerOfTheMatch":{},"matchesInRound":[{"id":"3629465","home":{"id":"8634","name":"Barcelona","shortName":"BAR"},"away":{"id":"10205","name":"Villarreal","shortName":"VIL"},"matchDate":"202205222000","status":{"started":false,"cancelled":false,"finished":false,"startTimeStr":"21:00","startDateStr":"May
        22, 2022","startDateStrShort":"22. May."},"roundId":38,"roundName":"38"},{"id":"3629464","home":{"id":"9866","name":"Deportivo
        Alaves","shortName":"ALA"},"away":{"id":"8385","name":"Cadiz","shortName":"CAD"},"matchDate":"202205222000","status":{"started":false,"cancelled":false,"finished":false,"startTimeStr":"21:00","startDateStr":"May
        22, 2022","startDateStrShort":"22. May."},"roundId":38,"roundName":"38"},{"id":"3629473","home":{"id":"10268","name":"Elche","shortName":"ELC"},"away":{"id":"8305","name":"Getafe","shortName":"GET"},"matchDate":"[...]
