.tableWrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.table {
  width: max-content;
  min-width: 100%;
}

.row {
  display: flex;
  position: relative;
}

.dataRow {
  position: relative;
  --border-color: #e5e6e4;
}

.hoverableRow {
  &:hover {
    background-color: #f4f4f4;
    --border-color: #f4f4f4;
  }
}

.hoverableRow:has(+ .hoverableRow:hover) {
  --border-color: #f4f4f4;
}

.header {
  margin-bottom: 7px;
}

.rowLink {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.emptyState {
  padding: 24px;

  @media (max-width: 768px) {
    padding: 12px;
  }
}
