.table {
  width: 100%;
}

.header {
  margin-bottom: 7px;
}

.row {
  display: flex;
  position: relative;

  &.hoverableRow {
    &:hover {
      background-color: #f4f4f4;
    }
  }
}

.dataRow {
  border-bottom: 1px solid #e5e6e4;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
}

.columnInner {
  flex: 1;
}

.headerColumn {
  font-family: "Nunito ExtraBold";
  color: #847577;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 8px;
  letter-spacing: 0.02em;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    height: 16px;
    background-color: #e5e6e4;
  }
}

.dataColumn {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 12px;
  color: #181715;
}

.right {
  text-align: right;
}

.noWrap {
  white-space: nowrap;
}

.rowLink {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
