.start-page.header-grid.welcome-subpage
  .left-block
    .title-block
      .title-text Registration Form
      .title-bg
    .form-block
      = form_for [@join_request] do |f|
        - if @join_request.errors.any?
          .error-block
        -##error_explanation
        -#  %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
        -#  %ul
        -#    - @link.errors.full_messages.each do |message|
        -#      %li= message

        -#.input-group.mb-3
        -#  .input-group-prepend
        -#    %span.input-group-text Name
        -#  = f.text_field :name, class: 'form-control'
        -#
        -#.input-group.mb-3
        -#  .input-group-prepend
        -#    %span.input-group-text URL
        -#  = f.text_field :url, class: 'form-control'
        -#
        -#.input-group.mb-3
        -#  .input-group-prepend
        -#    %span.input-group-text Description
        -#  = f.text_area :description, class: 'form-control'
        -#
        -#.actions.right
        = f.submit 'Save', class: 'btn btn-primary'

  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag("welcome_persons/virgil.png")
