.chip {
  border: 1px solid #cfd2cd;
  border-radius: 30px;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #181715;
  font-family: "Nunito ExtraBold";

  &:hover {
    border-color: #181715;
  }

  &.disabled,
  [disabled] {
    background-color: #f4f4f4;
    color: #a6a2a2;
  }
}

.medium {
  padding: 7px;
  font-size: 14px;
}

.selected {
  color: #261fff;
  background-color: #d8d6ff;
  border-color: #d8d6ff;
}
