.drawerContainer {
  --transition-speed: 0.3s;
  --background-color: #fff;
}

.drawer {
  background-color: var(--background-color);
  max-width: 100%;
  max-height: 100vh;
  max-height: 100dvh;
  overflow: auto;
  position: fixed;
  box-shadow: 1px 2px 5px 0px #18171533, 6px 6px 8px 0px #18171533;
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.left {
  transform: translateX(-105%);
  width: 320px;
  height: 100%;
  top: 0;
  left: 0;

  .isOpen.isTransitioning & {
    transform: translateX(0);
  }
}

.bottom {
  transform: translateY(105%);
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 320px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  .isOpen.isTransitioning & {
    transform: translateY(0);
  }
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity var(--transition-speed) ease, visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 1000;

  .isOpen.isTransitioning & {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.header {
  padding: 16px 24px;
  border-bottom: 1px solid #e5e6e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: var(--background-color);

  .bottom & {
    border-color: transparent;
    padding-bottom: 8px;
  }
}

.title {
  flex: 1;
  min-width: 0;
  font-size: 24px;
  line-height: 32px;
  color: #181715;
  font-family: "Nunito ExtraBold";

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.closeButton {
  padding: 0;
  background: none;
  border: 0;
  width: 24px;
  height: 24px;
  line-height: 1;
  color: #847577;

  &:hover {
    color: #181715;
  }
}

.footer {
  padding: 16px 24px;
  border-top: 1px solid #e5e6e4;
  margin-top: auto;
  position: sticky;
  z-index: 2;
  bottom: 0;
  background-color: var(--background-color);

  .bottom & {
    border-color: transparent;
  }
}

.content {
  padding: 16px 24px;

  &.noPadding {
    padding: 0;
  }
}
