.about-page.welcome-subpage.header-grid
  .left-block
    .title-block
      .title-text About Us
      .title-bg
    .about-block
      .about-item At 2017 project started as a classic fantasy football application with 1 league by Serie A for 5 users.
      .about-item From 2018 Mantra rules were implemented and our league continued to grow.
      .about-item At 2020 EPL tournament was added to our project with 2 new leagues.
      .about-item MantraFootball now supports 2 tournaments with 40 clubs and more than 1000 players.
      .about-item.join-us Join us!
  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag('welcome_persons/maldini.png')
