.guide-page.header-grid
  .left-block
    .title-block
      .title-text= t('welcome.guide.game_guide')
      .title-bg
    .guide-block
      .temp-block
        = t('welcome.guide.external_link_here')
        = link_to t('welcome.guide.external_link'), 'https://drive.google.com/file/d/13vRxoK5QjOLivIdiZM0aCSvwCmBD0DIb/view', target: '_blank'
