.welcome-cover
  .welcome-data.center
    .text-block
      %h1 MantraFootball
      %h3 Fantasy Football Application
    .buttons-block
      = link_to 'Log In', new_user_session_path, class: 'btn btn-success'
      -#= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success'
