.rules-page.header-grid.welcome-subpage
  .left-block
    .title-block
      .title-text Game Rules
      .title-bg
    .rules-block
      .rules-item
        .rules-subtitle MantraFootball is a new look at fantasy football world.
        .rules-subtitle Here's how the game works.
      .rules-item
        .rules-title SET UP YOUR LEAGUE
        .rules-subtitle Start by choosing a tournament and forming a league
        .rules-description Leagues can be from 4 to 20 managers, and we recommend 8-10 as a sweet spot. You can play in the league with your friends, or we will find you colleagues in the league.
      .rules-item
        .rules-title HOLD YOUR AUCTION
        .rules-subtitle Fix a date for your auction and get everyone together, either online or face-to-face
        .rules-description You each have a $260m budget to build your squad of 25 players. Each player goes to the highest bidder, so only one team gets Kevin De Bruyne or Mo Salah - just like in the real world.
      .rules-item
        .rules-title SCORING
        .rules-subtitle Our simple scoring rules are tried-and-tested over several seasons of the game
        .rules-description For each match, the player receives a base score, which is added to his bonuses - goals scored and conceded, assists, yellow and red cards, etc.
      .rules-item
        .rules-title FORMATION & SUBS
        .rules-subtitle Each week you have choices that really matter
        .rules-description One choice whether to play 442, 433 or 352, and another choice of who to choose in the main lineup. Feel the pressure as a club manager.
      .rules-item
        .rules-title THE BEST WAY TO PLAY
        .rules-subtitle As each squad is unique, your league is always ultra-competitive.
        .rules-description Only a combination of detailed analysis and luck will give a chance to become a champion. Winning really means something.
  .right-block
    .pitch-layer
    .player-layer
      .player-image-wrapper
        .player-image
          = image_tag('welcome_persons/dean.png')
