.container
  %h3 Edit Lineup
  - if lineup.updated_at
    .alert.alert-info
      %span
        = lineup.updated_at.strftime('Last updated %m/%d/%Y at %I:%M%p')

  .lineup-edit-block
    .lineup-edit-module
      .lineup-edit-module-img
        = image_tag("modules/#{lineup.team_module.name}.png", class: 'module-img')
    .lineup-edit-form
      = render 'edit_form'
