.page-header
  .page-header-icon
    = image_tag('navbar/lineups.png')
  .page-header-title Edit Lineup
.page-info
  -# TODO: update UI
  .lineup-edit-block
    .lineup-edit-module
      .lineup-edit-module-img
        = image_tag("modules/#{lineup.team_module.name}.png", class: 'module-img')
    .lineup-edit-form
      = render 'edit_form'
