.container
  .h5 Make substitution

  = form_with url: team_lineup_subs_update_path(team, lineup), method: :put do |f|
    = f.select :out_mp_id, options_from_collection_for_select(lineup.match_players.main, :id, :player_id), class: 'custom-select'

    = f.select :in_mp_id, options_from_collection_for_select(lineup.match_players.subs, :id, :player_id), class: 'custom-select'

    = f.submit 'Substitute', class: 'btn btn-success btn-block'
