.header {
  --year-select-width: 124px;
  --gap: 24px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.yearSelect {
  width: var(--year-select-width);

  @media (max-width: 768px) {
    order: 1;
  }
}

.headerTop {
  width: 100%;
  display: flex;
  gap: var(--gap);
  justify-content: space-between;

  @media (max-width: 768px) {
    display: contents;
  }
}

.heading {
  @media (max-width: 768px) {
    display: none;
  }
}

.search {
  flex: 1;
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.total {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #847577;

  span {
    color: #181715;
    font-family: "Nunito ExtraBold";
  }
}
