.header {
  --year-select-width: 124px;
  --gap: 24px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
}

.yearSelect {
  width: var(--year-select-width);

  @media (max-width: 768px) {
    order: 1;
  }
}

.heading {
  flex: 0 0 calc(100% - var(--year-select-width) - var(--gap));

  @media (max-width: 768px) {
    display: none;
  }
}

.search {
  flex: 1;
}
