.chart {
  height: 450px;

  @media (max-width: 768px) {
    height: 300px;
  }
}

.canvas {
  --item-size: 25px;

  min-width: calc(var(--item-count) * var(--item-size));

  @media (max-width: 768px) {
    --item-size: 20px;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}
