.page-header
  .page-header-icon
    = image_tag('navbar/calendar.png')
  .page-header-title
    = 'Fixtures'
    .page-header-subtitle
      = league.name
.page-info
  = render 'tours_list', tours: @tours
