.container-fluid
  %h1 Fanta tours
  %p
    = link_to 'Back', root_path, class: 'btn btn-primary'
  .row
    .col-xs-4
      - tours.includes(:lineups)[0..11].each do |tour|
        = render 'tour', tour: tour
    .col-xs-4
      - tours.includes(:lineups)[12..21].each do |tour|
        = render 'tour', tour: tour
    .col-xs-4
      - tours.includes(:lineups)[22..36].each do |tour|
        = render 'tour', tour: tour
