.fullTitle {
  @media (max-width: 1600px) {
    display: none;
  }
}

.shortTitle {
  display: none;

  @media (max-width: 1600px) {
    display: inline;
  }
}

.position {
  flex: 0 0 48px;
  align-self: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    flex-basis: 40px;
  }
}

.team {
  flex: 1 0 0;
  min-width: 140px;

  // TODO: sticky cell
  // @media (max-width: 768px) {
  //   min-width: 120px;
  //   position: sticky;
  //   left: 0;
  //   background-color: #fff;
  //   z-index: 1;
  // }
}

.matchesPlayed {
  flex: 0 0 88px;

  @media (max-width: 1600px) {
    flex: 0 0 68px;
  }

  @media (max-width: 768px) {
    flex: 0 0 48px;
  }
}

.matchesWins {
  flex: 0 0 88px;

  @media (max-width: 1600px) {
    flex: 0 0 68px;
  }

  @media (max-width: 768px) {
    flex: 0 0 48px;
  }
}

.matchesDraws {
  flex: 0 0 96px;

  @media (max-width: 1600px) {
    flex: 0 0 68px;
  }

  @media (max-width: 768px) {
    flex: 0 0 48px;
  }
}

.matchesLoses {
  flex: 0 0 88px;

  @media (max-width: 1600px) {
    flex: 0 0 68px;
  }

  @media (max-width: 768px) {
    flex: 0 0 48px;
  }
}

.goals {
  flex: 0 0 88px;

  @media (max-width: 1600px) {
    flex: 0 0 68px;
  }

  @media (max-width: 768px) {
    flex: 0 0 58px;
  }
}

.points {
  flex: 0 0 96px;

  @media (max-width: 1600px) {
    flex: 0 0 76px;
  }

  @media (max-width: 768px) {
    flex: 0 0 66px;
  }
}

.totalScore {
  flex: 0 0 88px;

  @media (max-width: 1600px) {
    flex-basis: 76px;
  }
}

.form {
  flex: 0 0 136px;

  @media (max-width: 768px) {
    flex: 0 0 106px;
  }
}

.next {
  flex: 0 0 56px;

  @media (max-width: 768px) {
    flex-basis: 46px;
  }
}

.isPromotion {
  background-color: #d0f0d4;
}

.isRelegation {
  background-color: #fcc5cb;
}

.pointsData {
  font-family: "Nunito ExtraBold";
}

.formData {
  font-family: "Nunito ExtraBold";
  font-size: 18px;
  display: flex;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  span {
    width: 24px;

    @media (max-width: 768px) {
      width: 18px;
    }
  }
}

.formWin {
  color: #4ead57;
}

.formLose {
  color: #db0a23;
}

.formDraw {
  color: #847577;
}

.teamName {
  display: flex;
  align-items: center;
  font-family: "Nunito ExtraBold";
  color: #181715;

  &:hover {
    color: #181715;
    text-decoration: none;
  }
}

.teamNameName {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamNameImg {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  margin-right: 28px;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    margin-right: 16px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.opponent {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #e5e6e4;
  border-radius: 50%;
  padding: 3px;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
    padding: 1px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
  }
}

.positionUpdate {
  flex: 0 0 24px;
  padding: 6px;

  @media (max-width: 768px) {
    display: none;
  }
}

.positionUpdateIcon {
  &.top {
    transform: rotate(180deg);
    color: green;
  }

  &.down {
    color: red;
  }
}

.positionUpdateNoChange {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a6a2a2;
}
