.emptyState {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 96px;
  height: 96px;
  margin-bottom: 24px;

  @media (max-width: 1200px) {
    width: 64px;
    height: 64px;
    margin-bottom: 18px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-family: "Nunito ExtraBold";
  font-size: 32px;
  line-height: 1;
  color: #181715;

  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 1.2;
  }

  @media (max-width: 768px) {
    font-size: 21px;
    line-height: 1.4;
  }
}

.description {
  font-size: 18px;
  line-height: 24px;
  color: #847577;
  margin-top: 16px;

  @media (max-width: 1200px) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
  }
}
