.teamName {
  display: flex;
  align-items: center;
  font-family: "Nunito ExtraBold";
  color: #181715;
  gap: 1em;

  &:hover {
    color: #181715;
    text-decoration: none;
  }
}

.teamNameName {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamNameImg {
  font-size: 2em;
  width: 1em;
  height: 1em;
  flex: 0 0 1em;

  img {
    width: 100%;
    height: 100%;
  }
}
