.positions {
  display: flex;
}

.position {
  padding: 2px 4px;
  font-family: "Nunito ExtraBold";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #fff;

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.yellow {
  background-color: #ffb319;
}

.green {
  background-color: #4ead57;
}

.blue {
  background-color: #006ef5;
}

.purple {
  background-color: #ba44f1;
}

.red {
  background-color: #db0a23;
}
