.layout {
  --nav-width: 72px;

  padding: 24px 12px 36px;

  @media (min-width: 769px) {
    padding-left: calc(var(--nav-width) + 56px);
    padding-right: 56px;
  }

  @media (min-width: 992px) {
    padding: 40px 116px 60px calc(var(--nav-width) + 116px);
  }
}

.withSidebar {
  @media (min-width: 769px) {
    padding-left: calc(var(--nav-width) + 216px);
    padding-right: 16px;
  }

  @media (max-width: 768px) {
    padding-bottom: calc(216 * 1vw * var(--unit-multiplier) + 36px);
  }
}
