.tab-pane.pane.active#rules-auction
  .rules-block
    %h4 Літній аукціон
    %p
      На початку кожен гравець має 260 фанта-мільйонів, якими під час аукціону користується, щоб купити гравців.
      Кожен гравець повинен придбати 25 гравців, з яких мінімум 2 воротаря.
      Решту гравців менеджер може купляти на власний розсуд, підбираючи позиції під свої тактичні задуми.
    %p
      Головні цілі аукціону:
      %ul
        %li Сформувати команду із сильних гравців
        %li Не дати іншим сформувати сильну команди
        %li Змусити інших гравців витрачати занадто багато під час покупки певних гравців
        %li Зібрати збалансовану команду на всіх позиціях
    %p
      Кожен тренер по черзі висуває свою кандидатуру футболіста, якого він хоче купити, початкова вартість 1 фанта-мільйон.
      Після цього інші учасники можуть перебивати попередню ставку своєю.
      Кожна наступна ставка має бути більша за попередню мінімум на величину кроку.
      Крок ставки визначається поточною максимальною ставкою.
      Якщо поточна максимальна ставка в межах від 0 до 19 - то мінімальний крок 1 фанта-мільйон,
      у межах 20-29 - крок 2, у межах 30-39 - крок 3 і так далі.
    %p
      Під час аукціону менеджер повинен враховувати свій баланс, щоб йому вистачило коштів на купівлю 25 гравців.
      У випадку якщо менеджер потратить більше коштів ніж він мав - остання його покупка вважатиметься недійсною!
    %p
      Після купівлі 25 гравців, склад команди залишається незмінним аж до Зимового аукціону (зимового трансферного вікна).
    %p
      Під час Мантра чемпіонату кожна команда повинна мати у своєму складі 25 гравців.
    %p
      Винятком є період офіційного зимового ТВ Серії А, орієнтовно з 1 по 31 січня, коли гравці можуть покинути чемпіонат -
      такі втрати компенсуються на зимовому аукціоні Мантри.
    %p
      Однак бувають ситуації коли можливі втрати гравців посеред сезону Мантри, а саме у такі періоди: 
      %ul
        %li від літнього аукціону Мантри до відкриття офіційного ТВ Серії А;
        %li від зимовго аукціону Мантри до завершення чемпіонату.
    %p
      Якщо відбувається втрата гравця у зазначені вище періоди, то менеджер отримує компенсацію (суму,
      яку він заплатив за цього гравця на аукціоні) та повинен у період до наступного туру чемпіонату вибрати нового гравця
      із доступних на ринку вільних агентів (тобто гравця який на даний момент не є учасником жодної команди Мантри), заплативши 1 фантамільйон.
    %p
      Причиною для заміни гравця може бути:
      %ul
        %li трансфер гравця в інший чемпіонат.
        %li травма або інша причина, через яку гравець не потрапив у заявку команди Серії А на наступне півріччя, а отже не зможе зіграти жодного матчу Серії А у цей період. Однак цей пункт діє лише для гравців віком від 22 років (внесення гравців до 21 року в офіційну заявку є не обов'язковим).
    %p
      Заявки команд Серії А на наступне півріччя розміщені на офіційному сайті Серії А.

    %h4 Зимовий аукціон (ЗТВ)
    %p
      (У правилах ЗТВ можливі зміни та уточнення до 31 грудня.)
    %p
      ЗТВ відбувається у 3 етапи:
      %ul
        %li Обмін гравців між командами
        %li Продаж непотрібних гравців
        %li Аукціон
    %p
      %h5 Обмін гравців між командами
      Обміни відбуваються між командами до певної дати (попередньо за 2 дні до дати аукціону),
      на основі попередніх домовленостей між тренерами команд.
      Для цього необхідно вписати на сторінці Winter Market інформацію про Ваш обмін
      та підтвердження від усіх тренерів які приймають участь в обміні.
      Після підтвердження обміну відповідний запис буде затверджений Адміном і його неможливо буде змінити.
      Обміни між командами можливі з додаванням грошей іншому учаснику обміну,
      що залишились (гроші) з літнього трансферного вікна або учасник може запропонувати іншому будь-яку суму,
      яка зніметься з його рахунку в загальній сумі проданих, придбаних і тих хто залишив чемпіонат гравців.
      Також гравець не може залишитись після аукціону з мінусом, тобто менше ніж 0 млн.
      В обмінах чи купівлі гравця в іншого учасника не допустимі інші домовленості окрім обміну гравцями,
      додавання грошей до обміну, плата за гравця.
      В обмінах відсутні обмеження в кількості гравців, позицій гравців і кількості команд, які приймають участь в обміні.
      Наприклад, КомандаА може обміняти Воротар1 та Форвард1 на Захисник2, Півзахисник1 та  Півзахисник2.
      Або участь в обміні можуть приймати участь одразу три команди:
      Команда1 віддає Гравець1 в Команду2, Команда2  віддає Гравець2 в Команду3, а Команда3 віддає Гравець3 в Команду1.
    %p
      %h5 Продаж непотрібних гравців
      Продаж непотрібних гравців здійснюється до вказаної дати.
      Максимально можна продати 5 гравців. За кожного проданого гравця команда отримує компенсацію.
      Компенсація розраховується як вартість гравця на сайті fantagazetta (колонка Q.a. - Quotazione attuale) плюс 10 млн.
      Наприклад, Гравець1 коштує 25 млн. Тепер менеджер хоче його продати.
      За нього він отримує 25 млн + 10 (компенсація дорівнює 35 млн + сума з інших гравців).
      Якщо певний гравець взимку переходить в інший чемпіонат (тобто за кордон або в Серію Б),
      менеджеру повертають лише вартість, за яку цей гравець був куплений влітку (у цьому разі без бонуса у 10 мільйонів).
      Проте такі гравці не враховуються як продані, тобто навіть якщо 2 гравця переходять в інший чемпіонат,
      менеджер все одно має право на продаж 5 гравців.
    %p
      %h5 Аукціон
      Аукціон відбуватиметься при обов’язковій присутності (офлайн або онлайн) усіх менеджерів в зазначений час.
      Правила аукціону зимового ТВ аналогічні до літнього ТВ.
      Після закінчення ТВ в команді повинно бути 25 гравців, з яких мінімум 2 - воротарі.
      Баланс кожного менеджера буде розраховуватися як сума залишку коштів літнього ТВ
      плюс компенсації отримані від продажу та обміну гравців.

    %h4 Позааукціонний період
    %p
      Під час Мантра чемпіонату кожна команда повинна мати у своєму складі 25 гравців.
      Винятком є період офіційного зимового ТВ Серії А, орієнтовно з 1 по 31 січня,
      коли гравці можуть покинути чемпіонат - такі втрати компенсуються на зимовому аукціоні Мантри.
    %p
      Однак бувають ситуації коли можливі втрати гравців посеред сезону Мантри,
      а саме у такі періоди:
      %ul
        %li від літнього аукціону Мантри до відкриття офіційного ТВ Серії А;
        %li  від зимовго аукціону Мантри до завершення чемпіонату.
    %p
      Якщо відбувається втрата гравця у зазначені вище періоди, то менеджер отримує компенсацію (суму яку він заплатив
      за цього гравця на аукціоні) та повинен у період до наступного туру чемпіонату вибрати нового гравця
      із доступних на ринку вільних агентів (тобто гравця який на даний момент не є учасником жодної команди Мантри),
      заплативши 1 фантамільйон.
    %p
      Причиною для заміни гравця може бути:
      %ul
        %li трансфер гравця в інший чемпіонат.
        %li травма або інша причина, через яку гравець не потрапив у заявку команди Серії А на наступне півріччя, а отже не зможе зіграти жодного матчу Серії А у цей період.
    %p
      Однак крайній пункт діє лише для гравців віком від 22 років
      (внесення гравців до 21 року в офіційну заявку є не обовязковим).
      Заявки команд Серії А на наступне півріччя розміщені на офіційному сайті Серії А.
