.tab-pane.fade#rules-faqs
  .rules-block
    %h5 Як вирішуються спірні питання між учасниками чемпіонату Мантри?
    %p
      При виникненні спірної ситуації між учасниками чемпіонату Мантри, насамперед враховуються
      = link_to 'Правила чемпіонату Мантри.', rules_path
      Якщо ця ситуація не описана у правилах, то спір вирішується голосуванням усіх учасників чемпіонату, простою більшістю голосів.

    %h5 Що відбувається, якщо менеджер не виставив вчасно склад на наступний тур?
    %p
      Якшо менеджер не виставив вчасно склад на наступний тур, то його команда виходить на матч із складом, яким грала у минулому турі.
      Також менеджеру нараховується штраф за пропущений тур (детальніше у вкладці Призи/Штрафи).

    %h5 Що відбувається, якщо гравець (захисник чи воротар) відіграв у матчі певну кількість хвилин, не пропускаючи голів, а потім був замінений і його команда пропустила?
    %p
      Беруться до уваги лише ті хвилини, під час яких гравець був на полі.
      Тобто якщо під час його гри команда не пропустила, то він має право на бонус, у випадку якщо цей гравець отримав базову оцінку.

    %h5 Що відбувається, якщо гравець отримує дві жовті картки і червону?
    %p
      Якшо один і той же гравець отримує дві жовті картки і червону, то йому рахується лише -1,
      а не -0.5-0.5-1 (-2 всього).
      Якшо він отримує спершу жовту, а потім пряму червону картку (не через другу жовту), то малус -1.5.

    %h5 Якщо воротар відбиває пенальті, однак пропускає з добивання?
    %p
      Якщо воротар відбиває пенальті, однак пропускає з добивання,
      то воротарю йде +3 очка за відбите пенальті і -2 очка за пропущений гол,
      а гравцеві, що бив знімаються 3 очка за незабите пенальті і додаються 3 очка за забитий гол.

    %h5 Чи отримує воротар бонус, якщо пенальті було не забите через удар мимо воріт (в тому числі через влучання у каркас воріт)?
    %p
      Бонус за відбите пенальті воротар отримує лише за безпосередньо відбиті удари.
      При ударі мимо воріт (в тому числі при влучанні у каркас воріт), воротар не отримує жодного бонусу.

    %h5 Чи отримує команда бонус за гру на домашньому стадіоні (домашній бонус)?
    %p
      У Мантрі нема домашнього бонусу, тобто на результат жодним чином не впливає хто господар матчу Мантри.

    %h5 Чи існує капітанський бонус?
    %p
      У Мантрі нема капітанського бонусу.

    %h5 Чи отримує команда бонус за тренерів?
    %p
      Оцінки тренерів від ГдС не впливають на резльтати матчів Мантри.
