.tab-pane.fade#rules-modules
  .guide-tab
    %p
      В системі Мантра ви маєте можливість використовувати лише модулі наведені на зображенні нижче.
    .rules-image.rules-modules.center
      = image_tag('modules.jpg', class: 'modules-image')
    %p
      Використання будь-якого іншого модуля - недопустиме.
    %p
      При формуванні складу команди на поточний раунд менеджер вибирає одну з цих схем та під обрану схему вибирає гравців.
      Використання гравця не на його рідній позиції знижує оцінку його гравця (детальніше - у розділі Параметри гравця).
    %p
      Після старту раунду менеджер не може змінювати модуль команди.
      Старт раунду (дедлайн подачі складу та внесення змін) відбувається за 1 годину до першого матчу поточного раунду турніру.
    %p
      У Мантрі відсутні будь-які обмеження на кількість та послідовність використання модулів.
      Тобто команда може відіграти увесь турнір з використанням одного модуля,
      а може використовувати новий модуль кожного раунду.
