.tab-pane.fade#rules-players
  .rules-block
    %p
      У Мантрі використовуються лише гравці, які на момент аукціону є гравцями клубів відповідного турніру.
    %p
      Основним параметром гравця є його позиція. У деяких гравців є декілька рідних позицій.
      -# TODO: add link to Players list page
      -#Перелік гравців та їх позиції зазначені на сайті
      -#%a{href: 'https://www.fantacalcio.it/', target: '_blank'} Fantacalcio.
    %p
      У Мантрі можливі такі позиції гравців:
    .rules-image.rules-positions.center
      = image_tag('positions.jpg', class: 'positions-image')
    %p
      %ul
        %li Por - Воротар
        %li Dd - Правий захисник
        %li Dc - Центральний захисник
        %li Ds - Лівий захисник
        %li E - Латераль/фланговий півзахисник
        %li M - Опорний півзахисник
        %li C - Центральний півзахисник
        %li W - Фланговий атакуючий півзахисник
        %li T - Центральний атакуючий півзахисник
        %li A - Фланговий/відтягнутий форвард
        %li Pc - Центральний нападаючий
    %p
      Гравці певних позицій можуть грати також і не на своїй рідній позиції,
      однак в такому випадку до оцінки гравця буде враховуватися малус за гру не на рідній позиції.
      Зміни позицій, не вказані у таблиці - заборонені.
    %p
      Деталі малусів наведені у таблиці нижче:
    .rules-image.rules-positions-malus.center
      = image_tag('positions-malus.jpg', class: 'positions-malus-image')
    %p
      Якщо гравець не грав, то на його місце заходить заміна по точній позиції.
      Якщо такої немає, то його заміняє гравець з найменшим малусом.
      (детальніше у вкладці Розрахунок результатів).
    %p
      Якщо декілька гравців основи не отримали оцінку, то спершу відбуваються максимально можливі заміни по позиції,
      а лише після цього заміни із малусами. Якщо є декілька варіантів таких замін, то відбуваються заміни,
      які приносять мінімальні малуси до оцінок гравців.
    %p
      Якщо гравець вибраний на позицію, яку він не може займати згідно правил, то проводиться заміна по позиції
      незалежно від того чи грав цей гравець чи ні.
    %p
      Також не можливе переміщення гравця основи на іншу позицію.
      Наприклад, якщо у вибраному вами модулі на тур повинно бути два гравці на позицію Dc і один з них не зіграв,
      а в основі на іншій позиції є гравець, у якого одною з рідних позицій є Dc,
      то він не може бути переміщений на цю позицію. Замінити гравця основи може лише один із гравців запасу.
