.tab-pane.fade#rules-prizes
  .guide-tab
    %h5 Оплата
    %p
      Перед початком сезону кожен учасник ліги повинен оплатити участь у грі.
    %p
      %b Внесок за участь в одній лізі на сезон
      %i
        %b (вересень-травень) - 400 грн.
    %p
      Також старт ліги можливий і пізніше при достатній кількості учасників для формування ліги.
      Ліги можуть бути від 4 до 20 менеджерів, оптимальна кількість - 8-10 учасників в лізі.
      Ви можете грати в лізі з вашими друзями, або ми підшукаємо вам колег по лізі.
    %p
      Троє призерів за підсумками сезону отримують знижку на участь в наступному сезоні Мантри,
      а переможець ліги -
      %b кубок від MantraFootball.
    %p
      Оплата за сезон у повному обсязі здійснюється перед стартом ліги.
    %p
      Для новачків можливий старт ліги без оплати - для знайомства з грою на 3 тури.
      Після 3го туру для продовження гри учасник ліги повинен оплатити внесок.
    %p
      %i
        %b Система знижок для учасників (усі знижки сумуються):
      %ul
        %li	-10 % від вартості гри у одній лізі - за кожного приведеного друга в лігу Мантри
        %li	-10 % користувачам, які грали Мантру в попередньому сезоні
        %li	-10 % від загальної вартості гри учасникам за другу та кожну додаткову лігу, в якій грає учасник
    %p
      Також за домовленістю учасники ліги можуть сформувати призовий фонд (окремо від базового внеску).
      Приклад розподілу призового фонду серед призерів:
      %ul
        %li	1 місце - 60 % призового фонду ліги.
        %li	2 місце - 25 % призового фонду ліги.
        %li	3 місце - 15 % призового фонду ліги.
