.tab-pane.fade#rules-prizes
  .rules-block
    %h5 Призи
    %p
      Перед початком сезону кожен учасник робить внесок - 500 грн (200 грн призові + 300 на можливі штрафи).
      Якщо учасник не отримує штрафів - то після завершення сезону йому повертається сума 300грн + виграні призові при наявності.
      Якщо на команду накладалися штрафи - то повертається лише залишок від початковго внеску на штрафи.
    %p
      Призові отримують команди, які посіли найвищі 3 позиції.
      Розмір призових залежать від кількості учасників та розміру накладених штрафів.
      Призові для трійки переможців за умови участі 10 менеджерів в чемпіонаті:
      %ul
        %li 1 місце - отримує 1200 грн;
        %li 2 місце - отримує 600 грн;
        %li 2 місце - отримує 200 грн.
    %p
      Усі кошти отримані від штрафів, накладених на команди учасники чемпіонату, рівномірно розподіляються між командами,
      які не отримали жодного штрафу протягом усього чемпіонату.
    %h5 Штрафи
    %p
      Після кожного туру склад команди очищується, якщо менеджер не виставляє склад на наступний тур вчасно - до дедлайну,
      то склад береться з минулого туру, але з його рахунку вираховують штраф.
      %h6 РОЗМІРИ ШТРАФІВ БУДУТЬ УТОЧНЕНІ ДО ПОЧАТКУ ЧЕМПІОНАТУ
    %p
      Варіанти штрафів:
      %ol
        %li
          %ul
            %li перший раз - 25 грн
            %li другий раз - 50 грн
            %li третій раз і кожен наступний - 100 грн.
        %li
          %ul
            %li перший раз - 1 бал штрафу у турнірній таблиці
            %li другий раз - 25 грн
            %li третій раз і кожен наступний - 50 грн.
        %li
          %ul
            %li перший раз - 25 грн і 1 бал штрафу у турнірній таблиці
            %li другий раз - 50 грн
            %li третій раз і кожен наступний - 100 грн.
    %p
      Штрафи збільшуються лише при послідовних порушеннях. Повернення штрафів не можливе.
    %p
      Наприклад, якщо менеджер не виставив склад команди на 3 і 4 тур то штраф згідно першого варіанту буде 25+50 = 75 грн.
      Якщо ж пропуски турів були не послідовні, наприклад 3 і 5 тур, то штраф буде 25+25=50 грн.
