.tab-pane.fade#rules-prizes
  .rules-block
    %h5 Оплата
    %p
      Перед початком сезону кожен менеджер ліги повинен оплатити участь у грі.

    -# TODO: describe discounts and prizes
    -#%p
    -#  Призові отримують команди, які посіли найвищі 3 позиції.
    -#  Розмір призових залежать від кількості учасників та розміру накладених штрафів.
    -#  Призові для трійки переможців за умови участі 10 менеджерів в чемпіонаті:
    -#  %ul
    -#    %li 1 місце - отримує 1200 грн;
    -#    %li 2 місце - отримує 600 грн;
    -#    %li 2 місце - отримує 200 грн.
