.tab-pane.fade#rules-results
  .rules-block
    %h4 Розрахунок чемпіонату
    %p
      Перед початком сезону формується календар чемпіонату.
      Календар складається з декількох кіл, в якому кожна команда грає з кожною по одному матчу.
      В наступному колі команди, які грали на свому полі, грають на виїзді.
    %p
      Кількість учасників чемпіонату Мантри 2019 - 10 команд.
      Чемпіонат складатиметься з 4 кіл по 9 турів - загалом 36 турів.
      Кожна команда зіграє по 4 матчі з кожним суперником - двічі вдома та двічі на виїзді.
    %p
      Орієнтовно в перерві між 18 і 19 туром чемпіонату Мантри, однак не раніше закриття
      офіційного зимового трансферного вікна Серії А, відбудеться Зимове трансферне вікно Мантри.
    %p
      Набрані очки в матчах чемпіонату сумуються в турнірній таблиці чемпіонату.
      Місця команд в турнірній таблиці визначаються за кількістю набраних очок.
      При рівній кількості очок в декількох команд, вища позиція віддається команді з кращою різницею голів.
      При рівних кількості очок та різниці голів в декількох команд, вища позиція віддається команді з більшою кількістю забитих голів.
      При рівних кількості очок, різниці голів та кількості забитих голів в декількох команд,
      вища позиція віддається команді, яка отримала більше очок в матчах між цими командами.
    %p
      Команда, яка набрала найбільшу кількість очок після завершення останнього туру чемпіонату, визнається Переможцем Мантри.
    %p
      Після завершення чемпіонату командам виплачуються призові за результатами чемпіонату (детальніше у вкладці Призи/Штрафи).

    %h4 Розрахунок матчу
    %p
      Старт туру (дедлайн подачі складу та внесення змін) відбувається за 1 годину до першого матчу поточного туру Серії А.
      До старту кожен менеджер повинен внести свій склад - модуль та 18 гравців заявки (11 гравців основи та 7 гравців запасу).
      Після старту туру внесення змін у модуль та склад команди - заборонений
      (навіть за згоди на такі зміни зі сторони менеджера команди суперника).
    %p
      Оцінка гравця розраховується на основі базової оцінки (з офіційного джерела - наразі це La Gazzetta dello Sport, далі GdS)
      з врахуванням бонусів(збільшують оцінку гравця) та малусів(знижують оцінку гравця).
      Базова оцінка вноситься на наступний день після матчу Серії А.
    %p
      Якщо гравець не отримав базову оцінку від GdS (гравець не приймав участі в матчі або зіграв недостатньо часу),
      то на його місце заходить заміна по точній позиції.
      Якщо такої немає, то заходить гравець із запасу з найменшим малусом по позиції.
      Якщо в запасі є декілька гравців, які можуть вийти на заміну, то береться перший із списку запасних.
    %p
      Якщо жоден гравець запасу не може замінити гравця основи - то команда отримує 0 очок за цього гравця.
    %p
      Якщо воротар зіграв у матчі більше ніж 15 хв, однак не отримав оцінки, і в запасі нема іншого воротаря з отриманою базовою оцінкою,
      то йому автоматично зараховується оцінка 6, без бонуса за сухі ворота.
    %p
      %h5 Бонуси гравців:
      %ul
        %li 3 очка за забитий гол;
        %li 3 очка за відбите пенальті;
        %li 2 очка за забите пенальті (в такому випадку 3 очки за гол не нараховуються);
        %li 1 очко за кожен асист;
        %li 1 очко, якшо воротар не пропускає ні одного голу в матчі (і отримує базову оцінку);
        %li 1 очко захиснику, якщо він отримав базову оцінку і його команда не пропустила голів в цьому турі,
        коли цей захисник перебував на полі.
    %p
      %h5 Бонуси команди:
      %ul
        %li Коефіцієнт захисту - додаються всі оцінки захисників, сума ділиться на кількість захисників в модулі команди.
        Отриманий результат конвертується в додаткові бали для команди.
        Конвертація відбувається таким чином: якшо середня оцінка захисту дорівнює 6 то додається одне очко;
        якшо між 6 і 6,25 то 2 очка; якшо між 6,25 і 6,5 то 3 очка; якшо між 6,5 і 6,75 то 4 очка;
        якшо між 6,75 і 7 то 5 очок; якшо більше як 7, то 6 очок.
    %p
      %h5 Малуси гравців (очки, які віднімаються від базової оцінки):
      %ul
        %li 0,5 очків за кожну жовту картку;
        %li 2 очки за пропущений гол воротарем;
        %li 1 очко за пропущений гол воротарем з пенальті;
        %li 1 за кожну пряму червону картку;
        %li 2 очка за автогол;
        %li 3 очка за незабите пенальті.
    %p
      Після виставлення оцінок усім гравцям основи команди, їх оцінки сумуються та конвертуються в забиті м'ячі за таким алгоритмом:
      %ul
        %li Менше як 66 очок = 0 голів
        %li Від 66 до 71.9 = 1 гол
        %li Від 72 до 77.9 = 2 гол
        %li Від 78 до 83.9 = 3 гол
        %li Від 84 до 89.9 = 4 гол
        %li Від 90 до 95.9 = 5 гол
        %li Від 96 до 101.9 = 6 гол
        %li І так далі, кожні 6 очок команди - +1 гол.
    %p
      Команда, яка забила більше голів у матчі Мантри, виграє матч.
      Переможець матчу отримує 3 очка в турнірній таблиці.
      У випадку нічиєї - обидві команди отримують по 1 очку.
      Команда, що програла отримує 0 очок.
