.tab-pane.fade#rules-results
  .guide-tab
    %h4 Розрахунок ліги
    %p
      Перед початком сезону формується календар ліги.
      Календар складається з декількох кіл, в якому кожна команда грає з кожною по одному матчу.
      В наступному колі команди, які грали на своєму полі, грають на виїзді.
    %p
      Рекомендована кількість учасників ліги - 6-10 команд.
      Кількість раундів залежить від дати старту ліги та кількості раундів турніру, які ще не були проведені в цьому сезоні.
    %p
      Набрані очки в матчах ліги сумуються в турнірній таблиці ліги.
      Місця команд в турнірній таблиці визначаються за кількістю набраних очок.
      При рівній кількості очок в декількох команд, вища позиція віддається команді з кращою різницею голів.
      При рівних кількості очок та різниці голів в декількох команд, вища позиція віддається команді з більшою кількістю забитих голів.
      При рівних кількості очок, різниці голів та кількості забитих голів в декількох команд,
      вища позиція віддається команді, яка отримала більше очок в матчах між цими командами.
    %p
      Команда, яка набрала найбільшу кількість очок після завершення останнього раунду ліги, визнається Переможцем Ліги.

    %h4 Розрахунок матчу
    %p
      Старт раунду (дедлайн подачі складу та внесення змін) відбувається за 1 годину до першого матчу поточного раунду турніру.
      До старту кожен менеджер повинен внести свій склад - модуль та 18 гравців заявки (11 гравців основи та 7 гравців запасу).
      Після старту раунду внесення змін у модуль та склад команди - заборонений
      (навіть за згоди на такі зміни зі сторони менеджера команди суперника).
    %p
      Після кожного туру склад команди очищується, якщо менеджер не виставляє склад на наступний тур вчасно - до дедлайну,
      то склад береться з минулого туру, але команді нараховують штраф.
      За кожен пропущений раунд команді вираховується 1 бал штрафу у турнірній таблиці.
    %p
      Оцінка гравця розраховується на основі базової оцінки з врахуванням бонусів (збільшують оцінку гравця) та малусів (знижують оцінку гравця).
      Базова оцінка вноситься з точністю до 0,01 бала одразу після завершення матчу турніру.
    %p
      Якщо гравець не отримав базову оцінку (гравець не приймав участі в матчі або зіграв недостатньо часу),
      то на його місце заходить заміна по точній позиції.
      Якщо такої немає, то заходить гравець із запасу з найменшим малусом по позиції.
      Якщо в запасі є декілька гравців, які можуть вийти на заміну, то береться перший із списку запасних.
    %p
      Якщо жоден гравець запасу не може замінити гравця основи - то команда отримує 0 очок за цього гравця.
    %p
      Якщо воротар зіграв у матчі більше ніж 15 хв, однак не отримав оцінки, і в запасі нема іншого воротаря з отриманою базовою оцінкою,
      то йому автоматично зараховується оцінка 6, без бонуса за сухі ворота.
    %p
      %h5 Бонуси гравців:
      %ul
        %li 3 очка за кожен забитий гол;
        %li 3 очка за кожне відбите пенальті;
        %li 2 очка за кожне забите пенальті (в такому випадку 3 очки за гол не нараховуються);
        %li 1 очко за кожен асист;
        %li 1 очко, якшо воротар не пропускає ні одного голу в матчі (і отримує базову оцінку);
        %li 1 очко захиснику, якщо він отримав базову оцінку і, коли цей захисник перебував на полі, його команда не пропустила голів в цьому раунді.
    %p
      %h5 Бонуси команди:
      %ul
        %li Коефіцієнт захисту - додаються всі базові оцінки захисників, сума ділиться на кількість захисників в модулі команди.
        Отриманий результат конвертується в додаткові бали для команди.
        Конвертація відбувається таким чином: якшо середня оцінка захисту в межах між 6(включно) і 6,25 то додається одне очко;
        якшо між 6,25(включно) і 6,5 то 2 очка; якшо між 6,5(включно) і 6,75 то 3 очка;
        якшо між 6,75(включно) і 7 то 4 очок; якшо рівна чи більше як 7, то 5 очок.
    %p
      %h5 Малуси гравців (очки, які віднімаються від базової оцінки):
      %ul
        %li 0,5 очків за кожну жовту картку;
        %li 2 очки за кожен пропущений гол воротарем;
        %li 1 очко за кожен пропущений гол воротарем з пенальті;
        %li 1 за кожну пряму червону картку;
        %li 2 очка за кожен автогол;
        %li 3 очка за кожне незабите пенальті.
    %p
      Після виставлення оцінок усім гравцям основи команди, їх оцінки сумуються та конвертуються в забиті м'ячі за таким алгоритмом:
      %ul
        %li Менше як 66 очок = 0 голів
        %li Від 66 до 71.99 = 1 гол
        %li Від 72 до 77.99 = 2 гол
        %li Від 78 до 83.99 = 3 гол
        %li Від 84 до 89.99 = 4 гол
        %li Від 90 до 95.99 = 5 гол
        %li Від 96 до 101.99 = 6 гол
        %li І так далі, кожні 6 очок команди - +1 гол.
    %p
      Команда, яка забила більше голів у матчі ліги, виграє матч.
      Переможець матчу отримує 3 очка в турнірній таблиці ліги.
      У випадку нічиєї - обидві команди отримують по 1 очку.
      Команда, що програла отримує 0 очок.

    %h4 Власні правила ліг

    %p
      %p
        .leagues-rules-list
          .leagues-rules-headers
            .leagues-list-header Назва ліги
            .leagues-list-header Діапазон бонусу захисту
          - active_leagues.each do |league|
            .leagues-rules-item
              .leagues-rules-cell.leagues-rules-name= league.name
              .leagues-rules-cell
                = "#{league.min_avg_def_score} - #{league.max_avg_def_score}"
