.nameDataCell {
  padding-top: 0;
  padding-bottom: 0;
}

.totalScoreDataCell {
  font-family: "Nunito ExtraBold";
}

.logo {
  width: 32px;
  height: 32px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-size: 10px;
    line-height: 10px;
  }
}

.loading {
  padding: 16px;
  text-align: center;
  font-size: 16px;
  color: #847577;
}

/* Cell */
.nameCell {
  flex: 1;
}

.tournamentCell {
  flex: 0 0 86px;
}

.positionsCell {
  flex: 0 0 120px;
}

.priceCell {
  flex: 0 0 88px;
}

.totalTeamsCell {
  flex: 0 0 125px;
}

.appsCell {
  flex: 0 0 84px;
}

.baseScoreCell,
.totalScoreCell {
  flex: 0 0 76px;
}

.clubCell {
  flex: 0 0 86px;
}
