/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "multi-select";
@import "bootstrap-toggle";
@import "flag-icon";

@import "articles";
@import "clubs";
@import "footer";
@import "header";
@import "leagues";
@import "lineups";
@import "links";
@import "list-template";
@import "matches";
@import "players";
@import "results";
@import "round_players";
@import "teams";
@import "tours";
@import "users";
@import "welcome";

@font-face {
  font-family: 'Mont Regular';
  src: font-url('Mont-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Mont SemiBold';
  src: font-url('Mont-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mont Bold';
  src: font-url('Mont-Bold.ttf') format('truetype');
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: #FFFFFF;
  font-family: 'Mont Regular';
}

/* ---------------- OLD UI ------------------------*/

.page {
  display: grid;
  grid-template-columns: 200px auto;
  height: 100%;
}

.main-block {
  height: 100%;
}
.main {
  padding-top: 140px;
  background: image_url('bg-grey.jpg') #e2e2e2 round;
  height: 100%;
  width: 100%;
}

.page-info {
  padding: 140px 40px 20px;
}

.flash-block {
  height: 50px;
  line-height: 50px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;

  .flash-item {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
  }

  .flash-notice {
    background-color: #78d236ad;
    color: #001280
  }

  .flash-error {
    background-color: #ff0000bd;
    color: #000000; //#001280
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.small-number {
  width: 60px;
}

.nav-item {
  font-size: 17px;
}

.input-group-prepend {
  width: 110px;

  .input-group-text {
    width: 100%;
  }
}

.tox-tinymce {
  width: 90%;
}

.disqualified, .injured {
  opacity: 0.7;
}

.clr-success {
  background-color: #66bb6a;
}

.clr-danger, .injured {
  background-color: #ef5350;
}

.clr-warning, .problematic {
  background-color: #ffee58;
}

.clr-secondary, .disqualified {
  background-color: #bdbdbd;
}

.malus15 {
  background-color: yellow;
}

.malus30 {
  background-color: orange;
}

.malus45 {
  background-color: red;
}

@media (orientation: portrait) {
  .page-info {
    padding: 220px 40px 80px;
  }
}

