/* ARTICLE INDEX page */

.articles-block {
  min-height: 400px;
  max-width: 1000px;
  margin: 0 auto;

  .article-item {
    margin: 30px 0;
    a {
      color: #001280;
      text-decoration: none;
    }
  }
}

.article-block {
  display: grid;
  grid-template-columns: 30% auto;
}

.article-image {
  margin: 0 auto;
  img {
    max-width:100%;
    max-height: 300px;
    width: auto;
  }
}

.article-data {
  background-color: #ffffff;
  padding: 20px;
}

.article-data {
  height: auto;
}

.article-summary h5 {
  margin: 0;
  font-size: 18px;
  font-style: italic;
}

/* ARTICLE SHOW page*/

.article-show {
  color: white;
  .article-image {
    margin-top: 20px;
    text-align: center;
  }
  .article-title {
    padding: 0 0 15px;

    h3 {
      margin: 0;
    }
  }
}
