/* ARTICLE INDEX page */

.articles-head {
  position: relative;
}

.articles-new {
  position: absolute;
  right: 0;
  top: 9px;
}

.articles-new a {
  width: 120px;
}

/* Articles list */
.articles-list {
  margin: 30px 0;
}

.article-item {
  width: 100%;

  a {
    text-decoration: none;
  }
}

.article-block {
  width: 100%;
  display: grid;
  grid-template-columns: 540px auto;
  grid-column-gap: 15px;
}

.article-image {
  margin: 0 auto;
  img {
    max-width:100%;
    max-height: 300px;
    width: auto;
  }
}

@media screen and (max-device-width: 991px) {
  .article-block {
    grid-template-columns: 320px auto;
    grid-column-gap: 15px;
  }
}

@media screen and (max-device-width: 767px) {
  .article-block {
    grid-template-columns: 100%;
    grid-column-gap: 15px;
  }
  .article-image {
    margin-bottom: 10px;
  }
}

.article-data {
  height: auto;
}

.article-title {
  font-size: 32px;
}

.article-summary h5 {
  margin: 0;
  font-size: 21px;
}

.article-btn a {
  width: 100px;
}

.article-btn {
  height: auto;
  padding-top: 10px;
}

/* ARTICLE SHOW page*/

.article-show {
  .article-title {
    padding: 15px 0;

    h3 {
      margin: 0;
    }
  }
}
