/* AUCTION ROUNDS SHOW page */
.page-info.auction-rounds-page {
  height: 100%;
  padding-left: 272px;
  display: grid;
  grid-template-columns: 7fr 3fr;

  a { text-decoration: none }

  .round-section {
    padding: 16px;

    .auction-round-back {
      display: grid;
      grid-template-columns: 40px auto;
      column-gap: 8px;
      line-height: 40px;

      img {
        width: 16px;
        height: 16px;
        margin: 10px 12px;
        transform: rotate(180deg);
      }

      .auction-link-text {
        font-family: 'Nunito ExtraBold';
        color: #181715;
        font-size: 24px;
        line-height: 40px;
      }
    }

    .auction-round-header {
      margin-top: 20px;
      padding: 16px;
      background: #FFEBC2;
      border-radius: 8px 8px 0 0;

      .auction-round-base {
        display: grid;
        grid-template-columns: 100px auto 276px 144px;
        line-height: 40px;
        color: #181715;

        .auction-round-title {
          font-family: 'Nunito Bold';
          font-size: 18px;
        }

        .round-deadline {
          display: grid;
          grid-template-columns: 100px 136px;
          column-gap: 8px;

          .round-deadline-text {
            font-family: 'Nunito SemiBold';
            font-size: 14px;
            text-align: right;
          }

          .round-deadline-value {
            font-family: 'Nunito ExtraBold';
            margin: 7px 0;
            background: #FFFFFF;
            border: 1px solid #FCC5CB;
            border-radius: 4px;
            font-size: 12px;
            line-height: 24px;
            color: #DB0A23;
            text-align: center;
          }
        }
      }

      .rounds-block {
        margin-top: 8px;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    .auction-bid-block {
      .auction-bid-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        margin-top: 16px;
      }

      .transfer-headers, .transfer-item {
        grid-template-columns: 3fr 2fr 1fr 3fr 1fr;
      }

      .transfer-player-data-failed {
        background: #ffc2c2;
      }

      .transfer-player-data-success {
        background: #cfffc2;
      }
    }
  }

  .stats-section {
    .round-table {
      .auction-round-table-link {
        display: block;
        border-bottom: 1px solid #E5E6E4;
      }

      .auction-round-table-link:last-child {
        border-bottom: none;
      }

      .auction-round-table-item {
        line-height: 32px;
        grid-template-columns: auto 32px 48px 32px;

        .results-team-logo, .results-team-name {
          padding: 0 8px;
        }

        .auction-round-team-budget {
          font-family: 'Nunito ExtraBold';
          padding-right: 8px;
          text-align: right;
        }
      }

      .auction-round-budget {
        font-family: 'Nunito Regular';
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;

        .auction-round-budget-list {
          border-bottom: 1px solid #E5E6E4;
        }

        .auction-round-budget-row {
          display: grid;
          grid-template-columns: 8px auto 48px;
          column-gap: 8px;
          margin-bottom: 8px;

          .auction-round-budget-dot {
            background: #4EAD57;
            border-radius: 4px;
            margin: 4px 0;
          }

          .budget-dot-spent-auc {
            background: #BA44F1;
          }

          .budget-dot-spent-total {
            background: #CFD2CD;
          }

          .auction-round-budget-value {
            font-family: 'Nunito ExtraBold';
            text-align: right;
          }

          .budget-value-balance {
            color: #4EAD57;
          }

          .budget-value-spent-auc {
            color: #BA44F1;
          }

          .budget-value-spent-total {
            color: #A6A2A2;
          }
        }

        .auction-round-budget-summary-row {
          display: grid;
          grid-template-columns: auto 48px;
          color: #847577;
          margin-top: 8px;

          .auction-round-budget-summary-value {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .page-info.auction-rounds-page {
    display: block;
    padding: 0 16px 288px;

    .stats-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;

      .round-table {
        .round-table-item, .round-tournament-match {
          font-size: 16px;
        }
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.auction-rounds-page {
    display: block;

    .stats-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;

      .round-table {
        .round-table-item, .round-tournament-match {
          font-size: 16px;
        }
      }
    }
  }
}
