/* AUCTION ROUNDS SHOW page */
.page-info.auction-rounds-page {
  height: 100%;
  padding-left: 272px;
  display: grid;
  grid-template-columns: 7fr 3fr;

  a { text-decoration: none }

  .round-section {
    padding: 16px;

    .auction-round-back {
      display: grid;
      grid-template-columns: 40px auto;
      column-gap: 8px;
      line-height: 40px;

      img {
        width: 16px;
        height: 16px;
        margin: 10px 12px;
        transform: rotate(180deg);
      }

      .auction-link-text {
        font-family: 'Nunito ExtraBold';
        color: #181715;
        font-size: 24px;
        line-height: 40px;
      }
    }

    .auction-round-mob {
      display: none;
    }

    .auction-round-header {
      margin-top: 20px;
      padding: 16px;
      background: #FFEBC2;
      border-radius: 8px 8px 0 0;

      .auction-round-base {
        display: grid;
        grid-template-columns: 100px auto 276px 190px 20px;
        column-gap: 8px;
        line-height: 37px;
        color: #181715;

        &.auction-round-base-join {
          grid-template-columns: 100px auto 80px 380px 20px;
        }

        .auction-round-title {
          font-family: 'Nunito Bold';
          font-size: 18px;
        }

        .auction-round-status {
          font-family: 'Nunito ExtraBold';
          padding: 8px 0;

          .auction-round-status-badge {
            color: #FFFFFF;
            background: #FFB319;
            border-radius: 16px;
            padding: 0 8px;
            width: fit-content;
            height: 24px;
            font-size: 12px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .round-deadline {
          display: grid;
          grid-template-columns: 100px 136px;
          column-gap: 8px;

          .round-deadline-text {
            font-family: 'Nunito SemiBold';
            font-size: 14px;
            text-align: right;
          }

          .round-deadline-value {
            font-family: 'Nunito ExtraBold';
            margin: 7px 0;
            background: #FFFFFF;
            border: 1px solid #FCC5CB;
            border-radius: 4px;
            font-size: 12px;
            line-height: 24px;
            color: #DB0A23;
            text-align: center;
          }
        }
      }

      .rounds-block {
        margin-top: 8px;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    .round-action-btn {
      .round-action-buttons {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      form {
        display: contents;
      }

      #submit-bid-btn, #submit-bid-btn-mob {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid #261FFF;
        height: 40px;
        background: #261FFF;
        border-radius: 4px;
        flex: 1 1 auto;
        color: #FFFFFF;
        font-size: 16px;
        text-decoration: none;
        box-sizing: border-box;
      }

      .submit-btn-completed#submit-bid-btn, .submit-btn-completed#submit-bid-btn-mob {
        border: 1px solid #E9E9FF;
        background: #FFFFFF;
        color: #261FFF;
      }

      .submit-btn-generate {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        flex: 0 0 auto;
        height: 40px;
        padding: 0 16px;
        border: 1px solid #E9E9FF;
        border-radius: 4px;
        background: #FFFFFF;
        color: #261FFF;
        font-size: 16px;
        white-space: nowrap;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
          background: #F4F4FF;
        }
      }
    }

    .auction-round-base-submitted {
      background: #D0F0D4;

      .auction-round-base {
        .auction-round-status .auction-round-status-badge {
          background: #46A767;
        }
      }
    }

    .auction-round-base-completed {
      background: #FCC5CB;

      .auction-round-base {
        .auction-round-status .auction-round-status-badge {
          background: #DB0A23;
        }
      }
    }

    .auction-round-base-processed {
      background: #C2D4FF;
      border-radius: 8px;

      .auction-round-base {
        .auction-round-status .auction-round-status-badge {
          background: #261FFF;
        }
      }
    }

    .auction-round-add-header {
      border: 1px solid #FFEBC2;
      border-radius: 0 0 8px 8px;
      border-top: none;
      font-size: 14px;
      line-height: 24px;
      height: content-box;

      .auction-round-add-row {
        padding: 12px 16px;
        line-height: 24px;
        height: 48px;
        display: flex;
        gap: 4px;
      }

      .auction-round-add-row-prime {
        border-bottom: 1px solid #FFEBC2;
      }

      .auction-round-add-item-badge {
        font-family: 'Nunito ExtraBold';
        background: #FCC5CB;
        border-radius: 16px;
        font-size: 12px;
        color: #DB0A23;
        padding: 0 8px;
      }

      .auction-round-add-item-badge-gk {
        background: #FFEBC2;
        color: #9F6C05;
      }

      .auction-round-add-item-badge-budget {
        background: #D8D6FF;
        color: #040052;
      }
    }

    .auction-bid-block {
      .auction-bid-title {
        font-family: 'Nunito ExtraBold';
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0;
      }

      .auction-bid-suitable-modules {
        display: grid;
        grid-template-columns: 200px auto;
        column-gap: 16px;

        .auction-bid-title-modules {
          display: grid;
          grid-template-columns: 164px 36px;
          max-height: 56px;

          .tooltip-info .wrapper .tooltip {
            left: 0;
            top: 32px;
          }
        }

        .auction-bid-modules-block {
          margin: 16px 0;

          .module-lineUp {
            font-family: 'Nunito ExtraBold';
            border-radius: 16px;
            border: 1px solid #FFB319;
            background: #FFEBC2;
            color: #9F6C05;
            padding: 3px 8px;
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            text-align: center;
            margin: 2px;
          }

          .module-lineUpWithReserve {
            border: 1px solid #4EAD57;
            background: #D0F0D4;
            color: #1D5D26;
          }

          .module_no_fit {
            font-family: 'Nunito SemiBold';
            font-size: 14px;
            line-height: 24px;
            color: #A6A2A2;
          }

          .module_no_match {
            font-family: 'Nunito SemiBold';
            font-size: 14px;
            line-height: 24px;
            color: #DB0A23;
          }
        }
      }

      .auction-bid-slot {
        height: 72px;
        border: 1px solid #E5E6E4;
        color: #181715;
        border-radius: 8px;
        padding: 0 24px 0 16px;
        margin-bottom: 8px;
        display: grid;
        grid-template-columns: 24px 72px 2fr 1fr 1fr 168px;
        column-gap: 16px;
        font-size: 16px;
        line-height: 70px;

        .player-bid-avatar {
          .player-bid-face, .player-bid-kit {
            position: absolute;

            img {
              width: 66px;
              height: 66px;
            }
          }
        }

        .player-bid-name {
          padding: 13px 0;
          line-height: 42px;

          .player-bid-unselected {
            font-size: 14px;
            color: #847577;
          }

          .player-bid-last-name {
            font-family: 'Nunito ExtraBold';
            font-size: 16px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .player-bid-first-name {
            font-size: 14px;
            line-height: 18px;
            color: #847577;
          }
        }

        .player-bid-positions {
          .player-positions-block {
            display: flex;
            align-items: center;
            margin: 25px 0;
          }

          .algo-position {
            display: none;
          }
        }

        .player-bid-club {
          padding: 15px 0;
          line-height: 40px;
          height: 70px;
          text-align: center;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .player-bid-actions {
          .player-bid-action-select {
            font-family: 'Nunito ExtraBold';
            margin: 27px 16px;
            font-size: 14px;
            line-height: 16px;
            color: #261FFF;
            width: fit-content;
            border-bottom: 1px solid #D8D6FF;
            float: right;
            cursor: pointer;
          }

          .player-select-false {
            display: none;
          }

          .player-transfer-completed {
            display: grid;
            grid-template-columns: auto 24px;
            column-gap: 32px;
          }

          .player-transfer-price {
            font-family: 'Nunito ExtraBold';
            text-align: right;
            font-size: 18px;
          }

          .player-manage-block {
            display: grid;
            grid-template-columns: auto 24px;
            column-gap: 32px;
            min-width: 0;

            .price-input-block {
              margin: auto;
              min-width: 0;
            }

            input {
              width: 100%;
              min-width: 0;
              outline: none;
              border-width: 0 0 1px;
              border-color: #847577;
              border-radius: 0;
              font-size: 16px;
              background: #F4F4F4;
              text-align: center;
            }

            input:focus{
              outline: none;
              box-shadow: none;
            }
          }

          .player-manage-false {
            display: none;
          }
        }
      }

      .auction-bid-slot:hover {
        cursor: pointer;
        border: 1px solid #181715;
      }

      .modal-auction-players-list {
        display: none;
        position: fixed;
        z-index: 260;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0, 0.5);

        .auction-bid-modal-content {
          margin: 80px auto;
          width: 832px;
          min-height: 224px;
          background: #FFFFFF;
          box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
          border-radius: 8px;
          cursor: auto;

          .ab-modal-title {
            padding: 40px 0 24px;

            .ab-modal-title-text {
              font-family: 'Nunito ExtraBold';
              text-align: center;
              font-size: 24px;
              line-height: 32px;
            }
          }

          .ab-search-row {
            height: 56px;
            line-height: 56px;
            margin: 0 32px;

            .ab-players-search {
              line-height: 24px;
              border-radius: 28px;
              border: 1px solid #CFD2CD;
              width: 100%;
              display: grid;
              grid-template-columns: 24px auto 134px;
              column-gap: 16px;
              padding: 15px 16px;

              img {
                width: 24px;
                height: 24px;
              }

              input[type="search"]::-webkit-search-decoration,
              input[type="search"]::-webkit-search-cancel-button,
              input[type="search"]::-webkit-search-results-button,
              input[type="search"]::-webkit-search-results-decoration {
                display: none;
              }

              input {
                border: none transparent;
                outline: none;
                font-size: 16px;
                line-height: 22px;
                width: 100%;
              }

              .search-action {
                display: grid;
                grid-template-columns: auto 24px;
                column-gap: 16px;

                img {
                  width: 22px;
                  height: 22px;
                  margin-top: -3px;
                }

                .search-error {
                  font-family: 'Nunito ExtraBold';
                  font-size: 10px;
                  letter-spacing: 0.05em;
                  color: #DB0A23;
                  text-align: right;
                  display: none;
                }

                .search-clear {
                  display: none;
                }
              }
            }
          }

          .ab-filters-block {
            margin: 16px 32px;

            .ab-filters-title-row {
              font-family: 'Nunito ExtraBold';
              padding-left: 8px;
              display: grid;
              grid-template-columns: 16px 80px;
              column-gap: 8px;
              font-size: 12px;
              line-height: 24px;
              color: #847577;

              img {
                margin-top: -2px;
              }
            }
          }

          .ab-filters-positions {
            margin: 24px 32px 8px;
            line-height: 36px;

            .search-position {
              height: 36px;
              cursor: pointer;
              display: inline-block;
              padding: 4px 8px;
              border: 1px solid #FFFFFF;
            }

            .search-position-border {
              border: 1px solid #261FFF;
            }

            .player-position {
              border-radius: 4px;
            }

            .search-wishlist {
              font-size: 0;
              overflow: hidden;
              height: 36px;
              cursor: pointer;
              display: inline-block;
              padding: 4px 8px;
              border: 1px solid #FFFFFF;

              .search-wishlist-chip {
                font-family: 'Nunito ExtraBold';
                display: inline-block;
                background: #FFFFFF;
                color: #261FFF;
                border: 1px solid #261FFF;
                border-radius: 4px;
                padding: 3px 5px;
                height: 20px;
                font-size: 12px;
                line-height: 14px;
              }
            }

            .search-wishlist-border {
              border: 1px solid #261FFF;
            }
          }

          .ab-filters-clubs {
            margin: 0 32px 24px;
            line-height: 34px;
            font-size: 0;

            .search-club-logo {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              margin: 0 2px 4px;
              height: 34px;
              width: 34px;

              img {
                width: 28px;
                height: 28px;
              }
            }

            .search-club-border {
              border: 1px solid #261FFF;
              border-radius: 4px;
            }
          }

          .ab-players-block {
            max-height: 500px;
            overflow-y: scroll;
            position: relative;
            padding-bottom: 32px;

            .ab-player-item-row {
              display: grid;
              grid-template-columns: auto 32px;
              column-gap: 16px;
              padding: 0 32px;

              .ab-player-link-content {
                text-align: center;
              }
            }

            .ab-player-item {
              height: 72px;
              display: grid;
              grid-template-columns: 66px auto 40px 112px 88px 88px;
              column-gap: 16px;

              .player-show-face, .player-show-kit {
                position: absolute;

                img {
                  margin-top: 6px;
                  width: 66px;
                  height: 66px;
                }
              }

              .ab-player-name {
                padding: 16px 0;

                .ab-player-last-name {
                  font-family: 'Nunito ExtraBold';
                  font-size: 16px;
                  line-height: 24px;
                }

                .ab-player-first-name {
                  font-size: 14px;
                  line-height: 16px;
                  color: #847577;
                }
              }

              .ab-player-price {
                font-family: 'Nunito ExtraBold';
                font-size: 16px;
                line-height: 24px;
                color: #847577;
                margin: auto 0;
              }

              .ab-player-price5 {
                color: #4EAD57;
              }

              .ab-player-price10 {
                color: #006EF5;
              }

              .ab-player-price15 {
                color: #BA44F1;
              }

              .ab-player-price20 {
                color: #DB0A23;
              }

              .ab-player-club {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                height: 40px;

                img {
                  width: 40px;
                  height: 40px;
                }
              }

              .ab-player-status {
                font-family: 'Nunito ExtraBold';
                text-align: left;
                font-size: 10px;
                letter-spacing: 0.05em;
                color: #4EAD57;
              }
            }

            .ab-player-sold {
              .ab-player-name  .ab-player-last-name {
                color: #A6A2A2;
              }

              .ab-player-status {
                color: #DB0A23;
              }
            }

            .ab-player-dumped {
              .ab-player-name  .ab-player-last-name {
                color: #A6A2A2;
              }

              .ab-player-status {
                color: #BA44F1;
              }
            }

            .ab-player-item-row:hover {
              background: #F4F4F4;
            }
          }
        }
      }
    }
  }

  .stats-section {
    .round-table {
      .auction-round-table-link {
        display: block;
        border-bottom: 1px solid #E5E6E4;
      }

      .auction-round-table-link:last-child {
        border-bottom: none;
      }

      .auction-round-table-item {
        line-height: 32px;
        grid-template-columns: auto 32px 48px 32px;

        .results-team-logo, .results-team-name {
          padding: 0 8px;
        }

        .auction-round-team-budget {
          font-family: 'Nunito ExtraBold';
          padding-right: 8px;
          text-align: right;
        }
      }

      .auction-round-budget {
        font-family: 'Nunito Regular';
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;

        .auction-round-budget-list {
          border-bottom: 1px solid #E5E6E4;
        }

        .auction-round-budget-row {
          display: grid;
          grid-template-columns: 8px auto 48px;
          column-gap: 8px;
          margin-bottom: 8px;

          .auction-round-budget-dot {
            background: #181715;
            border-radius: 4px;
            margin: 4px 0;
          }

          .budget-dot-reserved {
            background: #DB0A23;
          }

          .budget-dot-available {
            background: #4EAD57;
          }

          .budget-dot-spent-auc {
            background: #BA44F1;
          }

          .budget-dot-spent-total {
            background: #CFD2CD;
          }

          .auction-round-budget-value {
            font-family: 'Nunito ExtraBold';
            text-align: right;
          }

          #budget-value-balance {
            color: #181715;
          }

          #budget-value-reserved {
            color: #DB0A23;
          }

          #budget-value-available {
            color: #4EAD57;
          }

          #budget-value-spent-auc {
            color: #BA44F1;
          }

          .budget-value-spent-total {
            color: #A6A2A2;
          }
        }

        .auction-round-budget-summary-row {
          display: grid;
          grid-template-columns: auto 48px;
          color: #847577;
          margin-top: 8px;

          .auction-round-budget-summary-value {
            text-align: right;
          }
        }

        .ar-budget-bar {
          width: 100%;
          height: 8px;
          border-radius: 4px;
          background: #4EAD57;
          margin-top: 16px;

          .ar-budget-bar-spent {
            width: 0;
            max-width: 100%;
            height: 8px;
            border-radius: 4px;
            background: #BA44F1;
          }
        }

        .ar-budget-alert {
          padding: 4px 4px 4px 8px;
          width: 100%;
          background: #FCC5CB;
          border-radius: 4px;
          display: none;
          grid-template-columns: 16px auto;
          column-gap: 8px;
          margin-top: 8px;
          font-size: 12px;
          line-height: 16px;

          .ar-budget-alert-header {
            font-family: 'Nunito ExtraBold';
          }
        }
      }

      .module-btn {
        font-family: "Nunito ExtraBold";
        height: 24px;
        display: inline-block;
        border: 1px solid #CFD2CD;
        border-radius: 12px;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        padding: 3px 8px;
        margin-bottom: 8px;
      }

      .module-btn-active {
        background: #D8D6FF;
        border: 1px solid #D8D6FF;
        color: #261FFF;
      }

      .module-img {
        width: 100%;
        margin-top: 16px;
        display: none;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .page-info.auction-rounds-page {
    display: block;
    padding: 0 16px 360px;

    .round-section {
      .auction-round-web {
        display: none;
      }

      .auction-round-mob {
        display: block;
      }

      .round-action-btn .round-action-buttons {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;

        #submit-bid-btn-mob {
          order: -1;
        }

        .submit-btn-generate {
          width: 100%;
        }
      }

      .auction-round-back {
        grid-template-columns: 54px auto;
        column-gap: 16px;
        line-height: 80px;

        img {
          width: 32px;
          height: 32px;
          margin: 10px 12px;
        }

        .auction-link-text {
          font-size: 36px;
          line-height: 80px;
        }
      }

      .auction-round-header {
        padding: 24px;
        border-radius: 16px 16px 0 0;

        .auction-round-base.auction-round-base-join {
          grid-template-columns: 196px auto 232px 40px;
        }

        .auction-round-base {
          grid-template-columns: 196px auto 232px 40px;
          column-gap: 12px;
          line-height: 54px;

          .auction-round-title {
            font-size: 36px;
          }

          .auction-round-status {
            padding: 11px 0;

            .auction-round-status-badge {
              padding: 0 12px;
              height: 32px;
              font-size: 20px;
              line-height: 32px;
            }
          }

          .round-deadline {
            display: block;

            .round-deadline-text {
              display: none;
            }

            .round-deadline-value {
              border: 2px solid #FCC5CB;
              border-radius: 8px;
              font-size: 18px;
              line-height: 32px;
              padding-top: 4px;
            }
          }

          .tooltip-info {
            .tooltip-img {
              padding: 10px 0;
            }

            img {
              width: 40px;
              height: 40px;
            }
          }
        }

        .rounds-block {
          margin-top: 16px;

          .round-link-block {
            border-radius: 8px;
            font-size: 32px;
            line-height: 72px;
            width: 88px;
            margin: 4px;
          }
        }
      }

      .round-action-btn {
        margin: 32px 0;

        #submit-bid-btn, #submit-bid-btn-mob, .submit-btn-generate {
          width: 100%;
          height: 88px;
          border-radius: 12px;
          font-size: 36px;
        }

        .round-action-buttons .submit-btn-generate {
          width: 100%;
        }
      }

      .auction-round-add-header {
        border: 3px solid #FFEBC2;
        border-radius: 0 0 16px 16px;
        font-size: 38px;
        height: fit-content;

        .auction-round-add-row {
          line-height: 44px;
          height: fit-content;
          padding: 24px 32px;
          gap: 12px;
          display: grid;
          grid-template-columns: auto auto;
        }

        .auction-round-add-item-badge {
          border-radius: 16px;
          font-size: 32px;
          padding: 0 16px;
          width: fit-content;
        }
      }

      .auction-bid-block {
        .auction-bid-suitable-modules {
          display: block;
          margin-bottom: 16px;

          .auction-bid-modules-block {
            margin: 24px 0 32px;

            .module-lineUp {
              font-size: 26px;
              line-height: 32px;
            }

            .module_no_fit {
              font-size: 28px;
              line-height: 36px;
            }

            .module_no_match {
              font-size: 28px;
              line-height: 36px;
            }
          }

          .auction-bid-title-modules {
            grid-template-columns: auto 36px;

            .tooltip-info .wrapper .tooltip {
              left: auto;
              right: 0;
              width: 600px;
              font-size: 28px;
            }

            .tooltip-img {
              img {
                width: 32px;
                height: 32px;
              }
            }
          }
        }

        .auction-bid-title {
          font-size: 42px;
          line-height: 56px;
        }

        .auction-bid-slot {
          height: 164px;
          border: 3px solid #E5E6E4;
          border-radius: 24px;
          padding: 0 36px 0 16px;
          margin-bottom: 24px;
          grid-template-columns: 36px 152px 2.2fr 1.1fr 1fr 170px;
          column-gap: 24px;
          font-size: 40px;
          line-height: 158px;

          .player-bid-index {
            font-size: 28px;
          }

          .player-bid-avatar {
            .player-bid-face, .player-bid-kit {
              position: absolute;

              img {
                width: 152px;
                height: 152px;
              }
            }
          }

          .player-bid-name {
            min-width: 0;
            padding: 28px 0;
            line-height: 102px;

            .player-bid-unselected {
              font-size: 36px;
            }

            .player-bid-last-name {
              font-size: 40px;
              line-height: 56px;
            }

            .player-bid-first-name {
              font-size: 32px;
              line-height: 44px;
            }
          }

          .player-bid-positions {
            min-width: 0;

            .player-positions-block {
              margin: 63px 0;
              height: 32px;

              .player-position {
                padding: 6px 8px;
                height: 32px;
                font-size: 18px;
                line-height: 20px;
              }
            }
          }

          .player-bid-club {
            padding: 24px 0;
            line-height: 110px;
            height: 158px;

            img {
              width: 80px;
              height: 80px;
            }
          }

          .player-bid-actions {
            min-width: 0;

            .player-transfer-price {
              font-size: 40px;
            }

            .player-transfer-completed, .player-manage-block {
              grid-template-columns: auto 32px;
              column-gap: 24px;
              min-width: 0;

              input {
                width: 100%;
                min-width: 0;
                border-width: 0 0 4px;
                font-size: 40px;
              }
            }
          }
        }

        .modal-auction-players-list .auction-bid-modal-content {
          width: 940px;
          margin: 48px auto;
          border-radius: 16px;

          .ab-modal-title {
            padding: 48px 0 32px;

            .ab-modal-title-text {
              font-size: 44px;
              line-height: 56px;
            }
          }

          .ab-search-row {
            height: 96px;
            line-height: 96px;

            .ab-players-search {
              line-height: 44px;
              border-radius: 48px;
              grid-template-columns: 44px auto 248px;
              column-gap: 24px;
              padding: 24px;

              img {
                width: 44px;
                height: 44px;
              }

              input {
                font-size: 32px;
                line-height: 44px;
              }

              .search-action {
                grid-template-columns: auto 44px;
                column-gap: 24px;

                img {
                  width: 40px;
                  height: 40px;
                  margin-top: -4px;
                }

                .search-error {
                  font-size: 20px;
                  white-space: nowrap;
                }
              }
            }
          }

          .ab-filters-positions {
            margin: 32px 32px 12px;
            line-height: 0;
            font-size: 0;

            .search-position {
              height: 74px;
              padding: 6px 10px;
              margin-bottom: 8px;
              border-radius: 12px;
            }

            .player-position {
              border-radius: 12px;
            }

            .search-wishlist {
              height: 74px;
              padding: 6px 10px;
              margin-bottom: 8px;
              border-radius: 12px;

              .search-wishlist-chip {
                height: 62px;
                padding: 10px 14px;
                font-size: 30px;
                line-height: 42px;
                border-radius: 12px;
              }
            }

            .player-position {
              height: 62px;
              padding: 10px 14px;
              font-size: 42px;
              line-height: 42px;
            }
          }

          .ab-filters-clubs {
            margin: 0 32px 32px;
            line-height: 76px;

            .search-club-logo {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              margin: 0 4px 12px;
              height: 76px;
              width: 76px;

              img {
                width: 72px;
                height: 72px;
              }
            }

            .search-club-border {
              border: 1px solid #261FFF;
              border-radius: 4px;
            }
          }

          .ab-players-block {
            max-height: 1200px;
            line-height: 144px;

            .ab-player-item-row {
              grid-template-columns: auto 52px;
              column-gap: 20px;
              padding: 0 24px;

              .ab-player-link {
                img {
                  width: 44px;
                  height: 44px;
                }
              }
            }

            .ab-player-item {
              height: 144px;
              grid-template-columns: 120px auto 60px 180px 68px 116px;
              column-gap: 12px;

              .player-show-face, .player-show-kit {
                img {
                  width: 130px;
                  height: 130px;
                }
              }

              .ab-player-name {
                min-width: 0;
                padding: 30px 0;

                .ab-player-last-name, .ab-player-first-name {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .ab-player-last-name {
                  font-size: 32px;
                  line-height: 44px;
                }

                .ab-player-first-name {
                  font-size: 24px;
                  line-height: 36px;
                }
              }

              .ab-player-price {
                font-size: 32px;
                line-height: 44px;
              }

              .player-bid-positions {
                display: flex;
                align-items: center;

                .player-positions-block {
                  margin: 0;
                  height: 36px;

                  .player-position {
                    height: 36px;
                    padding: 7px 10px;
                    font-size: 22px;
                    line-height: 22px;
                  }
                }
              }

              .ab-player-club {
                height: 64px;

                img {
                  width: 64px;
                  height: 64px;
                }
              }

              .ab-player-status {
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .stats-section {
      display: block;
      padding-bottom: 240px;

      .round-table {
        .round-table-title-text, .round-table-title-icon {
          font-size: 48px;
          line-height: 72px;

          img {
            padding: 0 12px;
            height: 24px;
          }
        }

        .round-table-title-header {
          grid-template-columns: auto 72px;
          column-gap: 24px;
        }

        .round-table-hide img {
          width: 36px;
          height: 18px;
          margin: 24px 18px;
        }

        .round-table-item, .round-tournament-match {
          font-size: 36px;
        }

        .auction-round-budget {
          margin-top: 48px;
          font-size: 42px;
          line-height: 48px;

          .auction-round-budget-list {
            border-bottom: 2px solid #E5E6E4;
          }

          .auction-round-budget-row {
            grid-template-columns: 24px auto 144px;
            column-gap: 24px;
            margin-bottom: 24px;

            .auction-round-budget-dot {
              border-radius: 12px;
              margin: 12px 0;
            }
          }

          .auction-round-budget-summary-row {
            grid-template-columns: auto 144px;
            margin-top: 24px;
          }

          .ar-budget-bar {
            height: 24px;
            border-radius: 12px;
            margin-top: 48px;

            .ar-budget-bar-spent {
              height: 24px;
              border-radius: 12px;
            }
          }

          .ar-budget-alert {
            padding: 12px 12px 12px 24px;
            border-radius: 12px;
            grid-template-columns: 48px auto;
            column-gap: 24px;
            margin-top: 24px;
            font-size: 36px;
            line-height: 48px;
          }
        }

        .auction-round-table-item {
          font-size: 36px;
          line-height: 96px;
          grid-template-columns: auto 96px 144px 96px;

          .results-team-logo, .results-team-name {
            padding: 0 24px;
          }

          .auction-round-team-budget {
            padding-right: 24px;
          }

          .round-table-item-team {
            grid-template-columns: 120px auto;

            img {
              width: 72px;
              height: 72px;
            }
          }
        }

        .round-player-stats-item {
          grid-template-columns: 72px auto 72px 120px;
          column-gap: 24px;
          font-size: 36px;
          line-height: 96px;
          height: 96px;

          .round-player-stats-data {
            grid-template-columns: 96px auto;
            column-gap: 24px;
          }

          .round-player-stats-img {
            .round-player-show-face, .round-player-show-kit {
              padding-top: 3px;
              height: 96px;

              img {
                width: 90px;
                height: 90px;
                margin-bottom: 3px;
              }
            }
          }

          .round-player-stats-score {
            font-size: 36px;
          }

          .round-player-stats-team {
            img {
              width: 60px;
              height: 60px;
            }
          }
        }

        .module-btn {
          height: 72px;
          border: 3px solid #CFD2CD;
          border-radius: 36px;
          font-size: 36px;
          line-height: 48px;
          padding: 9px 24px;
          margin-bottom: 24px;
        }

        .module-btn-active {
          border: 3px solid #D8D6FF;
        }
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.auction-rounds-page {
    display: block;

    .round-section .auction-round-header .auction-round-base {
      grid-template-columns: 100px auto 152px 190px 20px;

      .round-deadline {
        display: block;

        .round-deadline-text {
          display: none;
        }
      }
    }
    .stats-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;

      .round-table {
        .round-table-item, .round-tournament-match {
          font-size: 16px;
        }
      }
    }
  }
}
