.page-info.club-show {
  padding: 0 0 0 272px;

  a {
    text-decoration: none;
  }

  .teams-bar {
    display: none;
  }

  .club-show-content {
    display: grid;
    grid-template-columns: auto 288px;

    .team-section {
      display: block;
      margin: 0;
    }
  }

  .club-section {
    margin: 24px 16px;

    .club-data {
      .club-logo {
        margin: 48px auto 16px;
        width: fit-content;

        object, img {
          margin: auto;
          width: 80px;
          height: 80px;
        }
      }

      .club-name {
        font-family: 'Nunito ExtraBold';
        font-size: 24px;
        line-height: 32px;
        text-align: center;
      }

      .club-tournament {
        font-family: 'Nunito Regular';
        font-size: 16px;
        line-height: 24px;
        color: #847577;
        text-align: center;
        margin-bottom: 16px;
      }
    }

    .club-list {
      max-width: 848px;
      margin: auto;
    }
  }

  .clubs-list {
    width: 288px;
    height: 100%;
    position: fixed;
    right: 0;
    border-left: 1px solid #E5E6E4;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .club-list-item {
      height: 72px;
      line-height: 40px;
      padding: 16px;
      border-bottom: 1px solid #E5E6E4;

      a {
        display: block;
      }

      .club-list-row {
        color: #181715;
        display: grid;
        grid-template-columns: 40px auto;
        column-gap: 16px;
      }

      .club-list-row:hover {
        color: #261FFF;
      }

      .club-list-logo {
        height: 40px;

        object, img {
          width: 40px;
          height: 40px;
        }
      }

      .club-list-name {
        font-family: 'Nunito SemiBold';
        font-size: 16px;
        line-height: 40px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .current-club-true {
      background: #FFEBC2;
    }
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .page-info.club-show {
    .club-show-content {
      grid-template-columns: auto 256px;
    }

    .club-section {
      .club-list {
        max-width: 724px;
        margin: auto;
      }
    }

    .clubs-list {
      width: 256px;
    }
  }
}

@media (max-width: 768px) {
  .page-info.club-show.team-show {
    padding: 0 0 120px;

    .teams-bar.clubs-bar {
      display: flex;
      align-items: center;
      height: 80px;
      margin-bottom: 0;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .teams-bar-section.club-bar-section {
        padding: 0 5px;
        display: flex;
        align-items: center;
        margin: 0 auto;

        .club-bar-item {
          width: 48px;
          height: 48px;
          padding: 9px !important;
          margin: 0 4px;
          border-radius: 24px;
          border: 1px solid #E5E6E4;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .club-bar-item-logo {
          display: flex;
          align-items: center;
          justify-content: center;

          object, img {
            width: 27px;
            height: 27px;
          }
        }

        .current-team-true {
          border: 1px solid #FFB319;
        }
      }
    }

    .team-section {
      margin: 0;
    }

    .club-show-content {
      display: block;

      .club-section {
        .club-data {
          .club-logo {
            margin: 16px auto 8px;

            object, img {
              width: 68px;
              height: 68px;
            }
          }

          .club-name {
            font-size: 20px;
            line-height: 28px;
          }

          .club-tournament {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 14px;
          }
        }

        .club-list {
          padding: 0 16px;

          .default-headers {
            display: none;
          }

          .team-lists-tabs {
            height: 38px;
            line-height: 30px;
            font-size: 15px;

            .team-lists-tab-item {
              border-bottom: 1px solid #E5E6E4;
            }

            .team-lists-tab-active {
              border-bottom: 3px solid #261FFF;
            }
          }

          .team-players-grid {
            grid-template-columns: 9fr 22fr 7fr;
          }

          .team-player-item {
            height: 72px;
            border-radius: 10px;
            margin-bottom: 10px;
            border: 1px solid #E5E6E4;

            .team-player-data {
              .team-player-avatar {
                padding: 4px 10px 0;

                .player-show-face, .player-show-kit {
                  img, object {
                    width: 65px;
                    height: 65px;
                  }
                }
              }
            }

            .team-player-data-mob {
              padding: 8px 0;

              .team-player-name-mob {
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 3px;
              }

              .team-player-subdata-mob {
                line-height: 23px;
                gap: 7px;

                .player-positions-block {
                  height: 23px;
                  border-radius: 5px;
                }

                .player-position {
                  padding: 5px 8px;
                  height: 23px;
                  font-size: 13px;
                  line-height: 15px;
                }

                .team-player-line-mob {
                  width: 1px;
                  height: 12px;
                }

                img, object {
                  width: 23px;
                  height: 23px;
                }

                .flag-icon {
                  width: 20px;
                }

                .team-player-stats-number {
                  font-size: 13px;
                  line-height: 23px;
                }
              }
            }

            .team-player-rating {
              font-size: 20px;
              line-height: 68px;
              padding-right: 13px;
            }
          }
        }
      }
    }

    .clubs-list {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .page-block .portrait-footer {
    height: 90px;
    padding: 10px 15px;

    img {
      width: 30px;
      height: 30px;
    }

    .league-link {
      padding: 11px 0;

      .league-link-text {
        font-size: 13px;
        line-height: 18px;
      }
    }

    .link-active-true {
      border-radius: 10px;
    }
  }

  .page-block .portrait-footer-false {
    padding: 10px 80px;
    column-gap: 15px;
  }
}
