/* DIVISIONS INDEX page */

.page-info.divisions-page {
  padding: 32px 24px 70px 96px;

  a {
    text-decoration: none;
    color: #181715;
  }

  .divisions-title-bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    line-height: 64px;
    margin-bottom: 24px;

    .divisions-title {
      font-weight: bold;
      font-size: 48px;
      color: #181715;
    }
  }

  .divisions-grid-block {
    .division-level-row {
      display: grid;
      grid-template-columns: 88px auto;
      column-gap: 24px;
      margin-bottom: 24px;

      .division-level {
        border-right: 3px solid #E5E6E4;
        text-align: center;
        padding-right: 16px;

        .division-level-data {
          line-height: 40px;
          font-size: 16px;
          background: #F4F4F4;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          gap: 4px;

          .division-level-name {
            font-family: 'Nunito ExtraBold';
          }

          .division-level-number {
            color: #847577;
          }
        }
      }

      .division-leagues {
        display: flex;

        .league-item {
          width: 224px;
          margin-right: 24px;

          .league-title {
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 16px 16px 0 0;
            background: #181715;
            color: #E5E6E4;
            display: grid;
            grid-template-columns: 24px auto 16px;
            column-gap: 8px;

            .league-div-name {
              font-family: 'Nunito ExtraBold';
            }
          }

          .league-results {
            border: 1px solid #E5E6E4;
            padding: 8px;
            font-size: 14px;
            line-height: 32px;
          }

          .league-result {
            display: grid;
            grid-template-columns: 24px auto 32px;
            margin-bottom: 2px;
          }

          .promotion-true {
            background: #D0F0D4;
          }

          .relegation-true {
            background: #FCC5CB;
          }

          .league-result-position {
            text-align: center;
            border-radius: 2px;
          }

          .league-result-team {
            padding: 0 8px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
          }

          .league-result-points {
            font-family: 'Nunito ExtraBold';
            text-align: center;
          }
        }
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.divisions-page {
    padding: 100px 50px 70px;
  }
}

@media (orientation: portrait) {
  .page-info.divisions-page {
    padding: 0 16px 44px;

    .divisions-title-bar {
      display: none;
    }
  }
}
