.footer {
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
  background: #F4F4F4;
  z-index: 5;

  .footer-block {
    display: inline-block;
    height: 100%;
    line-height: 64px;
    margin: 0 32px;

    .footer-block-title {
      display: inline-block;

      font-family: Archivo;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      color: #181715;
    }

    .footer-block-item {
      display: inline-block;
      margin: auto auto auto 18px;
      img {
        width: 36px;
        height: 36px;
      }
    }

    .social-media-item {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
