.header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 100;
  font-family: 'Mont Regular';

  a {
    text-decoration: none;
    color: #181715;
  }

  .left-header {
    background: #F4F4F4;
    display: grid;
    grid-template-columns: 120px 80px auto;

    .mantra-logo {
      margin: auto;
      img {
        width: 80px;
        height: 80px;
      }
    }

    .locale {
      margin: auto;

      .locale-btn {
        width: 39px;
        height: 32px;
        background: #E5E5E5;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 32px;
        text-align: center;
        color: #181715;
      }
    }

    .info-links {
      padding-right: 36px;
      text-align: right;

      .info-links-item {
        display: inline-block;
        max-width: 100%;
        height: 100%;
        padding: 0 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120px;
        color: #181715;
      }
    }

    .base-links {
      // TODO: temp css
      //background: rgba(239, 87, 44, 0.47);
    }
  }

  .right-header {
    margin: auto 0;
    height: 100%;

    .login-links {
      text-align: right;
      line-height: 120px;

      .login-link-item {
        display: inline-block;
        max-width: 100%;
        height: 100%;
        margin-right: 32px;
        font-weight: 500;
        font-size: 16px;
      }

      .login-link a {
        color: #FFFFFF;
      }

      .header-btn {
        height: 32px;
        line-height: 32px;
        padding: 0 16px;
        background: #FFFFFF;
        border-radius: 4px;

        a {
          color: #261FFF;
        }
      }
    }

    .personal-links {
      height: 120px;
      display: grid;
      grid-template-columns: auto 120px;
      background: #F4F4F4;

      .next-round {
        background: #F4F4F4;
        border-left: 1px solid #E5E6E4;
        border-bottom: 1px solid #E5E6E4;
        padding-left: 26px;

        .next-round-title {
          margin-top: 24px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;

          .next-round-text {
            color: #181715;
            display: inline-block;
          }

          .next-round-number {
            color: #847577;
            display: inline-block;
          }
        }

        .next-round-datetime {
          font-size: 24px;
          line-height: 32px;
          padding-bottom: 8px;

          .next-round-date {
            font-weight: bold;
            color: #181715;
            display: inline-block;
          }

          .next-round-time {
            color: #847577;
            display: inline-block;
          }
        }

        .next-round-opponent {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;

          .next-round-vs {
            display: inline-block;
            color: #847577;
          }

          .next-round-opponent-logo {
            display: inline-block;
            margin: 0 4px;

            img {
              width: 16px;
              height: 16px;
            }
          }

          .next-round-opponent-name {
            color: #181715;
            display: inline-block;
          }
        }

        .next-round-wait {
          font-size: 16px;
          line-height: 120px;
        }
      }

      .user-data {
        width: 100%;
        height: 100%;
        border-left: 1px solid #E5E6E4;
        border-bottom: 1px solid #E5E6E4;

        .profile-logo{
          width: 100%;
          height: 100%;
          margin: 0 auto;

          img {
            width: 56px;
            height: 56px;
            margin: 32px;
          }
        }

        .tournament-logo {
          position: absolute;
          width: 30px;
          height: 30px;
          right: 22px;
          top: 66px;
        }
      }
    }

    .burger-menu-block {
      display: none;
      overflow-x: hidden;
      z-index: 101;
      height: 200px;
      background: #F4F4F4;

      a {
        text-decoration: none;
        color: #E5E5E5;
        font-size: 54px;
        line-height: 100px;

        transition: color 0.3s ease;
      }

      a:hover {
        color: tomato;
      }

      #menuToggle {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
      }

      #menuToggle input {
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -50px;
        left: -60px;

        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
      }

      #menuToggle span {
        display: block;
        width: 91px;
        height: 14px;
        margin-bottom: 14px;
        position: relative;
        background: #261FFF;
        border-radius: 7px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
      }

      #menuToggle span:first-child {
        transform-origin: 0% 0%;
      }

      #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #E5E5E5;
      }

      #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
      }

      #menu {
        position: absolute;
        width: 1200%;
        margin: -150px 0 0 0;
        padding: 150px 50px 150px 150px;
        right: -100px;

        background: #261FFF;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }

      #menu li {
        padding: 10px 0;
        font-size: 22px;
      }

      #menuToggle input:checked ~ ul
      {
        transform: none;
        opacity: 1;
      }

      @media screen and (max-width: 768px) {
        #menu {
          transform: none;
          opacity: 0;

          transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
      }
    }
  }

  .external-header-false {
    border-bottom: 1px solid #E5E6E4;

    .login-links {
      background: #F4F4F4;;

      .login-link a {
        color: #261FFF;
      }

      .header-btn {
        background: #261FFF;

        a {
          color: #FFFFFF;
        }
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    background-color: #FFFFFF;
    margin: 100px 20px;
    border: 1px solid #E5E6E4;
    box-sizing: border-box;
    box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
    border-radius: 4px;
    width: 420px;
    float: right;

    .modal-user {
      width: 100%;
      height: 112px;
      padding: 24px;
      display: grid;
      grid-template-columns: 64px auto 48px;
      grid-column-gap: 16px;

      .modal-user-avatar {
        height: 64px;
        width: 64px;

        img {
          height: 64px;
          width: 64px;
        }
      }

      .modal-user-data {
        padding: 8px 0;
        .modal-user-name {
          font-size: 24px;
          line-height: 32px;
          color: #181715;
        }

        .modal-user-email {
          font-size: 12px;
          line-height: 16px;
          color: #847577;
        }
      }

      .modal-settings {
        padding: 20px 12px;
        img {
          height: 24px;
          width: 24px;
        }
      }
    }

    .modal-teams {
      padding-bottom: 12px;

      .modal-teams-title {
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 8px;
        text-transform: uppercase;

        .modal-teams-title-item:first-child {
          padding-left: 24px;
        }

        .modal-teams-title-item:last-child {
          padding-left: 4px;
          color: #847577;
        }
      }

      .modal-teams-item {
        height: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 8px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 40px;

        .modal-team, .modal-league {
          display: grid;
          grid-template-columns: 40px auto;
          column-gap: 8px;
        }

        .modal-league {
          grid-template-columns: 36px auto;
        }

        .modal-team-logo {
          img {
            height: 40px;
            width: 40px;
          }
        }
        .modal-league-logo {
          padding-left: 4px;
          img {
            height: 32px;
            width: 32px;
          }
        }
      }
      .active-team {
        background: #FFEBC2;
        border-radius: 4px;
      }
    }

    .modal-links {
      margin: 0 20px;
      padding: 16px 0;
      border-top: 1px solid #E5E6E4;

      .modal-link {
        font-size: 12px;
        line-height: 16px;
        padding: 8px;
      }
    }
  }
}

.local-header {
  background-color: #FFFFFF;
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 111;
  display: grid;
  grid-template-columns: 90px auto 150px;

  .local-header-close {
    font-size: 40px;
    text-align: center;
    line-height: 110px;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .local-header-close a:hover,
  .local-header-close a:focus {
    color: #847577;
    text-decoration: none;
    cursor: pointer;
  }

  .local-header-text {
    padding: 36px 0;

    .local-header-title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
    }

    .local-header-subtitle {
      font-size: 12px;
      line-height: 16px;
      color: #847577;
    }
  }

  .local-header-link {
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 120px;
      color: #181715;
    }

    a:hover {
      text-decoration: none;
      color: #847577;
    }
  }
}

.header-grid {
  display: grid;
  grid-template-columns: auto 370px;
}

@media (orientation: portrait) {
  .header {
    height: 200px;

    .left-header {
      grid-template-columns: 200px 120px auto;

      .mantra-logo {
        img {
          width: 160px;
          height: 160px;
        }
      }

      .locale .locale-btn {
        width: 96px;
        height: 54px;
        border-radius: 10px;
        font-size: 32px;
        line-height: 54px;
      }

      .info-links, .base-links {
        display: none;
      }
    }

    .right-header {
      margin: 0;

      .right-header-links {
        display: none;
      }

      .burger-menu-block {
        display: block;
      }
    }
  }

  .local-header {
    height: 200px;
    grid-template-columns: 150px auto 200px;

    .local-header-close {
      font-size: 60px;
      line-height: 190px;
    }

    .local-header-text {
      padding: 64px 0;

      .local-header-title {
        font-size: 36px;
        line-height: 48px;
      }

      .local-header-subtitle {
        font-size: 28px;
        line-height: 24px;
      }
    }

    .local-header-link {
      a {
        font-size: 28px;
        line-height: 200px;
      }
    }
  }

  .header-grid {
    display: grid;
    grid-template-columns: auto 200px;
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .header {
    height: 100px;

    .left-header {
      grid-template-columns: 100px 80px auto;

      .mantra-logo {
        img {
          width: 80px;
          height: 80px;
        }
      }

      .locale .locale-btn {
        width: 48px;
        height: 28px;
        border-radius: 5px;
        font-size: 18px;
        line-height: 28px;
      }

      .info-links, .base-links {
        display: none;
      }
    }

    .right-header {
      margin: 0;

      .right-header-links {
        display: none;
      }

      .burger-menu-block {
        display: block;
        height: 100px;

        a {
          font-size: 32px;
          line-height: 50px;
        }

        #menuToggle {
          display: block;
          position: absolute;
          top: 30px;
          right: 50px;
        }

        #menuToggle input {
          display: block;
          width: 150px;
          height: 100px;
          position: absolute;
          top: -30px;
          left: -60px;
        }

        #menuToggle span {
          display: block;
          width: 46px;
          height: 6px;
          margin-bottom: 7px;
          border-radius: 3px;
        }

        #menu {
          position: absolute;
          width: 1000%;
          margin: -130px 0 0 0;
          padding: 150px 50px 500px 100px;
          right: -100px;
        }

        #menu li {
          padding: 10px 0;
          font-size: 22px;
        }
      }
    }
  }

  .header-grid {
    display: grid;
    grid-template-columns: auto 180px;
  }
}
