.header {
  font-family: 'Nunito ExtraBold';
  width: 100%;
  height: 96px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 18px 24px;

  a {
    text-decoration: none;
    color: #181715;
  }

  .left-header {
    display: grid;
    grid-template-columns: 64px 60px auto;
    column-gap: 24px;

    .mantra-logo {
      margin: auto;
      img {
        width: 64px;
      }
    }

    .locale {
      margin: auto;

      .locale-btn {
        width: 60px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
      }
    }

    .locale:hover a {
      color: #261FFF;
    }
  }

  .header-links {
    text-align: right;
    padding: 4px 0;
    height: 60px;

    .header-links-section {
      display: inline-block;
    }

    .header-links-section-border {
      border-right: 1px solid #181715;
      padding-right: 32px;
    }

    .header-link-item {
      display: inline-block;
      padding-left: 32px;
      font-size: 16px;
      line-height: 24px;
    }

    a {
      height: 24px;
      display: inline-block;
    }

    .header-link-item:hover a {
      color: #261FFF;
    }

    .header-link-start:hover a {
      color: #FFFFFF;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    background-color: #FFFFFF;
    margin: 100px 20px;
    border: 1px solid #E5E6E4;
    box-sizing: border-box;
    box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
    border-radius: 4px;
    width: 420px;
    float: right;

    .modal-user {
      width: 100%;
      height: 112px;
      padding: 24px;
      display: grid;
      grid-template-columns: 64px auto 48px;
      grid-column-gap: 16px;

      .modal-user-avatar {
        height: 64px;
        width: 64px;

        img {
          height: 64px;
          width: 64px;
        }
      }

      .modal-user-data {
        padding: 8px 0;
        .modal-user-name {
          font-size: 24px;
          line-height: 32px;
          color: #181715;
        }

        .modal-user-email {
          font-size: 12px;
          line-height: 16px;
          color: #847577;
        }
      }

      .modal-settings {
        padding: 20px 12px;
        img {
          height: 24px;
          width: 24px;
        }
      }
    }

    .modal-teams {
      padding-bottom: 12px;

      .modal-teams-title {
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 8px;
        text-transform: uppercase;

        .modal-teams-title-item:first-child {
          padding-left: 24px;
        }

        .modal-teams-title-item:last-child {
          padding-left: 4px;
          color: #847577;
        }
      }

      .modal-teams-item {
        height: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 8px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 40px;

        .modal-team, .modal-league {
          display: grid;
          grid-template-columns: 40px auto;
          column-gap: 8px;
        }

        .modal-league {
          grid-template-columns: 36px auto;
        }

        .modal-team-logo {
          img {
            height: 40px;
            width: 40px;
          }
        }
        .modal-league-logo {
          padding-left: 4px;
          img {
            height: 32px;
            width: 32px;
          }
        }
      }
      .active-team {
        background: #FFEBC2;
        border-radius: 4px;
      }
    }

    .modal-links {
      margin: 0 20px;
      padding: 16px 0;
      border-top: 1px solid #E5E6E4;

      .modal-link {
        font-size: 12px;
        line-height: 16px;
        padding: 8px;
      }
    }
  }
}

.landing-true {
  background: #FFEBC2;
}

.local-header {
  background-color: #FFFFFF;
  height: 96px;
  width: 100%;
  display: grid;
  grid-template-columns: 90px auto 150px;

  .local-header-close {
    font-size: 40px;
    text-align: center;
    line-height: 96px;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .local-header-close a:hover,
  .local-header-close a:focus {
    color: #847577;
    text-decoration: none;
    cursor: pointer;
  }

  .local-header-text {
    padding: 24px 0;

    .local-header-title {
      font-size: 24px;
      line-height: 32px;
    }

    .local-header-subtitle {
      font-size: 12px;
      line-height: 16px;
      color: #847577;
    }
  }

  .local-header-link {
    a {
      font-size: 16px;
      line-height: 96px;
      color: #181715;
    }

    a:hover {
      text-decoration: none;
      color: #847577;
    }
  }
}

@media (orientation: portrait) {
  .header {
    .header-links {
      padding: 18px 0;

      .header-links-section-sign {
        display: none;
      }
    }
  }

  .local-header {
    height: 200px;
    grid-template-columns: 150px auto 200px;

    .local-header-close {
      font-size: 60px;
      line-height: 190px;
    }

    .local-header-text {
      padding: 64px 0;

      .local-header-title {
        font-size: 36px;
        line-height: 48px;
      }

      .local-header-subtitle {
        font-size: 28px;
        line-height: 24px;
      }
    }

    .local-header-link {
      a {
        font-size: 28px;
        line-height: 200px;
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1199px) {
  .header {
    .header-links {
      padding: 18px 0;

      .header-links-section-sign {
        display: none;
      }
    }
  }
}
