.join-requests-page {
  font-family: 'Nunito ExtraBold';
  padding: 128px 150px 48px 222px;
  text-align: center;
  font-size: 32px;
  line-height: 32px;

  .requests-img {
    margin-bottom: 48px;
  }

  .subtitle-text {
    color: #A6A2A2;
    margin-bottom: 12px;
  }

  .requests-text {
    margin-top: 12px;
    font-size: 24px;
  }

  .contact-row {
    color: #A6A2A2;
    margin-top: 4px;
    font-size: 24px;

    .contact-text, .contact-link {
      display: inline-block;

      a {
        text-decoration: none;
      }
    }
  }

  .title-text-ua {
    margin-top: 36px;
  }
}

@media (orientation: portrait) {
  .join-requests-page {
    padding: 128px 64px 48px;
    font-size: 48px;
    line-height: 48px;

    .subtitle-text {
      font-size: 28px;
      line-height: 36px;
    }

    .requests-text {
      margin-top: 24px;
      font-size: 36px;
    }

    .contact-row {
      margin-top: 16px;
      font-size: 36px;
    }

    .title-text-ua {
      margin-top: 64px;
    }
  }
}
