.join-requests-page {
  font-family: 'Nunito ExtraBold';
  padding: 220px 150px 48px 222px;
  text-align: center;
  font-size: 32px;
  line-height: 32px;

  .requests-img {
    margin-bottom: 48px;
  }

  .subtitle-text {
    color: #A6A2A2;
  }

  .requests-text {
    margin-top: 48px;
    font-size: 24px;
  }

  .contact-row {
    color: #A6A2A2;
    margin-top: 24px;
    font-size: 24px;

    .contact-text, .contact-link {
      display: inline-block;

      a {
        text-decoration: none;
      }
    }
  }
}
