// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.league-item {
  display: grid;
  grid-template-columns: 25% auto;
  margin: 30px 0 0;
  background-color: #001280;
  color: white;
}

.league-item:first-child {
  margin: 10px 0 0;
}

.league-info-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.league-info {
  width: 100%;
  text-align: center;
  .league-name {
    padding: 10px;
    font-size: 24px;
  }
  .league-tournament-logo {
    img {
      max-width: 120px;
      height: 120px;
    }
  }
  .league-tournament-title {
    color: #6adde2;
    font-size: 22px;
    padding: 10px;
  }
}

.league-teams {
  font-size: 20px;
  line-height: 46px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 50% 50%;

  a {
    text-decoration: none;
  }

  .league-team {
    width: 100%;
    padding: 5px 20px 5px 0;
    display: grid;
    grid-template-columns: 50px auto;
  }
  .league-team-logo {
    background-color: white;
    img {
      margin: 2px;
      width: 46px;
      height: 46px;
    }
  }
  .league-team-name {
    padding-left: 10px;
    background-color: #0f29a4;
    color: #ffffff;
    max-width: 100%;
  }
  .league-team-link:nth-child(4n-1), .league-team-link:nth-child(4n-2) {
    .league-team-name {
      background-color: #0657cc;
    }
  }
}

@media screen and (max-device-width: 1030px) {
  .league-item {
    grid-template-columns: 100%;
  }
  .league-info {
    .league-name {
      padding: 10px 0 0;
    }
    .league-tournament-logo {
      display: none;
    }
    .league-tournament-title {
      font-size: 18px;
      padding: 0;
    }
  }
  .league-teams {
    padding: 10px;
    .league-team {
      padding: 5px 10px;
      max-height: 60px;
    }
    .league-team-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
