// League#show page //

.page-info.league-page {
  padding-left: 272px;

  .league-teams {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

    a {
      text-decoration: none;
      color: #181715;
    }

    .league-team-item {
      text-align: center;

      .team-logo {
        margin: auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .team-name {
        line-height: 32px;
        font-size: 18px;
      }
    }
  }
}

@media (orientation: portrait) {
  .page-info.league-page {
    padding: 0 64px 120px;
    display: block;

    .league-teams {
      padding: 0;
      display: block;
      margin: 0 auto;

      .league-team-item {
        text-align: left;
        margin-bottom: 32px;

        a {
          display: grid;
          grid-template-columns: 128px auto;
          column-gap: 32px;
        }

        .team-logo {
          margin: auto;
          img {
            width: 128px;
            height: 128px;
          }
        }

        .team-name {
          line-height: 128px;
          font-size: 48px;
        }
      }
    }
  }
}
