.page-info.leagues-page {
  height: 100%;
  padding: 50px 72px 0 144px;
  font-family: 'Nunito Regular';

  a { text-decoration: none; }

  .leagues-block-head {
    margin-bottom: 52px;
    color: #181715;

    .leagues-title {
      font-family: 'Nunito ExtraBold';
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 8px;
    }

    .leagues-subtitle {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .leagues-lists {
    padding-bottom: 100px;
  }

  .leagues-lists-tabs {
    font-family: 'Nunito ExtraBold';
    display: flex;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid #E5E6E4;
  }

  .leagues-lists-tab-item {
    padding: 16px 16px 12px;
    min-width: 80px;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
    }

    .leagues-tab-name {
      margin-top: 4px;
      white-space: nowrap;
    }
  }

  .leagues-lists-tab-active {
    color: #261FFF;
    border-bottom: 3px solid #261FFF;
  }

  .leagues-list-headers {
    font-family: 'Nunito ExtraBold';
    line-height: 40px;
    color: #847577;
    text-align: left;
    margin: 24px 0 8px;

    .leagues-list-header {
      padding: 0 8px;
      margin: 12px 0;
      font-size: 12px;
      line-height: 16px;
      height: 16px;
      border-right: 1px solid #E5E6E4;
    }

    .leagues-list-header:last-child {
      border-right:none;
    }
  }

  .leagues-list-item {
    font-size: 16px;
    line-height: 56px;
    color: #181715;
    border-bottom: 1px solid #F4F4F4;

    .leagues-list-item-name {
      font-family: 'Nunito ExtraBold';
      display: grid;
      grid-template-columns: 56px auto;
      column-gap: 16px;

      .tournament-logo {
        text-align: center;

        img {
          width: 32px;
          height: 32px;
        }
      }

      .league-item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .leagues-list-tournament {
      padding: 0 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .leagues-list-leader {
      display: grid;
      grid-template-columns: 32px auto;
      column-gap: 12px;
      padding: 0 16px;
      line-height: 56px;

      img {
        width: 32px;
        height: 32px;
        margin: auto 0;
      }

      .leader-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .leagues-list-number {
      padding: 0 16px;
      text-align: right;
    }

    .leagues-list-status {
      font-family: 'Nunito ExtraBold';
      text-align: center;
      font-size: 12px;
      line-height: 24px;
      margin: 16px 12px;

      .league-active-status {
        background: #FFEBC2;
        border-radius: 16px;
      }

      .league-archived-status {
        background: #F4F4F4;
        border-radius: 16px;
      }
    }
  }

  .leagues-list-grid {
    display: grid;
    grid-template-columns: 25fr 11fr 14fr 19fr 25fr 9fr 9fr 120px;
  }

  .leagues-list-item:hover, .leagues-lists-tab-item:hover {
    background: #F4F4F4;
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.leagues-page {
    padding: 0 30px 100px 102px;
  }
}

@media (orientation: portrait) {
  .page-info.leagues-page {
    padding: 240px 24px 100px;

    .leagues-block-head {
      display: none;
    }

    .leagues-lists {
      display: grid;
      grid-template-columns: 112px auto;
      column-gap: 32px;
    }

    .leagues-lists-tabs {
      display: block;
      border-bottom: none;

      .leagues-lists-tab-item {
        min-width: 112px;
        padding: 24px;

        img {
          width: 64px;
          height: 64px;
        }
      }

      .leagues-tab-name {
        display: none;
      }
    }

    .leagues-lists-tab-active {
      color: #261FFF;
      border-right: 4px solid #261FFF;
      border-bottom: none;
    }

    .leagues-list-headers {
      line-height: 80px;
      margin: 24px 0;

      .leagues-list-header {
        padding: 0 24px;
        margin: 16px 0;
        font-size: 24px;
        line-height: 32px;
        height: 32px;
        border-right: 3px solid #E5E6E4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .leagues-list-item {
      font-size: 28px;
      line-height: 112px;
      border-bottom: 2px solid #F4F4F4;

      .mob-hide {
        display: none;
      }

      .leagues-list-item-name {
        grid-template-columns: 64px auto;
        column-gap: 16px;

        .tournament-logo {
          img {
            width: 48px;
            height: 48px;
          }
        }
      }

      .leagues-list-status {
        font-size: 18px;
        line-height: 36px;
        margin: 38px 16px;
      }
    }

    .leagues-list-grid {
      grid-template-columns: 3fr 1fr 2fr 172px;
    }

    .mob-hide {
      display: none;
    }
  }
}

// League#show page //

.page-info.rounds-page.league-page {
  padding-left: 272px;

  .league-teams {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

    a {
      text-decoration: none;
    }

    .league-team-item {
      text-align: center;

      .team-logo {
        margin: auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .team-name {
        line-height: 32px;
        font-size: 18px;
      }
    }
  }
}
