/* Team lineups list */

.list-items.list-items-60-height.list-team-lineups {
  .list-row-item {
    grid-template-columns: 0.7fr 1.2fr 1fr 0.7fr 1.2fr;
  }

  .lineup-tour-opponent > a {
    width: 100%;
    display: grid;
    grid-template-columns: auto 60px;

    .lineup-tour-opponent-logo {
      img {
        margin: 10px;
        width: 40px;
        height: 40px;
      }
    }

    .lineup-tour-opponent-name {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

/* NEW & EDIT LINEUP page*/

.new-lineup-page {
  z-index: 200;
  height: 100%;
  position: relative;

  .new-lineup-header {
    z-index: 240;
    width: 100%;
    height: 96px;
    position: fixed;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: auto 282px;

    .new-lineup-back {
      background-color: #181715;
      display: grid;
      grid-template-columns: 90px auto;

      .new-lineup-close {
        font-size: 40px;
        text-align: center;
        line-height: 96px;

        a {
          color: #FFFFFF;
          text-decoration: none;
        }
      }

      .new-lineup-close a:hover,
      .new-lineup-close a:focus {
        color: #847577;
        text-decoration: none;
        cursor: pointer;
      }

      .new-lineup-header-text {
        padding: 24px 0;

        .new-lineup-header-title {
          font-size: 24px;
          line-height: 32px;
          font-weight: 500;
        }

        .new-lineup-header-subtitle {
          font-size: 12px;
          line-height: 16px;
          color: #847577;
        }
      }
    }

    .new-lineup-confirm {
      background-color: #261FFF;
      font-weight: bold;
      font-size: 24px;
      line-height: 96px;
      text-align: center;

      .submit {
        background-color: #261FFF;
        border: none;
        color: #FFFFFF;
      }
    }
  }

  .new-lineup-block {
    padding-top: 96px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .module-section {
      background-color: #4EAD57;

      .modal {
        display: none;
        position: fixed;
        z-index: 250;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0, 0.5);
      }

      .modal-content {
        background-color: #FFFFFF;
        margin: 80px auto;
        border: 1px solid #E5E6E4;
        box-sizing: border-box;
        box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
        border-radius: 4px;
        width: 1124px;

        .modal-title {
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          padding: 24px 0 12px;
        }

        .modal-modules-block {
          padding: 0 10px 10px;

          a {
            text-decoration: none;
          }

          .team-module-block {
            margin: 8px 4px;
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            width: 172px;
            height: 250px;
            color: #847577;
            text-align: center;

            img {
              width: 172px;
              height: 228px;
              border-radius: 8px;
            }
          }
        }
      }

      .module-name {
        padding: 48px 0 32px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        img {
          width: 12px;
          height: 12px;
          margin-left: 4px;
        }
      }

      .module-image {
        width: 100%;
        text-align: center;
        margin-top: 32px;

        img {
          width: 260px;
          border-radius: 8px;
        }
      }
    }

    .players-section {
      padding: 48px;
      background-color: #FFFFFF;

      .main-players-title {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 24px;
      }

      .main-players {
        .player-data {
          border-bottom: 1px solid #E5E6E4;
          box-sizing: border-box;
          border-radius: 4px;
          margin-bottom: 4px;
          height: 72px;
          width: 100%;

          .modal-players-list {
            display: none;
            position: fixed;
            z-index: 260;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0, 0.5);

            .players-modal-content {
              background-color: #FFFFFF;
              margin: 80px auto;
              border: 1px solid #E5E6E4;
              box-sizing: border-box;
              box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
              border-radius: 4px;
              width: 1124px;

              .modal-players-title {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                padding: 24px 0 12px;
              }

              .modal-modules-block {
                padding: 0 10px 10px;

                a {
                  text-decoration: none;
                }

                .modal-player-item {
                  margin: 8px 4px;
                  display: inline-block;
                  font-weight: 500;
                  width: 172px;
                  height: 148px;
                  background-color: #181715;
                  text-align: center;
                  border-radius: 8px;

                  .player-show-images {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;

                    .player-show-face, .player-show-kit {
                      position: absolute;

                      img, object {
                        width: 100px;
                        height: 100px;
                      }
                    }
                  }

                  .player-name {
                    background-color: #B5B5B5;
                    color: #484445;
                  }

                  .player-match {
                    background-color: #484445;
                    color: #FFFFFF;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    display: grid;
                    grid-template-columns: 1fr 30px 1fr;
                    padding: 0 12px;
                  }
                }
              }
            }
          }

          .team-player-data {
            display: grid;
            grid-template-columns: 100px auto 50px;
            column-gap: 12px;

            .team-player-avatar {
              width: 100%;
              padding: 5px 36px 0;

              .player-show-face, .player-show-kit, .squad-position {
                position: absolute;

                img, object {
                  width: 66px;
                  height: 66px;
                }
              }

              .squad-position {
                left: 8px;
                bottom: 8px;

                .slot-position {
                  height: 26px;
                  width: 34px;
                  line-height: 26px;
                  font-size: 14px;
                }
              }
            }

            .team-player-name {
              padding: 13px 8px;
              text-align: left;
              font-size: 12px;
              line-height: 16px;
              color: #181715;

              .team-player-last-name {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                height: 24px;
                display: inline-block;
                width: 124px;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
              }
            }

            .team-player-dropdown {
              text-align: center;
              line-height: 72px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-device-width: 1200px) {
    .new-lineup-block {
      .module-section .modal-content, .players-section .main-players .player-data .modal-players-list .players-modal-content {
        width: 940px;
      }
    }
  }

  @media screen and (max-device-width: 1020px) {
    .new-lineup-block {
      .module-section .modal-content, .players-section .main-players .player-data .modal-players-list .players-modal-content {
        width: 755px;
      }
    }
  }

  @media screen and (max-device-width: 800px) {
    .new-lineup-block {
      .module-section .modal-content, .players-section .main-players .player-data .modal-players-list .players-modal-content {
        width: 572px;
      }
    }
  }
}

/* SHOW LINEUP page*/

.lineup-info {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 0 auto;

  .list-items {
    margin: 0;
  }

  .list-items.list-items-60-height .list-row-item {
    grid-template-columns: 1fr 1fr;
    font-size: 20px;

    .list-row-cell:nth-child(2n+1) {
      line-height: 30px;
      font-size: 20px;
      padding: 0 10px;
    }

    .list-row-cell.module-cell {
      line-height: 60px;
    }
  }
}

.lineup-actions {
  .list-items.list-action-items .list-row-item {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'a b';
    margin: -10px 0 10px 0;
  }
}

/* EDIT LINEUP PLAYERS page */

.slot-position {
  background: linear-gradient(to bottom, #48b9ff, #0b7dbc);
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  width: 40px;
  text-align: center;
  border-radius: 5px;
}

.slot-position-Por {
  background: linear-gradient(to bottom, #fec530, #fe9d18);
}

.slot-position-Dc, .slot-position-Dd, .slot-position-Ds {
  background: linear-gradient(to bottom, #78d236, #317810);
}

.slot-position-T, .slot-position-W {
  background: linear-gradient(to bottom, #d451df, #a94adc);
}

.slot-position-APc, .slot-position-A, .slot-position-Pc {
  background: linear-gradient(to bottom, #f5696a, #ce2f1a);
}

.slot-position-EW, .slot-position-CT {
  background: linear-gradient(107deg, #48b9ff 0, #0b7dbc 47%, #a94adc 47%, #d451df 100%);
}

.slot-position-WA, .slot-position-TA {
  background: linear-gradient(107deg, #d451df 0, #a94adc 52%, #ce2f1a 52%, #f5696a 100%);
}

.slot-position-res {
  background: linear-gradient(to bottom, #0657cc, #001280);
}

.slot-position-not-declared {
  background: linear-gradient(to bottom, #6b6b6e, #424245);
}

/* SUBSTITUTION page */

.subs-page {
  .subs-form {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    margin: 100px 0;
  }

  .subs-img-block {
    padding: 0 calc(50% - 50px);
  }

  .subs-input {
    margin: 10px 0;
  }

  .subs-select {
    line-height: 72px;
  }

  .subs-img {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-device-width: 767px) {
    .subs-form {
      grid-template-columns: 100%;
      margin: 20px 0;
    }
  }

  .team-player-item {
    display: grid;
    grid-template-columns: 100px auto;
    box-sizing: border-box;
    margin-bottom: 4px;
    height: 72px;

    .team-player-name {
      text-align: left;
      color: #181715;
      font-weight: 500;
      font-size: 18px;
      line-height: 72px;
    }

    .team-player-position {
      padding: 22px 0 0 16px;
    }
  }
}

//TODO: move to t_rounds scss file
.club-logo.l-details-club-logo {
  text-align: center;

  img {
    width: 28px;
    height: 28px;
  }
}
