/* SHOW LINEUP page*/

.page-info.match-page.lineup-page {
  .lineup-links{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .lineup-round {
      text-align: right;
    }

    a {
      text-decoration: none;
    }
  }

  .lineup-team-section {
    height: 104px;
    margin: 0 16px;
    border: 1px solid #E5E6E4;
    border-radius: 16px;
    padding: 15px;

    .lineup-team {
      display: grid;
      grid-template-columns: 72px auto;
      column-gap: 24px;

      img, object {
        width: 72px;
        height: 72px;
      }

      .lineup-team-name {
        font-family: 'Nunito ExtraBold';
        font-size: 24px;
        line-height: 72px;
        text-align: left;
        display: flex;

        .lineup-team-edit {
          margin: 16px 0 16px 24px;
          font-size: 16px;
          line-height: 40px;

          .grey-btn {
            margin: 0;
          }
        }
      }
    }
  }

  .lineup-squad.match-squads {
    grid-template-columns: 464px 368px;
    column-gap: 112px;
    padding: 24px 16px;
    margin: auto;
    width: fit-content;

    .lineup-module {
      min-width: 368px;

      .lineup-result {
        background: #FFEBC2;
        padding: 16px 24px;
        border-radius: 8px;
        margin-bottom: 8px;

        .lineup-result-text {
          font-family: 'Nunito ExtraBold';
          font-size: 18px;
          line-height: 24px;
          text-align: left;
          margin-bottom: 8px;
        }

        .lineup-result-value {
          font-family: 'Nunito ExtraBold';
          font-size: 32px;
          line-height: 32px;
          text-align: left;
          display: grid;
          grid-template-columns: 1fr 1fr;

          .lineup-result-position {
            text-align: right;
            color: #9F6C05;
          }
        }

        .lineup-result-points {
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          margin-top: 16px;
        }
      }

      .match-team-module {
        font-family: 'Nunito SemiBold';
        text-align: right;
        font-size: 16px;
        line-height: 24px;
        color: #181715;
        padding-bottom: 8px;
        border-bottom: 1px solid #181715;

        .match-team-data-text, .match-team-data-value {
          display: inline-block;
        }

        .match-team-data-value {
          font-family: 'Nunito ExtraBold';
          color: #BA44F1;
        }
      }

      .module-image {
        width: 100%;
        text-align: right;

        img {
          width: 100%;
          border-radius: 12px;
        }
      }
    }
  }

  .lineup-preview {
    width: 560px;
    margin: 72px auto;
    text-align: center;

    .lineup-preview-ninja {
      font-size: 48px;
      line-height: 96px;
      text-align: center;
      background: #E5E6E4;
      width: 96px;
      height: 96px;
      border-radius: 60px;
      margin: 0 auto 24px;
    }

    .lineup-preview-title {
      font-family: 'Nunito ExtraBold';
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 16px;
    }

    .lineup-preview-desc {
      font-family: 'Nunito SemiBold';
      font-size: 18px;
      line-height: 24px;
      color: #847577;
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1300px) {
  .page-info.match-page.lineup-page .lineup-squad.match-squads {
    column-gap: 64px;
  }
}

@media (orientation: landscape) and (max-device-width: 1200px) {
  .page-info.match-page.lineup-page .lineup-squad.match-squads {
    column-gap: 24px;
    grid-template-columns: 464fr 368fr;
  }
}

@media (orientation: landscape) and (max-device-width: 1030px) {
  .lineup-show-page {
    .right-nav {
      display: none;
    }

    .page-info.match-page {
      padding: 0 0 0 72px;
    }
  }
}

@media (orientation: portrait) {
  .lineup-show-page {
    .right-nav {
      display: none;
    }

    .page-info.match-page.lineup-page {
      padding: 0 0 128px;

      .match-round-links.lineup-mob-hide {
        display: none;
      }

      .lineup-team-section {
        height: 150px;
        margin: 0 24px;
        border: 3px solid #E5E6E4;
        border-radius: 32px;
        padding: 21px;
        display: block;

        .lineup-team {
          grid-template-columns: 104px auto;

          img, object {
            width: 104px;
            height: 104px;
          }

          .lineup-team-name {
            font-size: 36px;
            line-height: 104px;

            .lineup-team-edit {
              margin: 27px 0 27px 24px;
              font-size: 26px;
              line-height: 56px;

              .grey-btn {
                line-height: 48px;
              }
            }
          }
        }
      }

      .lineup-squad.match-squads {
        font-size: 36px;
        line-height: 36px;
        grid-template-columns: auto 254px;
        column-gap: 24px;

        .match-team-squad {
          padding-bottom: 240px;

          .match-team-data {
            font-size: 24px;
            line-height: 36px;
          }

          .match-player-item {
            line-height: 108px;
            border-bottom: 3px solid #E5E6E4;
            font-size: 24px;
            grid-template-columns: 108px auto;

            .match-player-avatar {
              padding: 2px 3px 0;
              height: 108px;

              .player-show-face, .player-show-kit {
                img {
                  width: 100px;
                  height: 100px;
                }

                object {
                  margin-top: 6px;
                  width: 100px;
                  height: 100px;
                }
              }

              .module-position-block {
                top: 86px;
              }
            }

            .match-player-data-base {
              grid-template-columns: auto 132px;
              line-height: 36px;
              margin-top: 18px;

              .team-player-scores {
                grid-template-columns: 24px 42px 56px;
                column-gap: 4px;
              }

              .team-player-score-unspecified {
                font-size: 16px;
              }
            }

            .match-player-add-data {
              .match-player-bonuses {
                line-height: 32px;
              }
            }
          }

          .match-reserve {
             .match-player-item .match-player-data-base {
               grid-template-columns: auto 98px;

               .team-player-scores {
                 grid-template-columns: 42px 56px;
               }
             }
           }

          .match-player-bonus-item {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }

        .lineup-module {
          min-width: 250px;

          .match-team-module {
            font-size: 24px;
            line-height: 36px;
          }

          .module-image img {
            width: 250px;
          }
        }
      }

      .lineup-preview {
        width: 720px;
        margin: 128px auto;

        .lineup-preview-ninja {
          font-size: 72px;
          line-height: 144px;
          width: 144px;
          height: 144px;
          border-radius: 80px;
          margin: 0 auto 44px;
        }

        .lineup-preview-title {
          font-size: 42px;
          line-height: 42px;
          margin-bottom: 32px;
        }

        .lineup-preview-desc {
          font-size: 32px;
          line-height: 44px;
        }
      }
    }
  }
}

/* NEW & EDIT LINEUP page*/

.new-lineup-page {
  z-index: 200;
  height: 100%;
  position: relative;

  .new-lineup-header {
    z-index: 240;
    width: 100%;
    height: 96px;
    position: fixed;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: auto 282px;

    .new-lineup-back {
      background-color: #181715;
      display: grid;
      grid-template-columns: 90px auto;

      .new-lineup-close {
        font-size: 40px;
        text-align: center;
        line-height: 96px;

        a {
          color: #FFFFFF;
          text-decoration: none;
        }
      }

      .new-lineup-close a:hover,
      .new-lineup-close a:focus {
        color: #847577;
        text-decoration: none;
        cursor: pointer;
      }

      .new-lineup-header-text {
        padding: 24px 0;

        .new-lineup-header-title {
          font-size: 24px;
          line-height: 32px;
          font-weight: 500;
        }

        .new-lineup-header-subtitle {
          font-size: 12px;
          line-height: 16px;
          color: #847577;
        }
      }
    }

    .new-lineup-confirm {
      background-color: #261FFF;
      font-weight: bold;
      font-size: 24px;
      line-height: 96px;
      text-align: center;

      .submit {
        background-color: #261FFF;
        border: none;
        color: #FFFFFF;
      }
    }
  }

  .new-lineup-block {
    padding-top: 96px;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;

    .module-section {
      background-color: #4EAD57;

      .modal {
        display: none;
        position: fixed;
        z-index: 250;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0, 0.5);
      }

      .modal-content {
        background-color: #FFFFFF;
        margin: 80px auto;
        border: 1px solid #E5E6E4;
        box-sizing: border-box;
        box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
        border-radius: 4px;
        width: 1124px;

        .modal-title {
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          padding: 24px 0 12px;
        }

        .modal-modules-block {
          padding: 0 10px 10px;

          a {
            text-decoration: none;
          }

          .team-module-block {
            margin: 8px 4px;
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            width: 264px;
            height: 222px;
            color: #847577;
            text-align: center;

            img {
              width: 264px;
              height: 200px;
              border-radius: 8px;
            }
          }
        }
      }

      .module-name {
        padding: 48px 0 18px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        img {
          width: 12px;
          height: 12px;
          margin-left: 4px;
        }
      }

      .module-image {
        width: 100%;
        text-align: center;

        img {
          border-radius: 8px;
        }
      }

      .lineup-round-data {
        margin: 32px 48px;

        .default-tab-item {
          width: 100%;
        }

        .round-matches {
          padding-top: 16px;

          a {
            cursor: auto;
          }

          .round-tournament-match {
            border-bottom: 1px solid rgba(24, 23, 21, 0.2);
            grid-template-columns: 1fr 64px 1fr;
            column-gap: 12px;

            .round-tournament-match-team {
              padding: 11px 0;
            }

            .round-tournament-match-cell {
              height: 70px;
            }

            .round-tournament-match-cell-result {
              padding: 15px 5px;
              color: #181715;
              text-align: center;
            }

            .round-match-national {
              a {
                grid-template-columns: 54px auto 48px;

                .round-tournament-team-players {
                  line-height: 24px;
                  font-size: 14px;
                  margin: auto;
                }
              }
            }

            .round-tournament-match-guest.round-match-national {
              a {
                grid-template-columns: 48px auto 54px;
                column-gap: 4px;
              }
            }
          }
        }

        .standings {
          padding-top: 24px;
        }
      }
    }

    .players-section {
      padding: 48px;
      background-color: #FFFFFF;

      .main-players-title, .reserve-players-title {
        font-family: 'Nunito ExtraBold';
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 16px;
      }

      .reserve-players-title {
        padding: 32px 0 16px;
      }

      .main-conditions {
        margin-bottom: 32px;

        .main-conditions-title {
          font-family: 'Nunito Medium';
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          margin-bottom: 8px;
        }

        li {
          font-family: 'Nunito SemiBold';
          padding: 4px;
          color: #A6A2A2;
          font-size: 14px;
          line-height: 16px;
          left: -18px;
          position: relative;
        }
      }
    }
  }

  @media screen and (max-device-width: 1200px) {
    .new-lineup-block {
      .module-section .modal-content, .players-section .main-players .player-data .modal-players-list .players-modal-content {
        width: 940px;
      }

      .module-section {
        .lineup-round-data {
          margin: 32px 16px;
        }
      }
    }
  }

  @media screen and (max-device-width: 1020px) {
    .new-lineup-block {
      .module-section .modal-content, .players-section .main-players .player-data .modal-players-list .players-modal-content {
        width: 755px;
      }
    }
  }

  @media screen and (max-device-width: 800px) {
    .new-lineup-block {
      .module-section .modal-content, .players-section .main-players .player-data .modal-players-list .players-modal-content {
        width: 572px;
      }
    }
  }
}

/* EDIT LINEUP PLAYERS page */

.slot-position {
  background: linear-gradient(to bottom, #48b9ff, #0b7dbc);
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  width: 40px;
  text-align: center;
  border-radius: 5px;
}

.slot-position-Por {
  background: linear-gradient(to bottom, #fec530, #fe9d18);
}

.slot-position-Dc, .slot-position-Dd, .slot-position-Ds {
  background: linear-gradient(to bottom, #78d236, #317810);
}

.slot-position-T, .slot-position-W, .slot-position-WT {
  background: linear-gradient(to bottom, #d451df, #a94adc);
}

.slot-position-APc, .slot-position-A, .slot-position-Pc {
  background: linear-gradient(to bottom, #f5696a, #ce2f1a);
}

.slot-position-EW, .slot-position-CT {
  background: linear-gradient(107deg, #48b9ff 0, #0b7dbc 47%, #a94adc 47%, #d451df 100%);
}

.slot-position-WA, .slot-position-TA {
  background: linear-gradient(107deg, #d451df 0, #a94adc 52%, #ce2f1a 52%, #f5696a 100%);
}

.slot-position-res {
  background: linear-gradient(to bottom, #0657cc, #001280);
}

.slot-position-not-declared {
  background: linear-gradient(to bottom, #6b6b6e, #424245);
}
