.list-items.links-items {
  .list-row-item {
    grid-template-columns: auto 160px;
  }
}

.link-data {
  margin: 0 20px;
  a {
    width: 100%;
  }
  .link-name {
    display: inline-block;
    font-size: 22px;
  }
  .link-description {
    display: inline-block;
    font-size: 18px;
    color: #6adde2;
    font-style: italic;
  }
}

.list-row-cell .link-btn-group {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  a {
    color: #001280;
    font-size: 20px;
  }
}
