.page-info.match-page {
  height: 100%;
  padding: 0 0 0 272px;

  a {
    text-decoration: none;
  }

  .match-round-links {
    padding: 28px 36px 28px 8px;
    display: grid;
    grid-template-columns: 280px auto 200px;

    .match-round-link a {
      font-family: 'Nunito Bold';
      display: grid;
      grid-template-columns: 40px auto;
      column-gap: 8px;
      text-decoration: none;
      color: #181715;
      font-size: 32px;
      line-height: 32px;

      .match-round-link-arrow {
        text-align: center;
      }
    }
  }

  .matches-bar {
    width: 100%;
    height: 104px;
    text-align: center;

    .matches-bar-item {
      font-family: 'Nunito SemiBold';
      display: inline-block;
      border: 1px solid #E5E6E4;
      background-color: #FFFFFF;
      border-radius: 4px;
      line-height: 40px;
      font-size: 16px;
      height: 96px;
      width: 196px;
      margin: 4px;
      padding: 8px 21px;
      color: #A6A2A2;
      text-align: center;

      .matches-bar-team {
        display: grid;
        grid-template-columns: 24px 60px 50px 20px;

        img {
          width: 24px;
          height: 24px;
        }

        .matches-bar-team-name {
          padding-left: 16px;
          color: #181715;
          text-align: left;
        }

        .matches-bar-team-score {
          font-family: 'Nunito ExtraBold';
          color: #181715;
        }
      }
    }

    .current-match-true {
      background: #FFEBC2;
      border: 1px solid #FFB319;
    }
  }

  .match-bar {
    padding: 38px 16px 16px;
    display: grid;
    grid-template-columns: 1fr 440px 1fr;

    .match-host, .match-guest {
      font-family: 'Nunito Medium';
      text-align: center;
      font-size: 24px;
      line-height: 32px;

      .match-team-name {
        color: #181715;
        margin-top: 8px;
      }

      .match-team-name:hover {
        color: #261FFF;
      }

      img {
        width: 48px;
        height: 48px;
      }
    }

    .match-result {
      text-align: center;
      padding-top: 16px;

      .match-result-soon {
        font-family: 'Nunito SemiBold';
        font-size: 28px;
        line-height: 32px;
        color: #000000;
        margin: 0 0 16px;
      }

      .match-result-deadline {
        font-family: 'Nunito SemiBold';
        margin: 0 auto;
        background-color: #E5E6E4;
        border-radius: 4px;
        font-size: 12px;
        line-height: 24px;
        color: #9B0819;
        width: 150px;
      }

      .match-result-row {
        display: grid;
        grid-template-columns: 90px 80px 100px 80px 90px;
        line-height: 56px;

        .match-result-row-cell {
          color: #A6A2A2;
          font-size: 24px;
        }

        .round-match-goals {
          font-family: 'Nunito ExtraBold';
          display: grid;
          grid-template-columns: 1fr 1fr;
          background: #181715;
          border-radius: 4px;
          font-size: 24px;
          line-height: 32px;
          padding: 12px 0;
          color: #F4F4F4;

          .round-match-host-goals {
            border-right: 1px solid #847577;
          }
        }

        .round-match-score {
          font-family: 'Nunito ExtraBold';
          font-size: 24px;
          color: #181715;
        }

        .round-match-scores-count {
          color: #DB0A23;
          display: inline-block;
        }

        .round-match-scores-count-all {
          color: #4EAD57;
        }

        .round-match-scores-host-count {
          font-family: 'Nunito Regular';
          text-align: right;
          border-right: 1px solid #C4C4C4;
          padding-right: 8px;
          line-height: 32px;
          margin: 12px 0;
        }

        .round-match-scores-guest-count {
          font-family: 'Nunito Regular';
          text-align: left;
          border-left: 1px solid #C4C4C4;
          padding-left: 8px;
          line-height: 32px;
          margin: 12px 0;
        }
      }
    }
  }

  .match-actions {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 40px;
  }

  .match-action-link {
    font-family: 'Nunito SemiBold';
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #D8D6FF;
    border-radius: 4px;
    padding: 8px;
    display: inline-block;

    a { color: #261FFF; }
  }

  .match-squads {
    padding: 32px 16px;
    display: grid;
    grid-template-columns: 1fr 440px 1fr;
    column-gap: 16px;
    grid-auto-rows: max-content;

    .match-lineups {
      #match-lineups {
        width: 440px;
      }

      .match-lineups-field {
        background-color: #4EAD57;
        position: relative;

        .field_skeleton {
          width: 100%;
          padding: 10px;
        }

        .match-modules {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;

          .match-module-lineup {
            width: 100%;
            height: 50%;
            padding: 15px;
            display: grid;
            grid-template-columns: repeat(7, 55px);
            column-gap: 4px;
            grid-row-gap: 10px;

            .slot-d1 { grid-area: d1; }
            .slot-a2 { grid-area: a2; }
            .slot-b2 { grid-area: b2; }
            .slot-c2 { grid-area: c2; }
            .slot-d2 { grid-area: d2; }
            .slot-e2 { grid-area: e2; }
            .slot-f2 { grid-area: f2; }
            .slot-g2 { grid-area: g2; }
            .slot-a3 { grid-area: a3; }
            .slot-b3 { grid-area: b3; }
            .slot-c3 { grid-area: c3; }
            .slot-d3 { grid-area: d3; }
            .slot-e3 { grid-area: e3; }
            .slot-f3 { grid-area: f3; }
            .slot-g3 { grid-area: g3; }
            .slot-a4 { grid-area: a4; }
            .slot-b4 { grid-area: b4; }
            .slot-c4 { grid-area: c4; }
            .slot-d4 { grid-area: d4; }
            .slot-e4 { grid-area: e4; }
            .slot-f4 { grid-area: f4; }
            .slot-g4 { grid-area: g4; }
            .slot-c5 { grid-area: c5; }
            .slot-d5 { grid-area: d5; }
            .slot-e5 { grid-area: e5; }
          }

          .match-module-item {
            width: 100%;
            height: 100%;

            .match-module-item-pos {
              color: #FFFFFF;
              text-align: center;
              font-size: 8px;
              width: 160%;
              margin: 0 -30%;
              padding-top: 5px;

              .module-position-block {
                margin: auto;
                height: 18px;

                .player-position {
                  padding: 1px 4px 0;
                  font-size: 10px;
                }
              }
            }

            .match-module-item-player-wrapper {
              width: 160%;
              margin: 0 -30%;
            }

            .match-module-item-player {
              font-family: 'Nunito SemiBold';
              background-color: #000000;
              color: #FFFFFF;
              text-align: center;
              font-size: 10px;
              line-height: 14px;
              width: fit-content;
              margin: 4px auto 0;
              padding: 1px 4px;
              white-space: nowrap;
            }
          }

          .match-module-home {
            grid-template-areas:
              "a1 b1 c1 d1 e1 f1 g1"
              "a2 b2 c2 d2 e2 f2 g2"
              "a3 b3 c3 d3 e3 f3 g3"
              "a4 b4 c4 d4 e4 f4 g4"
              "a5 b5 c5 d5 e5 f5 g5";
          }

          .match-module-away {
            grid-template-areas:
              "g5 f5 e5 d5 c5 b5 a5"
              "g4 f4 e4 d4 c4 b4 a4"
              "g3 f3 e3 d3 c3 b3 a3"
              "g2 f2 e2 d2 c2 b2 a2"
              "a1 b1 c1 d1 e1 f1 g1";

            .match-module-item {
              .match-module-item-player {
                background-color: #FFFFFF;
                color: #000000;
              }
            }
          }
        }
      }

      .match-team-name {
        font-family: 'Nunito Medium';
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #A6A2A2;
        margin: 8px 0;
      }
    }

    .match-team-data {
      font-family: 'Nunito SemiBold';
      font-size: 16px;
      line-height: 24px;
      color: #181715;
      padding-bottom: 8px;
      border-bottom: 1px solid #181715;
      display: grid;
      grid-template-columns: 47% 53%;

      .match-team-data-text, .match-team-data-value {
        display: inline-block;
      }

      .match-team-data-value {
        font-family: 'Nunito ExtraBold';
        color: #BA44F1;
      }

      .match-team-def-bonus {
        text-align: right;
      }
    }

    .match-no-lineup-icon {
      margin: 120px 0 24px;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
    }

    .match-no-lineup-title {
      font-family: 'Nunito Bold';
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #181715;
      margin-bottom: 8px;
    }

    .match-no-lineup-subtitle {
      font-family: 'Nunito Medium';
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #847577;
    }

    .match-player-item {
      line-height: 72px;
      border-bottom: 1px solid #E5E6E4;
      font-size: 18px;
      color: #181715;
      display: grid;
      grid-template-columns: 72px auto;
      column-gap: 8px;

      .match-player-avatar {
        width: 100%;
        padding: 2px 3px 0;
        height: 72px;
        position: relative;

        .player-show-face, .player-show-kit {
          position: absolute;

          img {
            width: 66px;
            height: 66px;
          }

          object {
            margin-top: 4px;
            width: 66px;
            height: 66px;
          }
        }

        .module-position-block {
          position: absolute;
          top: 52px;
        }
      }

      .match-player-data-base {
        display: grid;
        grid-template-columns: auto 108px;
        line-height: 24px;
        margin-top: 14px;
        font-family: 'Nunito SemiBold';

        .team-player-name {
          color: #181715;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }

        .team-player-scores {
          display: grid;
          grid-template-columns: 24px 32px 42px;
          column-gap: 2px;

          .team-player-substitute-cell {
            img {
              width: 21px;
              height: 21px;
            }
          }

          .team-player-score {
            font-family: 'Nunito Regular';
            text-align: right;
            color: #A6A2A2;
          }

          .team-player-total-score {
            font-family: 'Nunito ExtraBold';
            text-align: right;
          }
        }

        .team-player-score-not-played {
          font-size: 12px;
          text-align: right;
          color: #DB0A23;

          a { color: #DB0A23; }
        }

        .team-player-score-unspecified {
          font-size: 12px;
          text-align: right;
          color: #A6A2A2;
        }
      }

      .match-player-add-data {
        display: grid;
        grid-template-columns: auto 110px;
        line-height: 24px;

        .match-player-real-match {
          display: grid;
          grid-template-columns: 20px 24px 20px;
          font-size: 12px;
          color: #847577;
          text-align: center;
          margin: 6px 0 4px;
          line-height: 16px;

          .player-match-team {
            img, object {
              width: 20px;
              height: 20px;
            }
          }

          .player-match-vs {
            padding-top: 3px;
          }

          .player-match-place {
            font-family: 'Nunito Bold';
            font-size: 16px;
            padding-top: 3px;
          }
        }

        .match-player-bonuses {
          font-size: 16px;
          color: #181715;
          margin: 4px 0 6px;
          line-height: 24px;
        }

        .match-player-positions {
          padding-top: 5px;

          .player-positions-block {
            float: right;
          }
        }
      }
    }

    .match-player-item:hover {
      border-bottom: 1px solid #181715;
      cursor: pointer;

      .team-player-name {
        color: #261FFF;
      }
    }

    .match-reserve {
      margin-top: 40px;
      font-size: 16px;
      line-height: 24px;
      color: #181715;

      .match-player-item .match-player-data-base {
        grid-template-columns: auto 80px;

        .team-player-scores {
          display: grid;
          grid-template-columns: 32px 42px;
        }
      }
    }

    .match-player-bonus-item {
      display: inline-block;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media (orientation: portrait) {
  .match-page-all {
    .right-nav {
      display: none;
    }

    .page-info.match-page {
      padding: 0 0 0 72px;

      .matches-bar {
        .matches-bar-item {
          width: 170px;
          margin: 2px;
          padding: 8px 6px;

          .matches-bar-team {
            grid-template-columns: 24px 56px 50px 20px;

            .matches-bar-team-name {
              padding-left: 12px;
            }
          }
        }
      }

      .match-bar {
        padding: 38px 25px 16px;
      }

      .match-actions {
        padding: 0 25px;
      }

      .match-squads {
        padding: 32px 25px;
        grid-template-columns: 1fr 1fr;

        .match-lineups {
          display: none;
        }
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1380px) {
  .page-info.match-page {
    padding: 0 0 0 272px;

    .matches-bar {
      .matches-bar-item {
        width: 170px;
        padding: 8px 10px;

        .matches-bar-team {
          grid-template-columns: 24px 56px 50px 20px;

          .matches-bar-team-name {
            padding-left: 12px;
          }
        }
      }
    }

    .match-bar {
      padding: 38px 50px 16px;
    }

    .match-actions {
      padding: 0 50px;
    }

    .match-squads {
      padding: 32px;
      grid-template-columns: 1fr 1fr;

      .match-lineups {
        display: none;
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .match-page-all {
    .right-nav {
      display: none;
    }

    .page-info.match-page {
      padding: 0 0 0 72px;
    }
  }
}
