.page-info.national-team-show {
  a {
    text-decoration: none;
  }

  .clubs-bar {
    background-color: #D0F0D4;

    .club-bar-section {
      .club-bar-item {
        background-color: transparent;
        border-radius: 4px;
      }

      .flag-icon {
        height: 30px;
        width: 40px;
        vertical-align: middle;
      }

      .current-team-true {
        background-color: #4EAD57;
        border: none;
      }
    }
  }

  .club-logo {
    margin-top: 48px;

    .flag-icon {
      display: block;
      margin: auto;
      width: 90px;
      height: 68px;
    }
  }

  .clubs-list {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .club-list-logo {
    display: flex;
    align-items: center;

    .flag-icon {
      width: 40px;
      height: 30px;
    }
  }

}

@media (max-width: 768px) {
  .page-info.national-team-show.club-show {
    .teams-bar.clubs-bar {
      height: 64px;

      .teams-bar-section.club-bar-section {
        .club-bar-item {
          width: 50px;
          height: 36px;
          padding: 6px 9px !important;
          margin: 0 5px;
          border-radius: 8px;
          border: 2px solid #4EAD57;
        }

        .club-bar-item-logo {
          .flag-icon {
            height: 20px;
            width: 27px;
          }
        }

        .current-team-true {
          background-color: #4EAD57;
          border: 2px solid #4EAD57;
        }
      }
    }

    .club-logo {
      margin-top: 32px !important;

      .flag-icon {
        width: 64px;
        height: 48px;
      }
    }

  }
}
