.page-info.team-show.national-team-show {
  padding: 0 0 20px 72px;

  a {
    text-decoration: none;
  }

  .teams-bar {
    background-color: #40BBCD;
    height: 140px;

    .teams-bar-section {
      width: 920px;
      text-align: center;
      margin: auto;
      padding: 8px 0;

      .team-bar-item {
        width: 64px;
        padding: 12px 0;
        margin: 4px;
        background-color: transparent;
        border-radius: 4px;
      }

      .flag-icon {
        height: 30px;
        width: 40px;
        vertical-align: middle;
      }

      .current-team-true {
        background-color: #017A8D;
        border: none;
      }
    }
  }

  .team-section {
    .team-data {
      background-color: #40BBCD;
      margin-top: 58px;
      border: none;
      padding: 48px 12px;
      max-height: 270px;
      height: 100%;

      .team-logo {
        position:relative;
        top: 0;
        margin-bottom: 48px;
        height: 90px;

        .flag-icon {
          width: 120px;
          height: 90px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .page-info.team-show.national-team-show {
    padding: 0 0 20px 72px;

    .teams-bar {
      height: 202px;

      .teams-bar-section {
        width: 650px;
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.team-show.national-team-show {
    padding: 0 0 20px 72px;

    .team-section {
      display: block;
      padding: 40px 20px;
      column-gap: 20px;

      .team-data {
        display: none;
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1000px) {
  .page-info.team-show.national-team-show  .teams-bar  .teams-bar-section {
    width: 650px;
  }
}
