/* PLAYER INDEX page */

.page-info.players-page {
  padding: 32px 24px 70px 96px;

  a {
    text-decoration: none;
    color: #181715;
  }

  .players-title-bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    line-height: 64px;

    .players-title {
      font-weight: bold;
      font-size: 48px;
      color: #181715;
    }
  }

  .players-filter-bar {
    height: 32px;
    margin: 16px 0 48px;

    .players-filters {
      float: right;

      .players-filter {
        display: inline-block;
        text-align: right;

        .players-filter-name {
          margin: 0 8px 0 32px;
          display: inline-block;
          font-size: 12px;
          color: #847577;
          text-align: right;
        }

        .players-filter-input {
          display: inline-block;
          position: relative;

          select {
            border: 1px solid #E5E6E4;
            box-sizing: border-box;
            border-radius: 4px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #261FFF;
            padding: 8px 24px 8px 12px;

            width: 100%;
            height: 32px;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }/* For IE <= 11 */
          select::-ms-expand {
            display: none;
          }
          .select-icon {
            position: absolute;
            top: 4px;
            right: 8px;
            pointer-events: none;
          }
        }
      }
    }
  }

  .players-list-headers {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #847577;
    display: grid;
    grid-template-columns: 80px 220px 16fr 5fr 9fr 5fr 9fr 4fr 50px;
    margin-bottom: 12px;

    a {
      color: #847577;
    }
  }

  .national-headers-true {
    grid-template-columns: 80px 220px 16fr 8fr 8fr 8fr 10fr 8fr 40px;
  }

  .players-list-item {
    display: grid;
    grid-template-columns: 80px auto;
    margin-bottom: 4px;
    line-height: 72px;
    color: #181715;

    .players-list-number {
      font-size: 24px;
      text-align: center;
    }

    .players-list-row {
      border: 1px solid #E5E6E4;
      box-sizing: border-box;
      border-radius: 4px;
      display: grid;
      grid-template-columns: 220px 16fr 5fr 9fr 5fr 9fr 4fr 50px;

      .team-image {
        img, object {
          margin: auto 4px;
          width: 32px;
          height: 32px;
        }

        object {
          position: relative;
          top: 10px;
        }

        .flag-icon {
          height: 24px;
          width: 32px;
          vertical-align: middle;
        }
      }
    }

    .national-row-true {
      grid-template-columns: 220px 16fr 8fr 8fr 8fr 10fr 8fr 40px;
    }

    .players-list-player {
      background-color: #FFEBC2;
      display: grid;
      grid-template-columns: 66px auto;
      column-gap: 6px;

      .players-list-avatar {
        .player-show-face, .player-show-kit {
          position: absolute;
          padding-top: 3px;

          img {
            width: 66px;
            height: 66px;
          }

          object {
            margin-top: 4px;
            width: 66px;
            height: 66px;
          }
        }
      }

      .players-list-name {
        margin: auto 0;

        .players-list-last-name{
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
        }

        .players-list-first-name{
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .player-list-positions {
      .match-player-position {
        display: inline-block;
        font-size: 12px;
        line-height: 22px;
        height: 22px;
        width: 32px;
        border-radius: 4px;
      }
    }

    .players-list-appearances {
      font-size: 24px;
      text-align: right;
      color: #847577;
    }

    .players-list-rating {
      font-size: 24px;
      text-align: right;
      color: #181715;
    }

    .players-list-arrow {
      img {
        width: 18px;
        height: 10px;
      }
    }
  }

  .players-pos-padding {
    padding-left: 20px;
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.players-page {
    padding: 100px 50px 70px;
  }
}

@media (orientation: portrait) {
  .page-info.players-page {
    padding: 20px 20px 70px 92px;
  }
}

/* PLAYER SHOW page */

.page-info.player-show-page {
  padding: 0 50px 100px 122px;

  a {
    text-decoration: none;
    color: #181715;
  }

  .player-content {
    max-width: 1300px;
    margin: auto;
  }

  .player-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px 0;

    .player-back {
      width: 32px;
      height: 32px;
      border: 1px solid #E5E6E4;
      border-radius: 4px;
      text-align: center;

      a {
        width: 32px;
        height: 32px;
        display: block;
      }
    }

    .player-back:hover img {
      filter: invert(13%) sepia(85%) saturate(4155%) hue-rotate(243deg) brightness(112%) contrast(131%); // #261FFF;
    }

    .player-pos-change {
      font-family: 'Nunito ExtraBold';
      line-height: 32px;

      a {
        color: #847577;
        letter-spacing: 0.02em;
        font-size: 12px;
      }

      .player-pos-change-link {
        width: fit-content;
        float: right;
      }

      .player-pos-change-link:hover a {
        color: #261FFF;
      }
    }
  }

  .player-banner {
    margin-bottom: 16px;
    width: 100%;
    height: 328px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;

    .player-show-base {
      color: #FFFFFF;
      padding: 0 0 40px 92px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .player-show-first-name {
        font-family: 'Nunito Regular';
        font-size: 32px;
        line-height: 32px;
      }

      .player-show-name {
        font-family: 'Nunito ExtraBold';
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 24px;
      }

      .player-show-positions {
        display: inline-block;
        height: 24px;

        .player-position {
          height: 22px;
          font-size: 14px;
          line-height: 16px;
          padding: 3px 4px;
        }
      }

      .player-show-score {
        display: inline-block;
        margin-left: 24px;
        vertical-align: bottom;

        .player-show-score-value {
          font-family: 'Nunito ExtraBold';
          line-height: 36px;
          font-size: 24px;
        }
      }
    }

    .player-show-avatar {
      padding-top: 32px;
      width: 100%;

      .player-show-face, .player-show-kit {
        position: absolute;
        right: 18%;

        img, object {
          width: 296px;
          height: 296px;
        }
      }
    }
  }

  .player-tables {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;

    .player-table {
      border: 1px solid #E5E6E4;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 24px;
      margin-bottom: 16px;

      .player-table-title {
        font-family: 'Nunito ExtraBold';
        font-size: 16px;
        line-height: 24px;
        color: #181715;
      }

      .player-table-row {
        padding: 16px 0;
        border-bottom: 1px solid #F4F4F4;
        display: grid;
        grid-template-columns: 110px auto;
        column-gap: 32px;

        .player-table-row-key {
          font-family: 'Nunito Regular';
          font-size: 16px;
          line-height: 32px;
          color: #181715;
          text-align: left;
        }

        .player-table-row-value {
          font-family: 'Nunito ExtraBold';
          font-size: 16px;
          line-height: 32px;
          color: #181715;

          img, object {
            width: 32px;
            height: 32px;
          }
        }
      }

      .player-table-row-last {
        border-bottom: none;
        padding: 16px 0 0;
      }

      .flag-icon {
        height: 24px;
        width: 32px;
        margin-left: 12px;
        vertical-align: middle;
      }

      .player-table-club {
        display: grid;
        grid-template-columns: auto 32px;
        column-gap: 16px;
        max-width: fit-content;

        .player-table-club-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .player-tm-link {
        color: #261FFF;
        border-bottom: 1px solid #D8D6FF;
        width: fit-content;
      }

      .player-table-birth {
        font-family: 'Nunito Regular';
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.02em;
        color: #847577;
      }
    }

    .player-table-chart {
      margin: 32px 0 8px;

      .player-table-chart-view {
        margin-top: 24px;
      }
    }

    .player-teams-block {
      display: none;
      position: fixed;
      z-index: 250;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0, 0.5);

      .player-teams-content {
        font-family: 'Nunito ExtraBold';
        background-color: #FFFFFF;
        margin: 90px auto 120px;
        border: 1px solid #E5E6E4;
        box-sizing: border-box;
        box-shadow: 6px 6px 8px rgba(24, 23, 21, 0.2), 1px 2px 5px rgba(24, 23, 21, 0.2);
        border-radius: 8px;
        width: 752px;
        padding: 40px;

        .player-teams-title {
          font-size: 24px;
          line-height: 32px;
          text-align: center;
        }

        .player-teams-summary {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 16px;
          width: 304px;
          margin: 24px auto 32px;

          .player-teams-summary-block {
            padding: 16px;
            width: 144px;
            height: 88px;
            background: #FFEBC2;
            border-radius: 8px;
            text-align: center;
          }

          .player-teams-summary-title {
            font-size: 14px;
            line-height: 16px;
            color: #9F6C05;
            margin-bottom: 8px;
          }

          .player-teams-summary-value {
            font-size: 32px;
            line-height: 32px;
            color: #BA44F1;
          }
        }

        .teams-list {
          .default-headers {
            margin-bottom: 8px;
          }

          .teams-list-grid {
            display: grid;
            grid-template-columns: 26fr 17fr 15fr 10fr;
          }

          .teams-list-row {
            font-size: 16px;
            height: 56px;
            line-height: 56px;
            border-bottom: 1px solid #E5E6E4;
          }

          .player-team-link {
            display: grid;
            grid-template-columns: 56px auto;
            column-gap: 8px;
          }

          .teams-list-item-logo {
            margin: auto;
          }

          .teams-list-item-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          img {
            width: 32px;
            height: 32px;
          }

          .teams-list-item {
            padding: 0 16px;
          }

          .teams-list-item-league {
            padding: 4px 8px;
            font-size: 12px;
            line-height: 16px;
            background: #D8D6FF;
            border-radius: 16px;
            margin: 16px 0;
            color: #040052;
            width: fit-content;
          }

          .teams-list-item-auction {
            font-family: 'Nunito Bold';
            text-decoration-line: underline;
            color: #261FFF;
          }

          .teams-list-item-price {
            text-align: right;
          }
        }
      }
    }

    .performance-table {
      padding: 24px 24px 32px;
      text-align: left;

      .season-title {
        font-family: 'Nunito ExtraBold';
        margin-top: 16px;
        padding-left: 8px;
        font-size: 12px;
        line-height: 16px;

        .season-title-years {
          margin-right: 8px;
        }

        .season-title-arrow {
          padding-bottom: 2px;

          img {
            width: 10px;
            padding-bottom: 3px;
          }
        }
      }

      .player-table-title {
        margin-bottom: 16px;
      }

      .player-perf-tabs {
        width: fit-content;
      }

      .default-headers .default-header-cell {
        margin: 8px 0;
      }

      .player-table-headers {
        padding: 8px 0;
        font-size: 12px;
        line-height: 16px;
        color: #847577;
      }

      .table-total {
        font-family: 'Nunito ExtraBold';
        background-color: #FFEBC2;
        padding: 8px 0;
        font-size: 16px;
        line-height: 24px;
        color: #181715;
        text-align: center;

        .table-total-cell {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .performance-table-row {
        padding: 8px 0;
        line-height: 32px;
        display: grid;
        grid-template-columns: 6fr 6fr 6fr 6fr 6fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr;
        column-gap: 0;

        .match-player-bonus-item {
          display: inline-block;

          img {
            width: 16px;
            height: 16px;
          }
        }

        .blank-bonus {
          color: #CFD2CD;
        }

        .player-table-cell {
          text-align: center;
        }

        .player-table-score {
          text-align: right;
          padding-right: 8px;
        }

        .player-table-ts {
          font-family: 'Nunito ExtraBold';
        }
      }
    }

    .player-actions {
      border: 1px solid #E5E6E4;
      border-radius: 4px;
      text-align: center;
      font-size: 18px;
      margin: 24px auto 48px;

      a {
        text-decoration: none;
        color: #261FFF;
      }

      .player-action-btn {
        margin: 8px;
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1420px) {
  .page-info.player-show-page  .player-content {
    max-width: 1136px;
    margin: auto;
  }
}

@media (orientation: landscape) and (max-device-width: 1320px) {
  .page-info.player-show-page {
    padding: 50px 50px 50px 122px;

    .player-banner {
      .player-show-base {
        padding: 0 0 40px 60px;
      }

      .player-show-avatar .player-show-face, .player-show-avatar .player-show-kit {
        right: 16%;
      }
    }

    .player-tables {
      display: block;

      .player-tables-left .player-table .player-table-row {
        grid-template-columns: 1fr 2fr;
      }

      .player-table .player-table-title {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

@media (orientation: portrait) {
  .page-info.player-show-page {
    padding: 200px 24px 100px;

    .player-links {
      margin: 24px 0;

      .player-back {
        width: 64px;
        height: 64px;
        border: 2px solid #E5E6E4;
        border-radius: 8px;

        a {
          width: 64px;
          height: 64px;

          .round-prev-arrow {
            line-height: 64px;
          }
        }

        img {
          width: 32px;
        }
      }

      .player-pos-change {
        line-height: 64px;

        a {
          font-size: 24px;
        }
      }
    }

    .player-banner {
      grid-template-columns: 10fr 7fr;
      border-radius: 16px;

      .player-show-base {
        padding: 0 0 40px 40px;

        .player-show-first-name {
          font-size: 48px;
          line-height: 48px;
        }

        .player-show-name{
          font-size: 72px;
          line-height: 72px;
        }

        .player-show-positions {
          height: 36px;
          border: 2px solid #181715;

          .player-position {
            height: 32px;
            font-size: 24px;
            line-height: 30px;
            padding: 3px 4px;
          }
        }

        .player-show-score {
          margin-left: 36px;

          .player-show-score-value {
            line-height: 48px;
            font-size: 36px;
          }
        }
      }

      .player-show-avatar .player-show-face, .player-show-avatar .player-show-kit {
        right: 9%;
      }
    }

    .player-tables {
      display: block;

      .player-table {
        border-radius: 16px;
        border: 2px solid #E5E6E4;

        .player-table-title {
          font-size: 36px;
          line-height: 48px;
        }

        .player-table-row {
          border-bottom: 2px solid #F4F4F4;

          .player-table-row-key {
            font-size: 36px;
            line-height: 48px;
          }

          .player-table-row-value {
            font-size: 36px;
            line-height: 48px;

            img, object {
              width: 48px;
              height: 48px;
            }
          }
        }

        .player-table-row-last {
          border-bottom: none;
        }

        .player-table-birth {
          font-size: 24px;
          line-height: 24px;
        }
      }

      .player-tables-left .player-table .player-table-row {
        grid-template-columns: 1fr 2fr;
      }

      .performance-table {
        .player-perf-tabs {
          font-size: 32px;
        }

        .player-table-headers {
          font-size: 14px;
          line-height: 18px;
        }

        .player-table-row, .table-total {
          font-size: 22px;
          line-height: 28px;
        }
      }

      .player-teams-block  .player-teams-content {
        width: 96%;

        .player-teams-title {
          font-size: 36px;
          line-height: 48px;
        }

        .player-teams-summary {
          column-gap: 32px;
          width: 520px;

          .player-teams-summary-block {
            padding: 24px;
            width: 244px;
            height: 128px;
            border-radius: 16px;
          }

          .player-teams-summary-title {
            font-size: 24px;
            line-height: 28px;
          }

          .player-teams-summary-value {
            font-size: 44px;
            line-height: 44px;
          }
        }

        .teams-list {
          .default-headers {
            margin-bottom: 8px;
            line-height: 64px;

            .default-header-cell {
              padding: 0 16px;
              margin: 24px 0;
              font-size: 24px;
              line-height: 32px;
              height: 32px;
              border-right: 2px solid #E5E6E4;
            }

            .default-header-cell:last-child {
              border-right: none;
            }
          }

          .teams-list-grid {
            grid-template-columns: 7fr 5fr 4fr 2fr;
          }

          .teams-list-row {
            font-size: 28px;
            height: 112px;
            line-height: 112px;
            border-bottom: 2px solid #E5E6E4;
          }

          .player-team-link {
            grid-template-columns: 96px auto;
            column-gap: 16px;
          }

          img {
            width: 64px;
            height: 64px;
          }

          .teams-list-item-league {
            padding: 8px 16px;
            font-size: 24px;
            line-height: 32px;
            border-radius: 32px;
            margin: 32px 0;
          }
        }
      }
    }
  }
}

/* PLAYER REQUEST NEW page */

.player-request-page {
  .form-item {
    margin-bottom: 18px;
  }

  .form-checkbox-block {
    display: inline-block;
    margin: 4px 24px 4px 0;

    .form-checkbox {
      text-align: center;
    }
  }
}