/* PLAYER INDEX page */

.players-list {
  background-color: #F4F4F4;

  .list-items.stats-headers {
    grid-template-columns: 1fr 2fr 5fr 3fr 2fr 3fr;
  }
  .list-items.stats-players .list-row-item {
    grid-template-columns: 1fr 2fr 5fr 3fr 2fr 3fr;

    img {
      width: 28px;
      height: 28px;
    }
  }

  .list-items.list-action-items.center .list-row-item.tournaments {
    grid-template-columns: 1fr 1fr;
  }
}

/* PLAYER SHOW page */

.player-show-page {
  background-color: #F4F4F4;
  min-height: 100%;
}

.player-show {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 400px auto;
  grid-column-gap: 20px;
  height: 400px;
  max-width: 1000px;
}

.player-show-images {
  width: 100%;

  .player-show-face, .player-show-kit {
    position: absolute;
    img, object {
      width: 400px;
      height: 400px;
    }
  }
}

.player-show-info {
  padding-top: 40px;

  .list-items .list-row-item {
    grid-template-columns: 3fr 7fr;

    .player-data-cell {
      font-size: 24px;

      img {
        width: 38px;
        height: 38px;
        margin-bottom: 6px;
      }

      .flag-icon {
        margin-right: 5px;
      }

      .player-show-positions {
        .slot-position {
          display: inline-block;
          line-height: 30px;
          font-size: 18px;
        }
      }

      .player-tm-img {
        img {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}

.player-show-lineups {
  margin: 0 auto;
  max-width: 1000px;
}

#stat-lineups {
  text-align: center;

  .alert {
    padding: 7px 10px;
    margin: 10px 0 5px;
  }
}

.player-show-details, .player-show-details-headers {
  display: grid;
  font-size: 16px;
  grid-template-columns: 4fr 10fr 10fr 8fr 8fr 8fr 8fr 6fr 6fr 7fr;

}

.player-show-mp-bolder {
  font-weight: bolder;
}

.player-show-mp-param {
  width: 100%;
  line-height: 38px;
  position: relative;

  img {
    height: 26px;
    margin: 6px 0;
  }
}
