//.ready {
//  background-color: green;
//  opacity: 0.8;
//}

/* PLAYER SHOW page */

.player-show {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 400px auto;
  grid-column-gap: 20px;
  height: 400px;
  max-width: 1000px;
}

.player-show-images {
  width: 100%;

  .player-show-face, .player-show-kit {
    position: absolute;
    img {
      width: 400px;
      height: 400px;
    }
  }
}

.player-show-info {
  padding-top: 40px;

  .list-items .list-row-item {
    grid-template-columns: 3fr 7fr;

    .player-data-cell {
      font-size: 24px;

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
      }

      .flag-icon {
        margin-right: 10px;
      }

      .player-show-positions {
        .slot-position {
          display: inline-block;
          line-height: 30px;
          font-size: 18px;
        }
      }

      .player-tm-img {
        img {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}

.player-show-lineups {
  margin: 0 auto;
  max-width: 1000px;
}

#stat-lineups {
  text-align: center;

  .alert {
    padding: 7px 10px;
    margin: 10px 0 5px;
  }
}

.player-show-details, .player-show-details-headers {
  display: grid;
  font-size: 16px;
  grid-template-columns: 4% 12% 10% 10% 8% 8% 8% 8% 6% 6% 6% 7% 7%;

}

.player-show-mp-bolder {
  font-weight: bolder;
}

.player-show-mp-param {
  width: 100%;
  line-height: 38px;
  position: relative;

  img {
    height: 26px;
    margin: 6px 0;
  }
}
