.table-results {
  .page-info {
    //height: 100%;
    padding: 16px 16px 96px 288px;

    .table-block {
      padding-bottom: 64px;
    }

    .table-title {
      font-family: 'Nunito ExtraBold';
      margin: 24px 0;
      font-size: 48px;
      line-height: 48px;
      color: #181715;
    }

    .table-grid {
      display: grid;
      grid-template-columns: 1fr 19fr 62fr 16fr 16fr 16fr 16fr 14fr 14fr 14fr 16fr 21fr 42fr 13fr;
    }

    .national-grid {
      grid-template-columns: 1fr 24fr 86fr 35fr 35fr 35fr 35fr;
    }

    .table-header-dropdown {
      display: inline-block;

      .filter-grey {
        filter: invert(50%) sepia(9%) saturate(418%) hue-rotate(302deg) brightness(92%) contrast(85%);
      }
    }

    .default-header-cell {
      a {
        text-decoration: none;
        color: #847577;
      }
    }

    .table-header-cell-first {
      padding: 0;
      border-right: none;
    }

    .table-team-item {
      line-height: 56px;
      border-bottom: 1px solid #F4F4F4;
      font-size: 16px;
      text-align: right;
      color: #181715;

      img {
        width: 32px;
        height: 32px;
      }

      .table-team-data a {
        text-decoration: none;
        text-align: left;
        display: grid;
        grid-template-columns: 80px auto;
        color: #181715;

        .results-team-logo {
          text-align: center;
        }

        .results-team-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .table-cell-number {
        padding-right: 16px;
      }

      .table-team-points {
        font-family: 'Nunito ExtraBold';
      }

      .ts-cell {
        padding-right: 8px;
      }

      .table-team-opponent img {
        border: 1px solid #F4F4F4;
        border-radius: 16px;
      }

      .form-cell {
        font-family: 'Nunito ExtraBold';
        font-size: 18px;

        .team-form-item {
          display: inline-block;
          text-align: center;
          color: #4EAD57;
          width: 20px;
        }

        .team-form-D {
          color: #847577;
        }

        .team-form-L {
          color: #DB0A23;
        }
      }

      .place0 {
        background-color: #4EAD57;
      }

      //.place1, .place2 {
      //  background-color: #FFB319;
      //}
    }

    .form-cell {
      text-align: left;
      padding-left: 16px;
    }

    .league-chart-title {
      font-family: 'Nunito ExtraBold';
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
}

@media (orientation: portrait) {
  .table-results {
    .page-info {
      padding: 0 16px 288px;

      .table-title {
        margin: 0 0 32px;
        font-size: 72px;
        line-height: 96px;
      }

      .table-grid {
        grid-template-columns: 2fr 24fr 176fr 32fr 32fr 32fr 32fr 32fr 32fr 32fr 32fr;
      }

      .national-grid {
        grid-template-columns: 1fr 24fr 80fr 30fr 30fr 30fr 40fr;
      }

      .table-header-item {
        font-size: 14px;
      }

      .table-team-item {
        font-size: 24px;

        .table-team-data a {
          grid-template-columns: 60px auto;
        }
      }

      .form-cell, .next-cell, .table-team-opponent, .ts-cell {
        display: none;
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1385px) {
  .page-info.table-results {
    padding: 120px 50px 50px;

    .table-grid {
      grid-template-columns: 1fr 16fr 65fr 16fr 16fr 16fr 16fr 14fr 14fr 14fr 16fr 21fr 42fr 13fr;
    }

    .national-grid {
      grid-template-columns: 1fr 24fr 86fr 35fr 35fr 35fr 35fr;
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.table-results {
    padding: 100px 40px 50px;

    .table-grid {
      grid-template-columns: 1fr 16fr 65fr 16fr 16fr 16fr 16fr 14fr 14fr 14fr 16fr 21fr 45fr;
    }

    .national-grid {
      grid-template-columns: 1fr 24fr 86fr 35fr 35fr 35fr 35fr;
    }

    .table-team-item {
      .table-team-data a {
        grid-template-columns: 60px auto;
      }
    }

    .form-cell {
      padding-left: 30px;
    }

    .next-cell, .table-team-opponent {
      display: none;
    }
  }
}
