.results-headers {
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
  font-weight: bolder;
  background-color: #0f29a4;
  color: #6adde2;
  display: grid;
  grid-template-columns: 1.2fr 4fr 13fr 5fr;
  column-gap: 35px;

  .results-stats-cell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
    width: 100%;
  }
}

.list-results {
  .list-row-item {
    grid-template-columns: 1.2fr 4fr 13fr 5fr;
  }
  .results-team > a {
    display: grid;
    grid-template-columns: 50px auto;
  }
  .results-team-logo {
    img {
      margin-bottom: 5px;
      width: 41px;
      height: 41px;
    }
  }
  .results-team-name {
    padding-left: 10px;
    text-align: left;
    color: #001280;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .results-team-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;

    .results-team-field:not(:last-child) {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .results-team-points {
    font-weight: bold;
  }

  .results-team-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .form-item {
      width: 16px;
      height: 16px;
      margin: 17px 2px;
    }

    .form-W {
      background-color: #28a745;
    }

    .form-D {
      background-color: #6c757d;
    }

    .form-L {
      background-color: #dc3545;
    }
  }
}
