/* Team players list */

@media screen and (max-device-width: 800px)  {
  .list-team-players {
    .list-row-item {
      grid-template-columns: 100px auto 50px 60px 60px;
    }
  }
}

.club-logo {
  margin: auto;
  img {
    height: 32px;
    width: 32px;
  }
}
