/* TEAM INDEX page */

.team-card {
  margin: 15px;
  width: calc(20% - 30px);
  padding: 10px;
  border-width: 0;
  background-color: #cce5ff;

  .team-card-body {
    padding: 10px 1rem;
    height: 40px;
    font-size: 18px;
  }
  .team-card-title {
    height: 100%;
    margin: 0;
  }

  @media screen and (max-width: 1199px) {
    .team-card-body {
      height: 70px;
    }
  }

  /* #### Mobile Phones #### */
  @media screen and (max-device-width: 991px) {
    margin: 8px;
    width: calc(20% - 16px);
    .team-card-body {
      padding: 10px 0;
      height: 70px;
    }
  }

  @media screen and (max-device-width: 767px) {
    margin: 15px;
    width: calc(50% - 30px);
    .team-card-body {
      padding: 10px 1rem;
      height: 40px;
    }
  }

  @media screen and (max-device-width: 450px) {
    .team-card-body {
      padding: 10px 0;
    }
  }
}

@media screen and (max-device-width: 420px) {
  .teams-block {
    padding: 0 10px;
    .team-card {
      margin: 5px;
      width: calc(50% - 10px);
    }
  }
}


/* TEAM SHOW page */

.team-header {
  width: 100%;
  height: 60px;

  .team-logo {
    width: 60px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .team-title {
    margin-left: 15px;
    font-size: 24px;
  }
}

/* Team players list */

.table-players {
  width: 100%;
  display: grid;
  grid-template-columns: 100px auto 84px 70px 300px;
  grid-row-gap: 10px;
  font-size: 16px;

  .cell-player {
    border-bottom: 1px solid gainsboro;
  }

  .table-head {
    font-weight: bolder;
    //background-color: #cce5ff;
    border-bottom: 2px solid grey;
    height: 45px;
    padding-top: 10px;
  }

  .player-name {
    font-weight: bolder;
  }

  .player-text {
    padding-top: 12px;
  }

  .cell-player>.badge {
    width: 82px;
  }

  .cell-pl-actions {
    padding: 10px 0;
    .btn-group a {
      width: 100px;
    }
  }
}

@media screen and (max-device-width: 767px) {
  .mobile-hidden {
    display: none;
  }

  .table-players {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto 84px 60px;

    .cell-pl-actions {
      grid-column: span 4;
      border-bottom: 2px solid grey;
      padding: 10px 0;
    }
  }
}

.alien-team  {
  grid-template-columns: 100px auto 70px;

  .personal-data {
    display: none;
  }
}

/* Club logo list */

.club-logo {
  margin: auto;
  width: 50px;
  height: 50px;
  background-size: contain;
}

.ata {
  background-image: image-url('clubs/atalanta.png');
}

.bol {
  background-image: image-url('clubs/bologna.png');
}

.bre {
  background-image: image-url('clubs/brescia.png');
}

.cag {
  background-image: image-url('clubs/cagliari.png');
}

.fio {
  background-image: image-url('clubs/fiorentina.png');
}

.gen {
  background-image: image-url('clubs/genoa.png');
}

.int {
  background-image: image-url('clubs/inter.png');
}

.juv {
  background-image: image-url('clubs/juventus.png');
}

.laz {
  background-image: image-url('clubs/lazio.png');
}

.lec {
  background-image: image-url('clubs/lecce.png');
}

.mil {
  background-image: image-url('clubs/milan.png');
}

.nap {
  background-image: image-url('clubs/napoli.png');
}

.par {
  background-image: image-url('clubs/parma.png');
}

.rom {
  background-image: image-url('clubs/roma.png');
}

.sam {
  background-image: image-url('clubs/sampdoria.png');
}

.sas {
  background-image: image-url('clubs/sassuolo.png');
}

.spa {
  background-image: image-url('clubs/spal.png');
}

.tor {
  background-image: image-url('clubs/torino.png');
}

.udi {
  background-image: image-url('clubs/udinese.png');
}

.ver {
  background-image: image-url('clubs/verona.png');
}

/* Team lineups list */

.lineup-hint {
  margin-top: 16px;
}

.lineup-tour-item {
  border-top: 1px solid gainsboro;
  padding: 16px 0;
  display: grid;
  grid-template-columns: 22% 26% 26% 26%;

  .lineup-tour-cell {
    text-align: center;
    margin-right: 10px;
  }

  .alert {
    margin: 0;
    height: 100%;
  }

  .lineup-tour-number {
    font-size: 56px;
    font-weight: bolder;
    padding: 0;
  }

  .lineup-tour-link {
    height: 100%;
    width: 100%;
  }

  .lineup-tour-value {
    font-size: 24px;
    font-weight: bolder;
  }

  .lineup-tour-module > a, .lineup-tour-number > a {
    text-decoration: none;
  }

  .lineup-tour-btn {
    width: 100%;
    margin-top: 10px;
  }

  .lineup-tour-cell-active {
    grid-row: span 2;

    .lineup-tour-link {
      display: table;
      width: 100%;

      .lineup-tour-number-link{
        display: table-cell;
        vertical-align: middle;
        height: 84px;
      }
    }
  }
}
