.team-card {
  margin: 15px;
  width: calc(20% - 30px);
  padding: 10px;
  border-width: 0;
  background-color: #cce5ff;

  .team-card-body {
    padding: 10px 1rem;
    height: 40px;
  }
  .team-card-title {
    height: 100%;
    margin: 0;
  }

  @media screen and (max-width: 1199px) {
    .team-card-body {
      height: 70px;
    }
  }

  /* #### Mobile Phones #### */
  @media screen and (max-device-width: 991px) and (orientation: landscape){
    margin: 8px;
    width: calc(20% - 16px);
    .team-card-body {
      padding: 10px 0.5rem;
      height: 70px;
    }
  }

  @media screen and (max-device-width: 767px) {
    margin: 15px;
    width: calc(50% - 30px);
    .team-card-body {
      padding: 10px 1rem;
      height: 40px;
    }
  }

  @media screen and (max-device-width: 420px) {
    margin: 20px 50px;
    width: calc(100% - 100px);
    .team-card-body {
      padding: 10px 1.5rem;
    }
  }
}

.club-logo {
  margin: auto;
  width: 60px;
  height: 60px;
  background-size: contain;
}

.ata {
  background-image: image-url('clubs/atalanta.png');
}

.bol {
  background-image: image-url('clubs/bologna.png');
}

.bre {
  background-image: image-url('clubs/brescia.png');
}

.cag {
  background-image: image-url('clubs/cagliari.png');
}

.fio {
  background-image: image-url('clubs/fiorentina.png');
}

.gen {
  background-image: image-url('clubs/genoa.png');
}

.int {
  background-image: image-url('clubs/inter.png');
}

.juv {
  background-image: image-url('clubs/juventus.png');
}

.laz {
  background-image: image-url('clubs/lazio.png');
}

.lec {
  background-image: image-url('clubs/lecce.png');
}

.mil {
  background-image: image-url('clubs/milan.png');
}

.nap {
  background-image: image-url('clubs/napoli.png');
}

.par {
  background-image: image-url('clubs/parma.png');
}

.rom {
  background-image: image-url('clubs/roma.png');
}

.sam {
  background-image: image-url('clubs/sampdoria.png');
}

.sas {
  background-image: image-url('clubs/sassuolo.png');
}

.spa {
  background-image: image-url('clubs/spal.png');
}

.tor {
  background-image: image-url('clubs/torino.png');
}

.udi {
  background-image: image-url('clubs/udinese.png');
}

.ver {
  background-image: image-url('clubs/verona.png');
}
