/* TOURNAMENT SHOW page */

.page-info.tournament-page {
  height: 100%;
  padding: 50px 50px 50px 122px;

  .tournament-head {
    margin: 48px 100px;
    display: grid;
    grid-template-columns: 72px auto;

    .tournament-logo {
      text-align: center;

      img {
        width: 72px;
        height: 72px;
      }
    }

    .tournament-title {
      padding-left: 32px;
      font-weight: bold;
      font-size: 48px;
      line-height: 72px;
      color: #181715;
    }
  }

  .tournaments-fixture {
    margin: 12px 200px 48px;

    .tournament-head {
      margin: 48px 50px;
    }

    .round-title {
      font-size: 18px;
      line-height: 32px;
      margin-top: 12px;
      text-align: center;
    }
  }
}

@media (orientation: portrait) {
  .page-info.tournament-page {
    padding: 200px 50px 50px;

    .tournaments-fixture {
      margin: 12px 50px 48px;
    }
  }
}
