/* ROUNDS INDEX page */
.page-info.rounds-page {
  min-height: 100%;
  padding: 0 0 0 272px;
  display: grid;
  grid-template-columns: auto 288px;

  a { text-decoration: none }

  .round-section {
    padding: 16px;

    .rounds-block {
      padding-bottom: 16px;
      border-bottom: 1px solid #E5E6E4;

      .round-link-block {
        display: inline-block;
        text-align: center;
        background: #F4F4F4;
        border: 1px solid #F4F4F4;
        color: #847577;
        border-radius: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        width: 56px;
        margin: 4px;
      }

      .round-link-block:hover {
        background: #D8D6FF;
        border: 1px solid #D8D6FF;
        color: #261FFF;
      }

      .round-set_lineup, .round-locked {
        color: #261FFF;
        border: 1px solid #D8D6FF;
        line-height: 38px;
        background: #FFFFFF;
      }

      .round-postponed {
        color: #DB0A23;
        background: #FFFFFF;
        border: 1px solid #FCC5CB;
        line-height: 38px;
      }

      .round-inactive {
        background-color: #FFFFFF;
        border: 1px solid #F4F4F4;
        line-height: 38px;
        color: #181715;
      }

      .round-current-true {
        background-color: #261FFF;
        color: #FFFFFF;
        border: none;
        line-height: 40px;
      }
    }

    .round-item {
      padding: 32px 0 0;

      .round-base {
        display: grid;
        grid-template-columns: auto 204px;
        line-height: 32px;
        color: #181715;
        padding-bottom: 16px;

        .round-title {
          font-weight: bold;
          font-size: 32px;
          line-height: 32px;

          .round-title-text, .round-title-icon {
            display: inline-block;
          }

          .round-title-number {
            display: inline-block;
            color: #847577;
            font-weight: 400;
          }

          img {
            width: 26px;
            height: 26px;
            margin-top: -6px;
          }
        }
      }

      .round-add-data {
        padding-left: 35px;
        line-height: 24px;
        margin-bottom: 12px;

        .round-add-data-inactive {
          font-weight: 400;
          font-size: 16px;
        }

        .round-deadline {
          display: grid;
          grid-template-columns: 80px 144px 144px;
          column-gap: 8px;

          .round-deadline-text {
            font-weight: 500;
            font-size: 12px;
            text-align: right;
          }

          .round-deadline-value {
            border: 1px solid #FCC5CB;
            border-radius: 4px;
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            color: #DB0A23;
            text-align: center;
          }

          .round-deadline-countdown {
            font-weight: 400;
            font-size: 14px;
            color: #847577;
          }
        }

        .round-finished {
          background: #E5E6E4;
          border-radius: 4px;
          font-size: 14px;
          line-height: 16px;
          padding: 4px 8px;
          display: grid;
          grid-template-columns: 92px 92px;
          width: 190px;

          .round-finished-date {
            font-weight: 400;
            color: #847577;
          }
        }
      }

      .round-match-item {
        width: 100%;
        border-bottom: 1px solid #E5E6E4;
        padding: 16px 0;
        line-height: 56px;
        display: grid;
        column-gap: 8px;

        .round-match-team {
          a {
            color: #040052;
            font-weight: 400;
            font-size: 18px;
            display: grid;
            grid-template-columns: auto 80px;
            text-align: right;
          }

          img {
            margin: 4px 16px;
            width: 48px;
            height: 48px;
          }

          .results-team-name {
            color: #181715;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .round-match-team:hover .results-team-name {
          color: #261FFF;
        }

        .round-match-guest a {
          grid-template-columns: 80px auto;
          text-align: left;
        }
      }

      .round-match-unlocked {
        grid-template-columns: 88px 8fr 120px 8fr 88px;

        .round-match-status {
          font-weight: 500;
          font-size: 12px;

          .round-lineup-not-set {
            color: #A6A2A2;
          }

          .round-lineup-set {
            color: #4EAD57;
          }
        }

        .round-match-status-guest {
          text-align: right;
        }

        .round-match-vs {
          background-color: #FFEBC2;
          font-weight: 700;
          font-size: 18px;
          text-align: center;
          border-radius: 4px;

          a {
            color: #261FFF;
            display: block;
          }
        }

        .round-match-vs-inactive {
          background: #E5E6E4;
        }

        .round-match-vs-set_lineup:hover {
          background: #261FFF;
          a {
            color: #D8D6FF;
          }
        }
      }

      .round-lineup-actions {
        display: grid;
        grid-template-columns: 40px 40px;
        column-gap: 8px;

        .round-lineup-clone {
          border-radius: 20px;
        }
      }

      .round-match-locked {
        grid-template-columns: 8fr 3fr 120px 3fr 8fr;

        .round-match-result {
          a {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: #BA44F1;
            border-radius: 4px;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            padding: 12px 0;
            text-align: center;
            color: #F4F4F4;

            .round-match-host-goals {
              border-right: 1px solid #EAC6FB70;
            }
          }

          a:hover {
            background: #261FFF;

            .round-match-host-goals {
              border-right: 1px solid #006EF5;
            }
          }
        }

        .round-match-score {
          text-align: center;
          line-height: 32px;
          margin: 12px 0;

          .round-match-total-score {
            display: inline-block;
            font-weight: bold;
            font-size: 24px;
            color: #040052;
          }

          .round-match-scores-count {
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            color: #847577;
            top: -12px;
            position: relative;
          }
        }

        .round-match-host-score {
          border-left: 1px solid #E5E6E4;
        }

        .round-match-guest-score {
          border-right: 1px solid #E5E6E4;
        }
      }

      .round-match-closed {
        grid-template-columns: 1fr 120px 1fr;
        padding: 0;
        line-height: 92px;

        .round-match-goals {
          display: grid;
          grid-template-columns: 1fr 1fr;
          background-color: #181715;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          padding: 12px 0;
          text-align: center;
          color: #F4F4F4;
          margin-top: 19px;
          border-radius: 4px;

          .round-match-host-goals {
            border-right: 1px solid #847577;
          }
        }

        .round-match-total-score {
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-weight: 500;
          font-size: 10px;
          line-height: 14px;
          color: #847577;
          text-align: center;
          margin-top: 2px;
        }

        .round-match-result:hover .round-match-goals {
          background: #261FFF;

          .round-match-host-goals {
            border-right: 1px solid #006EF5;
          }
        }
      }

      .fanta-block {
        display: grid;
        grid-template-columns: 9fr 5fr;
        column-gap: 9%;
        margin-top: 40px;

        .block-title {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #181715;
        }

        .lineups-block {
          .block-title {
            margin-bottom: 16px;
          }

          .team-row {
            border-bottom: 1px solid #E5E6E4;
            padding: 8px 0;
            height: 48px;
            display: grid;
            grid-template-columns: 32px auto 48px;
            column-gap: 16px;
            line-height: 32px;

            .team-row-name {
              font-size: 14px;
              color: #847577;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .team-row-name-lineup {
              font-weight: 400;
              font-size: 12px;
              color: #847577;
              text-align: right;
            }

            img {
              width: 32px;
              height: 32px;
            }
          }

          .team-lineup-true {
            .team-row-name {
              color: #181715;
            }

            .team-row-name-lineup {
              font-weight: 700;
              color: #4EAD57;
            }
          }

          .self-team {
            border-bottom: 1px solid #181715;

            .team-row-name {
              color: #181715;

              a {
                color: #181715;
                width: 100%;
                display: block;
              }

              a:hover {
                color: #261FFF;
              }
            }

            .round-lineup-actions {
              margin-left: auto;
              margin-right: 0;
            }
          }

          .self-team.team-lineup-true {
            grid-template-columns: 32px auto 84px;

            .round-lineup-actions {
              display: grid;
              grid-template-columns: 32px 48px;
              column-gap: 4px;
              margin: 0;

              .round-lineup-set-block {
                width: 48px;
              }
            }
          }

          .tour-deadlined {
            .team-row {
              grid-template-columns: 32px 32px auto 48px;
              column-gap: 8px;
              color: #181715;

              .team-row-name {
                color: #181715;
              }

              .lineup-team-position {
                text-align: center;
              }

              .lineup-result {
                padding: 8px;
                background: #BA44F1;
                border-radius: 4px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                text-align: center;
              }
            }

            .team-row:hover {
              .team-row-name {
                color: #261FFF;
              }
            }
          }

          .tour-closed-true {
            .team-row .lineup-result {
              background: #181715;
            }
          }
        }

        .round-lineup-actions {
          display: block;
          width: 32px;

          .round-lineup-set-squad {
            margin: 0;
            font-size: 10px;
            line-height: 14px;
            height: 32px;
            padding: 4px;

            img {
              width: 24px;
              height: 24px;
            }
          }

          .round-lineup-edit {
            margin: 0;
            line-height: 30px;

            img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .page-info.rounds-page {
    padding: 0 0 0 272px;
    display: block;

    .round-section .round-item .fanta-block {
      grid-template-columns: 7fr 5fr;
      column-gap: 16px;
    }

    .stats-section {
      .round-table {
        .round-table-item, .round-tournament-match {
          font-size: 16px;
        }
      }
    }
  }
}

@media (orientation: landscape) and (max-device-width: 1220px) {
  .page-info.rounds-page {
    padding: 0 0 0 272px;
    display: block;

    .stats-section {
      .round-table {
        .round-table-item, .round-tournament-match {
          font-size: 16px;
        }
      }
    }
  }
}
