/* TOURS INDEX page */

.tours-block {
  margin: 30px 0;
  text-align: justify;
}

@media screen and (min-device-width: 1200px) {
  .tours-block {
    margin: 30px 100px;
  }
}

.current-tour-data {
  width: 100%;
  display: grid;
  grid-template-columns: auto 105px;

  .tour-date {
    font-size: 24px;
    font-weight: bold;
  }

  .tour-deadline {
    font-size: 16px;
    font-weight: 700;
  }
}

.tour-short-item {
  margin: 0;

  a {
    text-decoration: none;
  }

  .tour-short-data {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 10px;
  }

  .tour-short-info {
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 72px;
    font-weight: bolder;
  }

  .tour-short-match {
    width: 100%;
    display: grid;
    grid-template-columns: 38% auto 38%;
    grid-column-gap: 10px;
    font-size: 16px;
  }

  .tour-short-host {
    text-align: right;
  }

  .tour-short-result {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    font-weight: bolder;
  }

  //@media screen and (max-device-width: 500px) {
  //  padding: 10px;
  //
  //  .tour-short-data {
  //    grid-template-columns: 60px auto;
  //    grid-column-gap: 5px;
  //  }
  //}
}

.tour-start-btn {
  margin-top: 15px;
}

.not-active {
  height: 400px;
  width: 100%;
  background: image-url('tour-start-soon.png') white no-repeat center;
  background-size: contain;
}

/* TOUR SHOW page */

.match-team-card {
  width: calc(50% - 3px);
  display: inline-block;

  a {
    min-height: 60px;
  }
}

.team-tour-card {
  height: 100%;
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: 96px auto 110px;
  grid-column-gap: 10px;
}

.team-tour-info-block {
  display: inline-block;
}

.match-team-logo {
  img {
    width: 100%;
    max-height: 96px;
  }
}

.team-tour-goals {
  font-size: 48px;
  font-weight: bolder;
}

.team-tour-info {
  vertical-align: top;

  a {
    font-size: 18px;
    font-weight: bolder;
  }
  p {
    font-style: italic;
    margin-top: 15px;
  }
}

.team-tour-result {
  text-align: center;
  p {
    margin: 0;
  }
}

@media screen and (max-device-width: 991px) {
  .match-team-card:first-child {
    margin-bottom: 10px;
  }

  .match-team-card {
    width: 100%;
    display: block;
  }
}

@media screen and (max-device-width: 500px) {
  .team-tour-card {
    grid-template-columns: 80px auto 80px;
    grid-column-gap: 5px;
  }
}
