/* TOURNAMENT SHOW page */

.page-info.transfers-page {
  height: 100%;
  padding: 120px 0 50px;

  .transfers-head {
    margin: 18px 100px;
    display: grid;
    grid-template-columns: 64px auto;

    .tournament-logo {
      text-align: center;

      img {
        width: 64px;
        height: 64px;
      }
    }

    .transfers-title {
      padding-left: 32px;
      font-weight: bold;
      font-size: 42px;
      line-height: 64px;
      color: #181715;
    }
  }

  .teams-section {
    background-color: #FFEBC2;
    width: 100%;
    height: 174px;
    text-align: center;

    .team-bar-item {
      display: inline-block;
      width: 8%;
      padding-top: 6px;
      margin: 8px 4px;
      background-color: #FFFFFF;
      border-radius: 4px;
    }

    .team-bar-item-logo {
      text-align: center;
      margin: 8px 0;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .team-bar-item-name {
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
    }

    .team-bar-item-budget {
      background-color: #D0F0D4;
    }

    .team-bar-item-players {
      background-color: #EDF67D;
    }

    .team-bar-players0 {
      background-color: #F67D7D;
    }
  }

  .search-section {
    margin: 54px 100px 32px;

    .search-input {
      display: grid;
      grid-template-columns: auto 100px;
      max-width: 800px;
      margin: auto;

      .btn-search {
        background-color: #261FFF;
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;
        height: 38px;
        text-align: center;

        img {
          width: 18px;
          height: 18px;
          top: -7px;
          position: relative;
        }

        .filter-white {
          filter: invert(100%) sepia(0%) saturate(3519%) hue-rotate(170deg) brightness(113%) contrast(100%);
        }
      }
    }
  }

  .players-section {
    margin: 32px 100px;

    a {
      text-decoration: none;
    }

    .auction-players {
      margin: auto;
      max-width: 800px;
    }

    .auction-player-item {
      position: relative;

      .player-sold {
        position: absolute;
        color: red;
        z-index: 103;
        border: 3px solid red;
        font-size: 24px;
        padding: 0 8px;
        top: 15px;
        left: 18px;
        transform: rotate(-0.02turn);
      }
    }

    .players-section-grid {
      display: grid;
      grid-template-columns: 5fr 3fr 2fr 2fr 2fr 1fr;
    }

    .auction-players-headers {
      padding: 32px 0 12px;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      color: #847577;

      .team-players-header-position {
        padding-left: 16px;
      }
    }

    .auction-player-item {
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 4px;
      height: 72px;
      border: 1px solid #E5E6E4;

      .team-player-data {
        background: #FFEBC2;
        display: grid;
        grid-template-columns: 72px auto;

        .team-player-name {
          font-size: 12px;
          line-height: 16px;
          color: #181715;
          padding: 13px 0;
          text-align: left;

          .team-player-last-name {
            width: 172px;
            height: 24px;
            line-height: 24px;
            font-size: 18px;
            font-weight: 500;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
          }
        }

        .team-player-avatar {
          padding: 5px 3px 0;
          width: 100%;

          .player-show-face, .player-show-kit {
            position: absolute;

            img, object {
              height: 66px;
              width: 66px;
            }
          }
        }
      }

      .team-player-position {
        padding: 22px 0 0 16px;

        .slot-position {
          display: inline-block;
          line-height: 24px;
          font-size: 12px;
          height: 24px;
          width: 30px;
          border-radius: 4px;
        }
      }

      .team-player-club {
        text-align: center;

        img, object {
          width: 32px;
          height: 32px;
        }

        object {
          position: relative;
          top: 19px;
        }
      }

      .team-player-age{
        font-size: 24px;
        line-height: 70px;
        text-align: center;
        color: #847577;
      }

      .team-player-nationality {
        margin: auto;

        .flag-icon {
          height: 24px;
          width: 32px;
          vertical-align: middle;
        }
      }

      .team-player-link {
        margin-top: 21px;

        img {
          width: 14px;
          height: 8px;
        }
      }
    }

    .auction-not-found {
      text-align: center;
    }
  }

  .player-section {
    width: 100%;

    .player-banner {
      height: 240px;
      padding: 0 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .player-show-base {
        color: #FFFFFF;
        padding: 0 0 40px 64px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .player-show-name {
          font-weight: bold;
          font-size: 44px;
          line-height: 48px;
          margin: 8px 0 16px;
        }

        .player-show-first-name {
          font-size: 32px;
          line-height: 32px;
        }

        .player-show-positions {
          display: inline-block;

          .slot-position {
            display: inline-block;
            font-size: 16px;
          }
        }
      }

      .player-timer {
        color: #FFFFFF;
        text-align: center;
        margin: auto;

        .player-timer-desc {
          line-height: 48px;
          font-size: 24px;
          height: 48px;
        }

        #timer {
          line-height: 72px;
          font-size: 64px;
          height: 72px;
        }
      }

      .player-show-avatar {
        padding-top: 20px;
        width: 100%;

        .player-show-face, .player-show-kit {
          position: absolute;
          right: 16%;

          img, object {
            width: 220px;
            height: 220px;
          }
        }
      }
    }

    .transfer-form {
      margin: 54px 100px 32px;

      .transfer-form-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        max-width: 800px;
        margin: auto;
      }
    }
  }
}
