.welcome-page, .start-page, .about-page, .contact-page, .rules-page, .guide-page, .login-page {
  position:relative;
  height: 100%;
  width: 100%;
  font-family: 'Mont SemiBold';

  .left-block {
    margin: 13% 35% 15% 12%;
    width: 700px;
    height: 75%;
    display: grid;
    grid-template-rows: 40% 15% 45%;

    .title-block {
      .title-bg {
        background: #FFEBC2;
        margin-top: 10%;
        height: 69%;
      }
      .title-text {
        font-style: normal;
        font-weight: bold;
        font-size: 128px;
        line-height: 128px;
        padding-left: 25px;
        position: absolute;
        width: 500px;
        color: #261FFF;
        font-family: 'Mont Bold';
      }
    }
    .slogan-block {
      padding-left: 25px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: #181715;

      .slogan-start {
        display: inline-block;
        font-weight: bold;
      }

      .slogan-end {
        display: inline-block;
      }
    }
    .description-block {
      padding-left: 25px;
      font-style: normal;
      line-height: 24px;
      color: #181715;

      .description-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .description-item {
        font-weight: normal;
        line-height: 32px;
        font-size: 16px;
        margin-bottom: 8px;
        display: grid;
        grid-template-columns: 32px auto;
        column-gap: 16px;

        .description-icon {
          width: 100%;
          height: 100%;
          border-radius:50%;
          background: #FFEBC2;

          img {
            margin: auto 8px;
          }
        }

        .description-icon2 {
          background: #D0F0D4;
        }

        .description-icon3 {
          background: #D8D6FF;

          img {
            margin: auto 10px;
          }
        }

        .description-icon4 {
          background: #EAC6FB;
        }
      }
    }
  }

  .right-block {
    position: fixed;
    width: 25%;
    height: 100%;
    right: 0;
    background: #261FFF;
    z-index: 10;

    .pitch-layer {
      width: 100%;
      height: 100%;
      z-index: 15;
      opacity: 0.5;
      box-sizing: border-box;
      background: image_url('pitch.png') no-repeat left;
    }

    .player-layer {
      z-index: 25;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 40%;

      .player-image-wrapper {
        width: 100%;
        height: 83%;
        position: absolute;
        left: 0;
        bottom: 0;

        .player-image {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;

          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}

.rules-page .right-block .player-layer {
  right: 68%;
}

.guide-page {
  .right-block .player-layer {
    right: 63%;
  }
}

.welcome-subpage {
  .left-block {
    grid-template-rows: 20% 80%;

    .title-block {
      .title-bg {
        background: #D0F0D4;
        margin-top: 3%;
        height: 50%;
      }

      .title-text {
        font-size: 72px;
        line-height: 72px;
        padding-left: 25px;
        color: #261FFF;
      }
    }
  }
}

.contact-page {
  .left-block {
    grid-template-rows: 20% 15% 15% 50%;

    img {
      width: 50px;
      height: 50px;
    }

    .contact-block {
      display: grid;
      grid-template-columns: 65% auto;
      padding: 0 150px;
      font-size: 24px;
      line-height: 50px;
      color: #181715;

      .contact-text {
        width: 100%;
        margin: auto;
        text-align: left;
        padding-left: 58px;
      }

      .social-media-link {
        margin: auto auto auto 20px;
      }
    }

    .follow-block {
      padding: 40px 150px;
      display: grid;
      grid-template-rows: 50px auto;
      font-size: 24px;
      line-height: 50px;
      color: #181715;

      .follow-title {
        width: 100%;
        margin: auto;
        padding-left: 58px;
      }

      .follow-links {
        margin: 0 auto auto auto;
        line-height: 100px;
      }

      .social-media-link {
        display: inline-block;
        padding: 0 20px;
      }
    }
  }
  .right-block .player-layer {
    right: 68%;
  }
}

.about-page {
  .left-block {
    .about-block {
      font-size: 22px;
      line-height: 32px;
      color: #181715;

      .about-item {
        padding: 24px 100px 0 25px;
      }

      .join-us {
        font-size: 26px;
        font-weight: bolder;
      }
    }
  }

  .right-block .player-layer {
    right: 63%;
  }
}

.login-page .login-block {
  padding: 50px 25px;
}

.start-page {
  .left-block {
    grid-template-rows: 20% 80%;

    .title-block {
      .title-bg {
        margin-top: 4%;
        height: 35%;
      }

      .title-text {
        font-size: 50px;
        padding-left: 25px;
      }
    }
  }

  .right-block .player-layer {
    right: 68%;
  }
}
