.welcome-page {
  position:relative;
  height: 100%;
  width: 100%;
  background: #E5E5E5;
  font-family: 'Mont SemiBold';

  .left-block {
    margin: 13% 35% 15% 12%;
    width: 650px;
    height: 66%;
    display: grid;
    grid-template-rows: 45% 18% 37%;

    .title-block {
      .title-bg {
        background: #FFEBC2;
        margin-top: 10%;
        height: 69%;
      }
      .title-text {
        font-style: normal;
        font-weight: bold;
        font-size: 128px;
        line-height: 128px;
        padding-left: 25px;
        position: absolute;
        width: 500px;
        color: #261FFF;
        font-family: 'Mont Bold';
      }
    }
    .slogan-block {
      padding-left: 25px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: #181715;

      .slogan-start {
        display: inline-block;
        font-weight: bold;
      }

      .slogan-end {
        display: inline-block;
      }
    }
    .description-block {
      padding-left: 25px;
      font-style: normal;
      line-height: 24px;
      color: #181715;

      .description-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .description-item {
        font-weight: normal;
        line-height: 32px;
        font-size: 16px;
        margin-bottom: 8px;
        display: grid;
        grid-template-columns: 32px auto;
        column-gap: 16px;

        .description-icon {
          width: 100%;
          height: 100%;
          border-radius:50%;
          background: #FFEBC2;

          img {
            margin: auto 8px;
          }
        }

        .description-icon2 {
          background: #D0F0D4;
        }

        .description-icon3 {
          background: #D8D6FF;

          img {
            margin: auto 10px;
          }
        }

        .description-icon4 {
          background: #EAC6FB;
        }
      }
    }
  }

  .right-block {
    background: #261FFF;
    z-index: 10;

    .pitch-layer {
      width: 100%;
      height: 100%;
      z-index: 15;
      opacity: 0.5;
      box-sizing: border-box;
      background: image_url('pitch.png') no-repeat left;
    }

    .player-layer {
      z-index: 25;
      width: 25%;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 10%;

      .player-image-wrapper {
        width: 100%;
        height: 83%;
        position: absolute;
        left: 0;
        bottom: 0;

        .player-image {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;

          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}
