.dataColumn {
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  color: #181715;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--border-color);
    height: 1px;
  }

  @media (max-width: 768px) {
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.noWrap {
  white-space: nowrap;
}

.sticky {
  background-color: #fff;
  z-index: 2;
  position: sticky;
  left: 0;
}
