.dataColumn {
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  color: #181715;

  @media (max-width: 991px) {
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 4px;
  }
}

.withBorder {
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--border-color);
    height: 1px;
    pointer-events: none;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.noWrap {
  white-space: nowrap;
}
