.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  position: relative;
  padding: 11px;
  border: 1px solid #e5e6e4;
  border-radius: 4px;

  &.hoverableItem {
    &:hover {
      background-color: #f4f4f4;
    }
  }
}

.itemLink {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.emptyState {
  padding: 24px;

  @media (max-width: 768px) {
    padding: 12px;
  }
}
