.container.navbar
  .nav-profile
    .nav-profile-link
      = link_to current_user.email, edit_user_registration_path if user_signed_in?
  .btn-group.large-navbar{role: 'group'}
    = render 'layouts/navbar_links'
  .btn-group.mobile-navbar{role: 'group'}
    .btn-group-vertical.mobile-vertical-btn
      = render 'layouts/navbar_links'
