.container.navbar
  .btn-group{role: 'group'}
    = link_to 'Teams', teams_path, class: 'btn btn-outline-primary'
    = link_to 'Tours', tours_path, class: 'btn btn-outline-primary'
    = link_to 'Useful Links', links_path, class: 'btn btn-outline-primary'
