.container.navbar
  .btn-group.large-navbar{role: 'group'}
    = render 'layouts/navbar_links'
  .btn-group.mobile-navbar{role: 'group'}
    .btn-group-vertical.mobile-vertical-btn
      = render 'layouts/navbar_links'
